<div class="row">
  <div class="col-6 slot-page_items">
    <div class="slot-page_items__item">
      <img class="slot-page_items__item__img" src="assets/images/home/slot-page/1.png"/>
      <div class="slot-page_items__item__content">
        <span data-i18n="slot_page.Street_Fighter"></span>
        <img src="assets/images/home/slot-page/head.png"/>
      </div>
    </div>
  </div>
  <div class="col-6 slot-page_items">
    <div class="slot-page_items__item">
      <img class="slot-page_items__item__img" src="assets/images/home/slot-page/2.png"/>
      <div class="slot-page_items__item__content">
        <span data-i18n="slot_page.Kingdom_Era"></span>
        <img src="assets/images/home/slot-page/head.png"/>
      </div>
    </div>
  </div>
  <div class="col-6 slot-page_items">
    <div class="slot-page_items__item">
      <img class="slot-page_items__item__img" src="assets/images/home/slot-page/3.png"/>
      <div class="slot-page_items__item__content">
        <span data-i18n="slot_page.Zombie_Fight"></span>
        <img src="assets/images/home/slot-page/head.png"/>
      </div>
    </div>
  </div>
  <div class="col-6 slot-page_items">
    <div class="slot-page_items__item">
      <img class="slot-page_items__item__img" src="assets/images/home/slot-page/4.png"/>
      <div class="slot-page_items__item__content">
        <span data-i18n="slot_page.Harry_Potter"></span>
        <img src="assets/images/home/slot-page/head.png"/>
      </div>
    </div>
  </div>
  <div class="col-6 slot-page_items">
    <div class="slot-page_items__item">
      <img class="slot-page_items__item__img" src="assets/images/home/slot-page/5.png"/>
      <div class="slot-page_items__item__content">
        <span data-i18n="slot_page.Classic_LaBa"></span>
        <img src="assets/images/home/slot-page/head.png"/>
      </div>
    </div>
  </div>
  <div class="col-6 slot-page_items">
    <div class="slot-page_items__item">
      <img class="slot-page_items__item__img" src="assets/images/home/slot-page/6.png"/>
      <div class="slot-page_items__item__content">
        <span data-i18n="slot_page.Relic_Adventure"></span>
        <img src="assets/images/home/slot-page/head.png"/>
      </div>
    </div>
  </div>
  <div class="col-6 slot-page_items">
    <div class="slot-page_items__item">
      <img class="slot-page_items__item__img" src="assets/images/home/slot-page/11.png"/>
      <div class="slot-page_items__item__content">
        <span data-i18n="slot_page.Plant_VS_Zombie"></span>
        <img src="assets/images/home/slot-page/head.png"/>
      </div>
    </div>
  </div>
  <div class="col-6 slot-page_items">
    <div class="slot-page_items__item">
      <img class="slot-page_items__item__img" src="assets/images/home/slot-page/12.png"/>
      <div class="slot-page_items__item__content">
        <span data-i18n="slot_page.Golden_Miner"></span>
        <img src="assets/images/home/slot-page/head.png"/>
      </div>
    </div>
  </div>
  <div class="col-6 slot-page_items">
    <div class="slot-page_items__item">
      <img class="slot-page_items__item__img" src="assets/images/home/slot-page/7.png"/>
      <div class="slot-page_items__item__content">
        <span data-i18n="slot_page.Candy_World"></span>
        <img src="assets/images/home/slot-page/head.png"/>
      </div>
    </div>
  </div>
  <div class="col-6 slot-page_items">
    <div class="slot-page_items__item">
      <img class="slot-page_items__item__img" src="assets/images/home/slot-page/8.png"/>
      <div class="slot-page_items__item__content">
        <span data-i18n="slot_page.Monster_Quest"></span>
        <img src="assets/images/home/slot-page/head.png"/>
      </div>
    </div>
  </div>
  <div class="col-6 slot-page_items">
    <div class="slot-page_items__item">
      <img class="slot-page_items__item__img" src="assets/images/home/slot-page/9.png"/>
      <div class="slot-page_items__item__content">
        <span data-i18n="slot_page.Magic_Girls"></span>
        <img src="assets/images/home/slot-page/head.png"/>
      </div>
    </div>
  </div>
  <div class="col-6 slot-page_items">
    <div class="slot-page_items__item">
      <img class="slot-page_items__item__img" src="assets/images/home/slot-page/10.png"/>
      <div class="slot-page_items__item__content">
        <span data-i18n="slot_page.Alladdin"></span>
        <img src="assets/images/home/slot-page/head.png"/>
      </div>
    </div>
  </div>
</div>