<ul class="brandlogo-nav-tab nav nav-tabs" id="brandlogo12Tab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="brandlogo12-all-tab" data-bs-toggle="tab" data-bs-target="#brandlogo12-all" type="button" role="tab" aria-controls="brandlogo12-all" aria-selected="true" data-i18n="play_now_page.All"></button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="brandlogo12-hot-tab" data-bs-toggle="tab" data-bs-target="#brandlogo12-hot" type="button" role="tab" aria-controls="brandlogo12-hot" aria-selected="false" data-i18n="play_now_page.Hot"></button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="brandlogo12-arcade-tab" data-bs-toggle="tab" data-bs-target="#brandlogo12-arcade" type="button" role="tab" aria-controls="brandlogo12-arcade" aria-selected="false" data-i18n="play_now_page.Arcade"></button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="brandlogo12-jackpot-tab" data-bs-toggle="tab" data-bs-target="#brandlogo12-jackpot" type="button" role="tab" aria-controls="brandlogo12-jackpot" aria-selected="false" data-i18n="play_now_page.Jackpot"></button>
  </li>
</ul>
<div class="brandlogo-tab-content tab-content" id="brandlogo12TabContent">
  <div class="tab-pane fade show active" id="brandlogo12-all" role="tabpanel" aria-labelledby="brandlogo12-all-tab">
    <!-- brandlogo12-all -->
    @@include('./brandlogo12-content-all.html')
  </div>
  <div class="tab-pane fade" id="brandlogo12-hot" role="tabpanel" aria-labelledby="brandlogo12-hot-tab">
    <!-- brandlogo12-hot -->
    @@include('./brandlogo12-content-all.html')
  </div>
  <div class="tab-pane fade" id="brandlogo12-arcade" role="tabpanel" aria-labelledby="brandlogo12-arcade-tab">
    <!-- brandlogo12-arcade -->
    @@include('./brandlogo12-content-all.html')
  </div>
  <div class="tab-pane fade" id="brandlogo12-jackpot" role="tabpanel" aria-labelledby="brandlogo12-jackpot-tab">
    <!-- brandlogo12-jackpot -->
    @@include('./brandlogo12-content-all.html')
  </div>
</div>