<ul class="brandlogo-nav-tab nav nav-tabs" id="brandlogo1Tab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="brandlogo1-all-tab" data-bs-toggle="tab" data-bs-target="#brandlogo1-all" type="button" role="tab" aria-controls="brandlogo1-all" aria-selected="true" data-i18n="play_now_page.All"></button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="brandlogo1-hot-tab" data-bs-toggle="tab" data-bs-target="#brandlogo1-hot" type="button" role="tab" aria-controls="brandlogo1-hot" aria-selected="false" data-i18n="play_now_page.Hot"></button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="brandlogo1-arcade-tab" data-bs-toggle="tab" data-bs-target="#brandlogo1-arcade" type="button" role="tab" aria-controls="brandlogo1-arcade" aria-selected="false" data-i18n="play_now_page.Arcade"></button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="brandlogo1-jackpot-tab" data-bs-toggle="tab" data-bs-target="#brandlogo1-jackpot" type="button" role="tab" aria-controls="brandlogo1-jackpot" aria-selected="false" data-i18n="play_now_page.Jackpot"></button>
  </li>
</ul>
<div class="brandlogo-tab-content tab-content" id="brandlogo1TabContent">
  <div class="tab-pane fade show active" id="brandlogo1-all" role="tabpanel" aria-labelledby="brandlogo1-all-tab">
    <!-- brandlogo1-all -->
    @@include('./brandlogo1-content-all.html')
  </div>
  <div class="tab-pane fade" id="brandlogo1-hot" role="tabpanel" aria-labelledby="brandlogo1-hot-tab">
    <!-- brandlogo1-hot -->
    @@include('./brandlogo1-content-hot.html')
  </div>
  <div class="tab-pane fade" id="brandlogo1-arcade" role="tabpanel" aria-labelledby="brandlogo1-arcade-tab">
    <!-- brandlogo1-arcade -->
    @@include('./brandlogo1-content-arcade.html')
  </div>
  <div class="tab-pane fade" id="brandlogo1-jackpot" role="tabpanel" aria-labelledby="brandlogo1-jackpot-tab">
    <!-- brandlogo1-jackpot -->
    @@include('./brandlogo1-content-jackpot.html')
  </div>
</div>