<div class="play-now-item row" data-aos="fade-up">
  <div class="play-now-item__container col-4">
    <div class="play-now-item__container__item show-action">
      <img class="" src="assets/images/play-now/1.png" alt="" />
      <div class="text" data-i18n="play_now_page.Fishing_God"></div>
      <div class="action">
        <a href="#" class="btn btn-warning btn-demo" data-i18n="home_page.Demo"></a>
        <a href="#" class="btn btn-light btn-play-real mt-2" data-i18n="home_page.Demo" data-bs-toggle="modal" data-bs-target="#transferAllModal"></a>
      </div>
    </div>
  </div>
  <div class="play-now-item__container col-4">
    <div class="play-now-item__container__item show-action">
      <img class="" src="assets/images/play-now/2.png" alt="" />
      <div class="text" data-i18n="play_now_page.Tokyo_Kombat"></div>
      <div class="action">
        <a href="#" class="btn btn-warning btn-demo" data-i18n="home_page.Demo"></a>
        <a href="#" class="btn btn-light btn-play-real mt-2" data-i18n="home_page.Demo" data-bs-toggle="modal" data-bs-target="#depositModal"></a>
      </div>
    </div>
  </div>
  <div class="play-now-item__container col-4">
    <div class="play-now-item__container__item show-action">
      <img class="" src="assets/images/play-now/3.png" alt="" />
      <div class="text" data-i18n="play_now_page.American_Kombat"></div>
      <div class="action">
        <a href="#" class="btn btn-warning btn-demo" data-i18n="home_page.Demo"></a>
        <a href="#" class="btn btn-light btn-play-real mt-2" data-i18n="home_page.Demo" data-bs-toggle="modal" data-bs-target="#depositModal"></a>
      </div>
    </div>
  </div>
</div>
<div class="play-now-item row" data-aos="fade-up">
  <div class="play-now-item__container col-4">
    <div class="play-now-item__container__item show-action">
      <img class="" src="assets/images/play-now/1.png" alt="" />
      <div class="text" data-i18n="play_now_page.Fishing_God"></div>
      <div class="action">
        <a href="#" class="btn btn-warning btn-demo" data-i18n="home_page.Demo"></a>
        <a href="#" class="btn btn-light btn-play-real mt-2" data-i18n="home_page.Demo" data-bs-toggle="modal" data-bs-target="#depositModal"></a>
      </div>
    </div>
  </div>
  <div class="play-now-item__container col-4">
    <div class="play-now-item__container__item show-action">
      <img class="" src="assets/images/play-now/2.png" alt="" />
      <div class="text" data-i18n="play_now_page.Tokyo_Kombat"></div>
      <div class="action">
        <a href="#" class="btn btn-warning btn-demo" data-i18n="home_page.Demo"></a>
        <a href="#" class="btn btn-light btn-play-real mt-2" data-i18n="home_page.Demo" data-bs-toggle="modal" data-bs-target="#depositModal"></a>
      </div>
    </div>
  </div>
  <div class="play-now-item__container col-4">
    <div class="play-now-item__container__item show-action">
      <img class="" src="assets/images/play-now/3.png" alt="" />
      <div class="text" data-i18n="play_now_page.American_Kombat"></div>
      <div class="action">
        <a href="#" class="btn btn-warning btn-demo" data-i18n="home_page.Demo"></a>
        <a href="#" class="btn btn-light btn-play-real mt-2" data-i18n="home_page.Demo" data-bs-toggle="modal" data-bs-target="#depositModal"></a>
      </div>
    </div>
  </div>
</div>
<div class="play-now-item row" data-aos="fade-up">
  <div class="play-now-item__container col-4">
    <div class="play-now-item__container__item show-action">
      <img class="" src="assets/images/play-now/1.png" alt="" />
      <div class="text" data-i18n="play_now_page.Fishing_God"></div>
      <div class="action">
        <a href="#" class="btn btn-warning btn-demo" data-i18n="home_page.Demo"></a>
        <a href="#" class="btn btn-light btn-play-real mt-2" data-i18n="home_page.Demo" data-bs-toggle="modal" data-bs-target="#depositModal"></a>
      </div>
    </div>
  </div>
  <div class="play-now-item__container col-4">
    <div class="play-now-item__container__item show-action">
      <img class="" src="assets/images/play-now/2.png" alt="" />
      <div class="text" data-i18n="play_now_page.Tokyo_Kombat"></div>
      <div class="action">
        <a href="#" class="btn btn-warning btn-demo" data-i18n="home_page.Demo"></a>
        <a href="#" class="btn btn-light btn-play-real mt-2" data-i18n="home_page.Demo" data-bs-toggle="modal" data-bs-target="#depositModal"></a>
      </div>
    </div>
  </div>
  <div class="play-now-item__container col-4">
    <div class="play-now-item__container__item show-action">
      <img class="" src="assets/images/play-now/3.png" alt="" />
      <div class="text" data-i18n="play_now_page.American_Kombat"></div>
      <div class="action">
        <a href="#" class="btn btn-warning btn-demo" data-i18n="home_page.Demo"></a>
        <a href="#" class="btn btn-light btn-play-real mt-2" data-i18n="home_page.Demo" data-bs-toggle="modal" data-bs-target="#depositModal"></a>
      </div>
    </div>
  </div>
</div>
<div class="play-now-item row" data-aos="fade-up">
  <div class="play-now-item__container col-4">
    <div class="play-now-item__container__item show-action">
      <img class="" src="assets/images/play-now/1.png" alt="" />
      <div class="text" data-i18n="play_now_page.Fishing_God"></div>
      <div class="action">
        <a href="#" class="btn btn-warning btn-demo" data-i18n="home_page.Demo"></a>
        <a href="#" class="btn btn-light btn-play-real mt-2" data-i18n="home_page.Demo" data-bs-toggle="modal" data-bs-target="#depositModal"></a>
      </div>
    </div>
  </div>
  <div class="play-now-item__container col-4">
    <div class="play-now-item__container__item show-action">
      <img class="" src="assets/images/play-now/2.png" alt="" />
      <div class="text" data-i18n="play_now_page.Tokyo_Kombat"></div>
      <div class="action">
        <a href="#" class="btn btn-warning btn-demo" data-i18n="home_page.Demo"></a>
        <a href="#" class="btn btn-light btn-play-real mt-2" data-i18n="home_page.Demo" data-bs-toggle="modal" data-bs-target="#depositModal"></a>
      </div>
    </div>
  </div>
  <div class="play-now-item__container col-4">
    <div class="play-now-item__container__item show-action">
      <img class="" src="assets/images/play-now/3.png" alt="" />
      <div class="text" data-i18n="play_now_page.American_Kombat"></div>
      <div class="action">
        <a href="#" class="btn btn-warning btn-demo" data-i18n="home_page.Demo"></a>
        <a href="#" class="btn btn-light btn-play-real mt-2" data-i18n="home_page.Demo" data-bs-toggle="modal" data-bs-target="#depositModal"></a>
      </div>
    </div>
  </div>
</div>
<div class="play-now-item row" data-aos="fade-up">
  <div class="play-now-item__container col-4">
    <div class="play-now-item__container__item show-action">
      <img class="" src="assets/images/play-now/1.png" alt="" />
      <div class="text" data-i18n="play_now_page.Fishing_God"></div>
      <div class="action">
        <a href="#" class="btn btn-warning btn-demo" data-i18n="home_page.Demo"></a>
        <a href="#" class="btn btn-light btn-play-real mt-2" data-i18n="home_page.Demo" data-bs-toggle="modal" data-bs-target="#depositModal"></a>
      </div>
    </div>
  </div>
  <div class="play-now-item__container col-4">
    <div class="play-now-item__container__item show-action">
      <img class="" src="assets/images/play-now/2.png" alt="" />
      <div class="text" data-i18n="play_now_page.Tokyo_Kombat"></div>
      <div class="action">
        <a href="#" class="btn btn-warning btn-demo" data-i18n="home_page.Demo"></a>
        <a href="#" class="btn btn-light btn-play-real mt-2" data-i18n="home_page.Demo" data-bs-toggle="modal" data-bs-target="#depositModal"></a>
      </div>
    </div>
  </div>
  <div class="play-now-item__container col-4">
    <div class="play-now-item__container__item show-action">
      <img class="" src="assets/images/play-now/3.png" alt="" />
      <div class="text" data-i18n="play_now_page.American_Kombat"></div>
      <div class="action">
        <a href="#" class="btn btn-warning btn-demo" data-i18n="home_page.Demo"></a>
        <a href="#" class="btn btn-light btn-play-real mt-2" data-i18n="home_page.Demo" data-bs-toggle="modal" data-bs-target="#depositModal"></a>
      </div>
    </div>
  </div>
</div>
<div class="play-now-item row" data-aos="fade-up">
  <div class="play-now-item__container col-4">
    <div class="play-now-item__container__item show-action">
      <img class="" src="assets/images/play-now/1.png" alt="" />
      <div class="text" data-i18n="play_now_page.Fishing_God"></div>
      <div class="action">
        <a href="#" class="btn btn-warning btn-demo" data-i18n="home_page.Demo"></a>
        <a href="#" class="btn btn-light btn-play-real mt-2" data-i18n="home_page.Demo" data-bs-toggle="modal" data-bs-target="#depositModal"></a>
      </div>
    </div>
  </div>
  <div class="play-now-item__container col-4">
    <div class="play-now-item__container__item show-action">
      <img class="" src="assets/images/play-now/2.png" alt="" />
      <div class="text" data-i18n="play_now_page.Tokyo_Kombat"></div>
      <div class="action">
        <a href="#" class="btn btn-warning btn-demo" data-i18n="home_page.Demo"></a>
        <a href="#" class="btn btn-light btn-play-real mt-2" data-i18n="home_page.Demo" data-bs-toggle="modal" data-bs-target="#depositModal"></a>
      </div>
    </div>
  </div>
  <div class="play-now-item__container col-4">
    <div class="play-now-item__container__item show-action">
      <img class="" src="assets/images/play-now/3.png" alt="" />
      <div class="text" data-i18n="play_now_page.American_Kombat"></div>
      <div class="action">
        <a href="#" class="btn btn-warning btn-demo" data-i18n="home_page.Demo"></a>
        <a href="#" class="btn btn-light btn-play-real mt-2" data-i18n="home_page.Demo" data-bs-toggle="modal" data-bs-target="#depositModal"></a>
      </div>
    </div>
  </div>
</div>
