<ul class="brandlogo-nav-tab nav nav-tabs" id="brandlogo9Tab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="brandlogo9-all-tab" data-bs-toggle="tab" data-bs-target="#brandlogo9-all" type="button" role="tab" aria-controls="brandlogo9-all" aria-selected="true" data-i18n="play_now_page.All"></button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="brandlogo9-hot-tab" data-bs-toggle="tab" data-bs-target="#brandlogo9-hot" type="button" role="tab" aria-controls="brandlogo9-hot" aria-selected="false" data-i18n="play_now_page.Hot"></button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="brandlogo9-arcade-tab" data-bs-toggle="tab" data-bs-target="#brandlogo9-arcade" type="button" role="tab" aria-controls="brandlogo9-arcade" aria-selected="false" data-i18n="play_now_page.Arcade"></button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="brandlogo9-jackpot-tab" data-bs-toggle="tab" data-bs-target="#brandlogo9-jackpot" type="button" role="tab" aria-controls="brandlogo9-jackpot" aria-selected="false" data-i18n="play_now_page.Jackpot"></button>
  </li>
</ul>
<div class="brandlogo-tab-content tab-content" id="brandlogo9TabContent">
  <div class="tab-pane fade show active" id="brandlogo9-all" role="tabpanel" aria-labelledby="brandlogo9-all-tab">
    <!-- brandlogo9-all -->
    @@include('./brandlogo9-content-all.html')
  </div>
  <div class="tab-pane fade" id="brandlogo9-hot" role="tabpanel" aria-labelledby="brandlogo9-hot-tab">
    <!-- brandlogo9-hot -->
    @@include('./brandlogo9-content-all.html')
  </div>
  <div class="tab-pane fade" id="brandlogo9-arcade" role="tabpanel" aria-labelledby="brandlogo9-arcade-tab">
    <!-- brandlogo9-arcade -->
    @@include('./brandlogo9-content-all.html')
  </div>
  <div class="tab-pane fade" id="brandlogo9-jackpot" role="tabpanel" aria-labelledby="brandlogo9-jackpot-tab">
    <!-- brandlogo9-jackpot -->
    @@include('./brandlogo9-content-all.html')
  </div>
</div>