<!-- Modal -->
<div
  class="modal fade alert"
  id="transferAllModal"
  tabindex="-1"
  aria-labelledby="transferAllModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-body text-center">
        <div class="text mb-3" data-i18n="play_now_page.Dear_valued_customer"></div>
        <div class="text" data-i18n="play_now_page.do_you_wish_to"></div>
        <div class="action">
          <button type="button" class="btn btn-light w-100" data-bs-dismiss="modal" data-i18n="play_now_page.No_Thanks"></button>
          <button type="button" class="btn btn-warning btn-confirm w-100" data-i18n="play_now_page.Transfer_All"></button>
        </div>
      </div>
    </div>
  </div>
</div>
