<!-- Modal -->
<div
  class="modal fade alert"
  id="invalidCodeModal"
  tabindex="-1"
  aria-labelledby="invalidCodeModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-body text-center">
        <img src="assets/icons/error.svg" />
        <div class="text mb-3 mt-4" data-i18n="voucher_page.Invalid_voucher_code"></div>
        <div class="action">
          <button type="button" class="btn btn-warning btn-confirm w-50" data-bs-dismiss="modal" data-i18n="voucher_page.Ok"></button>
        </div>
      </div>
    </div>
  </div>
</div>
