.campaign-1_results {
  font-family: 'Inter', sans-serif;
  background: #000C26;

  .navbar {
    &.fixed-top {
      background: #000C26;
      box-shadow: none;

      #back_url img {
        height: 16px;
      }
    }
  }

  &__content {
    &__title {
      font-weight: 600;
      font-size: 14px;
      line-height: 22px;
      color: #FFFFFF;
      margin-bottom: 26px;
    }

    &__item {
      display: flex;
      place-content: space-between;
      place-items: center;
      margin-bottom: 26px;
      font-style: normal;
      font-weight: 800;
      font-size: 24px;
      line-height: 22px;
      /* or 92% */


      color: #FFFFFF;

      span {
        color: rgba(253, 186, 43, 1);
      }
    }

  }
}