.category-page {
  &__content {

    &__container {

      &__tab {
        margin-top: 20px;

        &__nav {
          display: flex;
          place-content: space-between;
          place-items: center;
          border-radius: 8px;
          overflow: hidden;

          .btn-nav {
            background: #194284;
            box-shadow: -4px 0px 4px rgba(0, 0, 0, 0.25);
            transform: matrix(-1, 0, 0, 1, 0, 0);
            border: none;
            width: 30px;
            min-height: 40px;
            display: flex;
            place-content: center;
            place-items: center;

            img {
              max-width: 10px;
              margin-top: -3px;
            }
          }

          .nav {
            flex-wrap: nowrap;
            overflow: auto;
            padding: 2px 0;
            border-bottom: none;
            background: #131D39;
            width: 100%;
            gap: 2px;
            min-height: 40px;

            -ms-overflow-style: none;
            scrollbar-width: none;

            &::-webkit-scrollbar {
              display: none;
            }

            &-item {
              .nav-link {
                min-width: 60px;
                height: 100%;
                padding: 5px 0;

                img {
                  opacity: 0.5;
                  max-width: 50px;
                  max-height: 24px;
                }

                &.active {
                  background-color: transparent;
                  border-color: transparent;

                  img {
                    opacity: 1;
                  }
                }
              }
            }
          }
        }

        .tab-content {
          margin-top: 15px;
          background: #131D39;
          border: 1.5px solid #194284;
          border-radius: 8px;
          min-height: 200px;

          .tab4d-container {

            &__title {
              display: flex;
              place-content: space-between;
              place-items: center;
              padding: 10px 15px;
              background: #19264B;
              font-weight: 600;
              font-size: 16px;
              line-height: 22px;
              color: #FFFFFF;
              text-align: right;

              .date {
                font-weight: 400;
                font-size: 14px;
                line-height: 19px;
                text-align: right;
                color: rgba(255, 255, 255, 0.4);
                margin-top: 5px;
              }

              img {
                width: 40px;
              }
            }

            &__subtitle {
              background: #19264B;
              font-weight: 600;
              font-size: 16px;
              line-height: 22px;
              text-align: center;
              color: #FFFFFF;
              padding: 10px 0;
            }

            &__content {
              display: flex;
              place-content: space-around;
              place-items: center;
              font-weight: 600;
              font-size: 14px;
              line-height: 19px;
              text-align: center;
              color: #FFFFFF;
              padding: 10px 0;

              &.text-warning {
                color: #FDBB2C;
              }
            }

            &__contenttext {
              font-weight: 400;
              font-size: 14px;
              line-height: 19px;
              text-align: center;
              color: #FFFFFF;

              div {
                padding-top: 10px;
                padding-bottom: 10px;
              }
            }
          }
        }
      }

      &__lucky_number {
        background-image: url(../images/4d-bg.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-radius: 8px;
        overflow: hidden;
        min-height: 125px;
        margin-top: 30px;

        display: flex;
        place-content: center;
        place-items: center;
        gap: 7px;
        flex-direction: column;
        padding: 5px;

        &__title {
          font-weight: 400;
          font-size: 10px;
          line-height: 14px;
          text-align: center;
          color: #FFFFFF;
          text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.6);
        }

        &__number {
          background: rgba(0, 0, 0, 0.55);
          border-radius: 5px;
          font-weight: 700;
          font-size: 24px;
          line-height: 33px;
          text-align: center;
          color: #5A81C4;
          padding: 0px 15px;

          img {
            margin-left: 5px;
          }
        }

        &__bet_now {
          .btn {
            height: 26px;
            display: flex;
            place-content: center;
            place-items: center;
            font-weight: 700;
            font-size: 12px;
            line-height: 16px;
            text-align: center;
            color: #000000;
          }
        }

        &__payout {
          .btn {
            height: 26px;
            display: flex;
            place-content: center;
            place-items: center;
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            text-align: center;
            text-decoration-line: underline;
            color: #0089FF;

            &:focus {
              box-shadow: none;
            }
          }
        }
      }

      &__special_odds {
        &__content {
          display: flex;
          place-content: flex-start;
          gap: 10px;
          overflow-y: auto;
          padding-bottom: 10px;

          &__item {
            background: #131D39;
            border-radius: 8px;
            padding: 0;
            width: 120px;
            text-align: center;
            position: relative;
            overflow: hidden;

            &__label {
              font-style: normal;
              font-weight: 600;
              font-size: 10px;
              line-height: 14px;
              text-align: center;
              color: #FDBB2C;
              padding: 3px;
              background: rgba(253, 187, 44, 0.35);
              border-radius: 0px 0px 12px 12px;
            }

            &__img {
              margin: 0;
            }

            &__title {
              font-weight: 600;
              font-size: 12px;
              line-height: 13px;
              text-align: center;
              color: #FFFFFF;
              padding: 12px;
            }
          }
        }
      }

      &__games_lobby {
        &__content {
          // display: flex;
          // place-content: flex-start;
          // flex-wrap: wrap;
          // gap: 15px;
          margin-left: -8px;
          margin-right: -8px;
          padding-top: 30px;

          &__item {
            padding-left: 8px;
            padding-right: 8px;
            margin-bottom: 20px;

            &__title {
              font-weight: 600;
              font-size: 14px;
              line-height: 19px;
              text-align: center;
              color: #FFFFFF;
              margin-bottom: 10px;
            }

            &__img {
              // width: 110px;
              height: 126px;
              display: block;
              text-align: center;

              background-image: url(../images/games-lobby-1.svg);
              background-repeat: no-repeat;
              background-position: center;
              background-size: contain;

              display: flex;
              flex-direction: column;
              place-content: center;
              place-items: center;

              &__icon {
                margin-top: -40px;
                max-width: 95px;
                max-height: 95px;
              }

              &__logo {
                max-width: 90px;
                max-height: 25px;

                &.mh-14px {
                  max-height: 14px;
                }
              }
            }

            &__content {
              display: block;
              text-align: center;
              display: flex;
              flex-direction: column;
              place-content: center;
              place-items: center;
              background: #131D39;
              border-radius: 8px;
              padding: 15px 12px;

              &__icon {
                max-width: 95px;
                max-height: 95px;
              }

              &__title {
                font-weight: 600;
                font-size: 14px;
                line-height: 19px;
                text-align: center;
                color: #FFFFFF;
                margin-top: 5px;
              }
            }

            &:nth-child(even) {
              .category-page__content__container__games_lobby__content__item__img {
                background-image: url(../images/games-lobby-2.svg);
              }
            }

          }
        }
      }


      &__hot_games {
        &__content {
          display: flex;
          place-content: flex-start;
          gap: 10px;
          overflow-y: auto;
          padding-bottom: 10px;

          -ms-overflow-style: none;
          scrollbar-width: none;

          padding: 0 15px;

          &::-webkit-scrollbar {
            display: none;
          }

          &__item {
            background: #131D39;
            border-radius: 8px;
            padding: 0 15px;
            min-width: 100px;
            text-align: center;
            position: relative;

            &__label {
              font-weight: 600;
              font-size: 10px;
              line-height: 14px;
              text-align: center;
              border-radius: 0px 0px 6px 6px;
              padding: 3px;

              &.success {
                background: rgba(73, 185, 2, 0.3);
                color: #49B902;
              }

              &.danger {
                background: rgba(203, 19, 47, 0.3);
                color: #CB132F;
              }
            }

            &__img {
              margin: 8px 0;
              max-height: 72px;
            }

            &__title {
              font-weight: 600;
              font-size: 12px;
              line-height: 13px;
              text-align: center;
              color: #FFFFFF;
              padding-bottom: 10px;
            }

            .action {
              padding: 10px;
              position: absolute;
              left: 0;
              right: 0;
              top: 0;
              bottom: 0;
              background: rgba(0, 0, 0, 0.7);
              border: 2px solid #FDBB2C;
              backdrop-filter: blur(4px);
              border-radius: 8px;
              display: flex;
              flex-direction: column;
              place-content: center;
              place-items: center;
              gap: 10px;
              transition: all 0.2s;
              opacity: 0;
              z-index: -1;

              .btn {
                width: 100%;
                height: 30px;
                font-weight: 700;
                font-size: 12px;
                line-height: 16px;
                text-align: center;
                display: flex;
                place-content: center;
                place-items: center;
                min-width: auto;
                padding: 0;
              }
            }

            &.active {
              .action {
                opacity: 1;
                z-index: 1;
              }
            }
          }
        }
      }
    }


    &__top {
      background: #131D39;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6);
      border-radius: 0px 0px 26px 26px;

      &__navbar {
        display: flex;
        place-content: space-between;
        place-items: flex-start;
        margin-top: 20px;
        text-align: center;
        border-bottom: none;
        // flex-wrap: nowrap;
        gap: 1px;
        padding-bottom: 12px;
        padding-left: 15px;
        padding-right: 15px;

        &__item {
          &__img {
            background: #131D39;
            border-radius: 18px;
            width: 60px;
            height: 60px;
            border: 2px solid rgba(25, 66, 132, 0.3);
            box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.4);

            display: flex;
            place-content: center;
            place-items: center;

            img {
              max-height: 34px;

              &.active {
                display: none;
              }
            }

            @media only screen and (max-width: 370px) {
              width: 55px;
              height: 55px;
            }

          }

          &__text {
            font-weight: 400;
            font-size: 10px;
            line-height: 14px;
            text-align: center;
            color: #FFFFFF;
            margin-top: 5px;
          }

          &.active {
            pointer-events: none;

            .category-page__content__top__navbar__item__img {
              background: rgba(252, 162, 13, 0.24);
              border: 2px solid #FDBB2C;
              // filter: drop-shadow(0px 0px 6px #FDBB2C);

              img {
                display: none;

                &.active {
                  display: initial;
                }
              }
            }
          }
        }
      }

      .top-slider {
        margin-bottom: 20px !important;
        padding: 20px 15px;
        min-height: 140px;

        .slick-slide {
          border-radius: 20px;
        }

        .slick-slide img {
          width: 100%;
          border-radius: 9px;
        }

        .slick-dots {
          width: auto;
          display: flex;
          place-content: center;
          place-items: center;
          left: 0;
          right: 0;
          bottom: -15px;
        }

        .slick-dots li {
          margin: 0 2px;
          // transition: 0.2s;
          width: 6px;
        }

        .slick-dots li button {
          // transition: 0.2s;
          width: 6px;
        }

        .slick-dots li button::before {
          background-color: #707070;
          content: '';
          width: 7px;
          height: 7px;
          opacity: 1;
          border-radius: 50%;
        }

        .slick-dots li.slick-active,
        .slick-dots li.slick-active button {
          width: 27px;
        }

        .slick-dots li.slick-active button::before {
          width: 27px;
          border-radius: 10px;
          background-color: #fff;
        }

        .no-overflow {
          overflow: hidden;
        }

        .slick-slider {
          overflow: hidden;
        }
      }
    }
  }
}

#payoutTableModal {
  .modal-dialog {
    .modal-content {
      height: 80vh;
      padding: 15px;

      .close-button {
        text-align: center;
        padding-bottom: 5px;
      }

      .content {
        overflow-x: auto;

        table {
          margin: 15px 0;
          border-radius: 5px;
          overflow: hidden;

          thead {
            tr {
              th {
                font-weight: 600;
                font-size: 10px;
                line-height: 14px;
                color: #FDBB2C;
                background: #19264B;
                text-align: center;
                vertical-align: middle;
                border-bottom: none;
                box-shadow: none;
                padding-top: 10px;
                padding-bottom: 10px;
              }
            }
          }

          tbody {
            border-top: none;

            tr {
              td {
                font-weight: 400;
                font-size: 10px;
                line-height: 12px;
                color: #FFFFFF;
                background: rgba(255, 255, 255, 0.1);
                border-color: transparent;
                text-align: center;
                vertical-align: middle;
                padding-top: 10px;
                padding-bottom: 10px;
              }

              &:nth-child(even) {
                td {
                  background: rgba(255, 255, 255, 0.15);
                }
              }
            }
          }
        }

        &__title {
          font-weight: 700;
          font-size: 14px;
          line-height: 19px;
          color: #FDBB2C;
          padding: 15px 0;
        }

        &__subtitle {
          font-weight: 700;
          font-size: 12px;
          line-height: 16px;
          text-decoration-line: underline;
          color: #FFFFFF;
          padding: 10px 0;
        }

        &__description {
          font-weight: 400;
          font-size: 12px;
          line-height: 16px;
          color: #FFFFFF;
        }

        &__subdescription {
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 16px;
          color: #FDBB2C;
          padding-left: 15px;

          ul {
            padding-left: 15px;
          }
        }
      }

    }
  }
}