.deposit-page {
  &__content {

    #mainTab {
      border: none !important;
      padding-top: 20px;
      place-items: baseline;
      gap: 25px;

      &>.nav-item {
        &>.nav-link {
          font-weight: 700;
          font-size: 14px;
          line-height: 27px;
          color: rgba(255, 255, 255, 0.4);
          height: 100%;
          padding: 0;
          padding-bottom: 11px;
          position: relative;

          &.active {
            font-weight: 700;
            font-size: 20px;
            line-height: 27px;
            color: #FFFFFF;
            background: transparent;
            border-color: transparent;
            pointer-events: none;

            &::after {
              position: absolute;
              content: "";
              left: 0;
              bottom: 0;
              width: 40px;
              height: 4px;
              background: #FDBB2C;
              border-radius: 3px;
            }
          }

          &:focus,
          &:hover {
            border-color: transparent;
          }
        }
      }

      @media only screen and (max-width: 390px) {
        gap: 5px;
        place-content: space-between;
      }
    }

    #mainContent {
      min-height: 300px;
      padding-top: 17px;

      &>.tab-pane {

        background-image: url(../images/deposit-bg.png);
        background-repeat: no-repeat;
        background-position: top right;
        background-size: contain;

        &#history-section {
          background-image: none !important;

          #historyTab {
            background: rgba(255, 255, 255, 0.06);
            place-content: center;
            border-bottom: none;

            .nav-item {
              .nav-link {
                font-weight: 600;
                font-size: 14px;
                line-height: 19px;
                text-align: center;
                color: rgba(255, 255, 255, 0.4);
                padding-top: 13px;
                padding-bottom: 13px;
                position: relative;

                &::after {
                  position: absolute;
                  content: "";
                  right: 0;
                  height: 18px;
                  width: 1px;
                  background-color: #fff;
                }

                &.active {
                  background-color: transparent;
                  border-color: transparent;
                  color: #FDBB2C;
                }
              }

              &:last-child {
                .nav-link {
                  &::after {
                    content: none;
                  }
                }
              }
            }
          }

          #historyTabContent {
            .tab-pane {

              .betting-record-table-collapse {
                padding: 15px 11px;
                background: #000B26;

                &__content {
                  border: none;
                  background: transparent;

                  .card-header {
                    background: #19264B;
                    border-radius: 4px 4px 0px 0px;
                    padding: 0;
                    display: flex;
                    place-content: space-between;
                    place-items: center;
                    height: 26px;

                    .title {
                      display: flex;
                      place-content: flex-start;
                      place-items: center;
                      font-weight: 700;
                      font-size: 12px;
                      line-height: 16px;
                      color: #FDBB2C;
                      height: 100%;

                      span {
                        background: #FDBB2C;
                        border-radius: 4px 0px 0px 0px;
                        display: flex;
                        place-content: center;
                        place-items: center;
                        padding: 0 8px;

                        font-weight: 700;
                        font-size: 12px;
                        line-height: 16px;
                        text-align: center;
                        color: #000000;
                        height: 100%;
                        margin-right: 15px;
                      }
                    }

                    .date {
                      font-weight: 400;
                      font-size: 10px;
                      line-height: 14px;
                      text-align: right;
                      color: rgba(255, 255, 255, 0.5);
                      padding-right: 20px;
                    }
                  }

                  .card-body {
                    border: 1px solid rgba(255, 255, 255, 0.13);
                    border-top: 0;
                    border-radius: 0 0 4px 4px;
                    background: transparent;
                    padding: 7px 15px;

                    .btn-link {
                      font-weight: 400;
                      font-size: 10px;
                      line-height: 14px;
                      text-align: center;
                      text-decoration-line: underline;
                      color: rgba(255, 255, 255, 0.5);
                      padding-top: 0;
                      padding-bottom: 0;
                    }

                    .table {
                      margin-bottom: 5px;

                      thead {
                        tr {
                          th {
                            font-weight: 400;
                            font-size: 10px;
                            line-height: 14px;
                            text-align: center;
                            color: rgba(255, 255, 255, 0.5);
                            padding-top: 1px;
                            padding-bottom: 1px;
                          }
                        }
                      }

                      tbody {

                        tr {
                          td {
                            font-weight: 400;
                            font-size: 10px;
                            line-height: 14px;
                            text-align: center;
                            color: #FFFFFF;
                            padding-top: 5px;
                            padding-bottom: 5px;
                          }
                        }
                      }
                    }
                  }
                }
              }

              .betting-record-table {
                margin-top: 10px;

                .table {
                  thead {
                    tr {
                      th {
                        background: #19264B;
                        font-weight: 400;
                        font-size: 10px;
                        line-height: 14px;
                        color: rgba(255, 255, 255, 0.5);
                        vertical-align: middle;
                        text-align: center;
                      }
                    }
                  }

                  tbody {
                    border-color: transparent;

                    tr {
                      td {
                        font-weight: 700;
                        font-size: 12px;
                        line-height: 16px;
                        color: #FFFFFF;
                        text-align: center;
                        padding-top: 10px;
                        padding-bottom: 10px;
                        background: rgba(255, 255, 255, 0.1);

                        &.warning {
                          color: #FDBB2C;
                        }

                        &.danger {
                          color: #FF0000;
                        }

                        .show-detail {
                          font-weight: 700;
                          font-size: 12px;
                          line-height: 16px;
                          text-decoration-line: underline;

                          color: #FFFFFF;
                        }
                      }

                      &:first-child {
                        td {
                          background: rgba(255, 255, 255, 0.06);
                        }
                      }

                      &:nth-child(4n) {
                        td {
                          background: rgba(255, 255, 255, 0.06);
                        }
                      }
                    }
                  }
                }

              }

              .history-transaction-pagination {
                padding: 15px 25px 50px 25px;
                display: flex;
                place-content: flex-end;
                place-items: center;

                .btn {
                  width: 24px;
                  height: 24px;
                  border-radius: 4px;
                  min-width: initial;
                  display: flex;
                  place-content: center;
                  place-items: center;

                  &-secondary {
                    background: rgba(255, 255, 255, 0.13);
                    border: none;
                  }

                  &-link {
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 16px;
                    text-align: center;
                    color: rgba(255, 255, 255, 0.5);
                    text-decoration: none;

                    &.active {
                      font-weight: 700;
                      font-size: 12px;
                      line-height: 16px;
                      text-align: center;
                      color: #FFFFFF;
                    }

                    &.disabled {
                      pointer-events: none;
                    }
                  }
                }
              }

              .history-transaction-container {
                margin: 10px 0;

                &__item {
                  display: flex;
                  place-content: space-between;
                  place-items: center;
                  padding: 15px 25px;
                  margin-bottom: 5px;
                  background: rgba(255, 255, 255, 0.06);

                  &__left {
                    .title {
                      font-weight: 700;
                      font-size: 14px;
                      line-height: 19px;
                      color: #FFFFFF;
                      margin-bottom: 3px;
                    }

                    .currency {
                      font-weight: 500;
                      font-size: 14px;
                      line-height: 19px;
                      color: rgba(255, 255, 255, 0.5);
                    }
                  }

                  &__right {
                    .status {
                      font-weight: 600;
                      font-size: 12px;
                      line-height: 16px;
                      text-align: right;
                      margin-bottom: 5px;

                      &.danger {
                        color: #FF1A1A;
                      }

                      &.success {
                        color: #49BF00;
                      }

                      &.warning {
                        color: #FCA20D;
                      }
                    }

                    .date {
                      font-weight: 400;
                      font-size: 12px;
                      line-height: 16px;
                      text-align: right;
                      color: rgba(255, 255, 255, 0.5);
                    }
                  }
                }
              }

              .filter {
                padding: 5px 25px 20px 25px;
                background: rgba(255, 255, 255, 0.06);

                &__container {
                  .form-select {
                    background: #19264B;
                    border-radius: 4px;
                    min-height: 30px;
                    border-color: transparent;
                    color: #fff;
                    margin-bottom: 7px;
                    padding-top: 3px;
                    padding-bottom: 3px;
                    font-size: 12px;
                    line-height: 16px;

                    &:invalid {
                      color: rgba(255, 255, 255, 0.4);
                    }
                  }

                  .input-group {
                    margin-bottom: 7px;

                    .form-control {
                      background: #19264B;
                      border-radius: 4px;
                      min-height: 30px;
                      font-weight: 400;
                      font-size: 12px;
                      line-height: 16px;
                      color: #fff;
                      border-color: transparent;

                      &::placeholder {
                        color: rgba(255, 255, 255, 0.4);
                      }
                    }

                    .input-group-text {
                      background: transparent;
                      border-color: transparent;
                      font-weight: 400;
                      font-size: 12px;
                      line-height: 16px;
                      text-align: center;
                      color: #FFFFFF;
                      padding-left: 5px;
                      padding-right: 5px;
                    }
                  }

                  .btn-warning {
                    background: #FDBB2C;
                    border-radius: 4px;
                    font-weight: 700;
                    font-size: 12px;
                    line-height: 16px;
                    text-align: center;
                    color: #000000;
                    min-height: 30px;
                    width: 100%;
                  }
                }
              }
            }
          }
        }


        .form {

          &__reminder {
            border-top: 1px solid rgba(255, 255, 255, 0.13);
            padding: 6px 0;
            margin-top: 40px;

            &__title {
              font-weight: 700;
              font-size: 14px;
              line-height: 19px;
              color: #FFFFFF;
              margin-bottom: 15px;
            }

            p {
              font-weight: 400;
              font-size: 12px;
              line-height: 16px;
              color: rgba(255, 255, 255, 0.6);
              margin-bottom: 15px;
            }
          }

          &__action {
            .btn {
              width: 100%;
              font-weight: 700;
              font-size: 16px;
              line-height: 22px;
              text-align: center;
              min-height: 50px;
              display: flex;
              place-content: center;
              place-items: center;
              margin-bottom: 5px;

              &-warning {
                background: #FDBB2C;
                border-radius: 4px;
              }

              &-link {
                color: #FFFFFF;
                text-decoration: none;
              }

              &:focus {
                box-shadow: none;
              }
            }
          }

          &__container {
            margin-bottom: 25px;
            position: relative;

            .error {
              font-weight: 400;
              font-size: 12px;
              line-height: 16px;
              color: #FF1A1A;
              margin-bottom: 5px;
              display: block;

              &#transfer_to-error,
              &#transfer_from-error,
              &#select_bank-error {
                position: absolute;
                bottom: -25px;
                left: 0;
              }
            }

            .help-text {
              font-weight: 400;
              font-size: 11px;
              line-height: 16px;
              color: #FDBB2C;
            }

            .input-group {
              padding: 5px 5px 5px 0;
              min-height: 50px;
              position: relative;

              .form-control {
                min-height: initial;
                border: none;
              }

              .error {
                &#amount_SGD-error {
                  position: absolute;
                  bottom: -25px;
                  left: 0;
                }
              }

              .btn {
                &-outline-warning {
                  background: rgba(253, 187, 44, 0.3);
                  border-radius: 4px;
                  font-weight: 400;
                  font-size: 14px;
                  line-height: 19px;
                  text-align: center;

                  color: #FDBB2C;
                  min-width: 50px;
                  border: none;
                }
              }
            }

            &__network_content {
              margin-top: 17px;

              &__help {
                font-weight: 400;
                font-size: 12px;
                line-height: 16px;
                color: #FFFFFF;
                margin-bottom: 17px;
              }

              &__address {
                background: #222C43;
                border-radius: 4px;
                padding: 10px 13px;

                &__title {
                  font-weight: 700;
                  font-size: 14px;
                  line-height: 19px;
                  color: #FFFFFF;

                }

                .input-group {
                  background: #000B26;
                  border-radius: 3px !important;
                  margin-top: 10px;

                  .form-control {
                    min-height: 40px;
                  }

                  .input-group-text {
                    padding-right: 11px;

                    img {
                      width: 16px;
                    }
                  }
                }

                .qr-code-img {
                  text-align: center;

                  img {
                    max-width: 140px;
                  }
                }

                .btn-save-qr-code {
                  font-weight: 700;
                  font-size: 14px;
                  line-height: 19px;
                  text-align: center;
                  color: #000000;

                  background: #FDBB2C;
                  border-radius: 4px;
                  min-height: 40px;
                  display: flex;
                  place-content: center;
                  place-items: center;
                  display: flex;
                  place-content: center;
                  place-items: center;
                  max-width: 130px;
                  margin: auto;
                  margin-top: 5px;
                }

                .description {
                  font-weight: 400;
                  font-size: 12px;
                  line-height: 16px;
                  text-align: center;
                  color: #FFFFFF;
                  margin-top: 15px;
                }
              }
            }

            .form-radio {
              place-content: flex-start;
              place-items: center;
              gap: 10px !important;

              .btn-check {
                &:checked {
                  &+.form-radio__label {
                    .btn {
                      border: 1px solid #FDBB2C;
                      border-radius: 4px;
                      background-color: rgba(255, 255, 255, 0.13);
                      box-shadow: none;
                      color: #FFFFFF;

                      img {
                        opacity: 1;
                      }
                    }
                  }
                }
              }

              &__label {
                .btn {
                  padding: 5px;
                  min-height: 35px !important;
                  min-width: 70px;

                  img {
                    max-height: 25px;
                    opacity: 0.3;
                    transition: 0.3s;
                  }
                }

                .title {
                  font-weight: 400;
                  font-size: 12px;
                  line-height: 16px;
                  text-align: center;
                  color: #FFFFFF;
                  margin-top: 5px;
                }
              }
            }

            .select_bank_content {
              border: 1px solid rgba(255, 255, 255, 0.13);
              border-radius: 4px;

              font-weight: 400;
              font-size: 14px;
              line-height: 19px;
              color: #FFFFFF;
              margin-top: 10px;

              &__title {
                background: #222C43;
                font-weight: 600;
                font-size: 14px;
                line-height: 19px;
                text-align: center;

                color: #FFFFFF;
                padding: 10px;
              }

              &__content {
                padding: 0 15px;
                margin: 12px 0;
                place-items: flex-start;

                .copy-input {
                  background: transparent;
                  border: none;
                  font-weight: 400;
                  font-size: 14px;
                  line-height: 19px;
                  color: #FFFFFF;
                  padding: 0;
                }
              }
            }

            .form-choose {
              border: 1px dashed #FFFFFF;
              border-radius: 4px;
              padding: 20px;
              font-weight: 400;
              font-size: 14px;
              line-height: 19px;
              text-align: center;
              color: #FFFFFF;
              display: block;

              img {
                margin-bottom: 10px;
              }
            }

            .btn-group {
              width: 100%;
              display: flex;
              gap: 8px;

              .btn-check {
                &:checked {
                  &+.btn {
                    border: 1px solid #FDBB2C;
                    border-radius: 4px;
                    background-color: rgba(255, 255, 255, 0.13);
                    box-shadow: none;
                  }
                }
              }

              .btn {
                border: 1px solid rgba(255, 255, 255, 0.13);
                border-radius: 4px;
                min-height: 40px;
                display: flex;
                place-content: center;
                place-items: center;
              }
            }

            .form-label {
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              line-height: 19px;
              color: #FFFFFF;
            }

            .select2-container {
              position: initial !important;
              display: block;
              width: 100% !important;

              .select2-dropdown {
                background: #222C43;
                border-radius: 4px;
                width: 100% !important;
                z-index: 1;
                position: initial;
                border: none;

                .select2-results {
                  &__options {
                    max-height: 250px;
                    padding: 12px;

                    .select2-results__option--selectable {
                      &.select2-results__option--highlighted {
                        background: transparent !important;
                        color: #fff;
                      }
                      &.select2-results__option--selected {
                        background: transparent !important;
                        color: #FDBB2C !important;
                      }
                    }
                  }
                }
              }

              .selection {
                margin-bottom: 10px;

                .select2-selection {
                  border: 1px solid rgba(255, 255, 255, 0.13);
                  background-color: transparent;
                  border-radius: 4px;
                  min-height: 50px;

                  font-weight: 400;
                  font-size: 14px;
                  line-height: 19px;
                  color: #FDBB2C;
                  position: relative;

                  &__rendered {
                    height: 100%;
                    display: flex;
                    place-content: flex-start;
                    place-items: center;

                    font-weight: 400;
                    font-size: 14px;
                    line-height: 19px;
                    color: #FDBB2C;
                  }

                  &__placeholder {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 19px;
                    color: rgba(255, 255, 255, 0.4);
                  }

                  &__arrow {
                    display: flex;
                    place-items: center;
                    height: 100%;
                    width: 40px;
                  }
                }
              }
            }

            .form-select,
            .form-control {
              border: 1px solid rgba(255, 255, 255, 0.13);
              background-color: transparent;
              border-radius: 4px;
              min-height: 50px;

              font-weight: 400;
              font-size: 14px;
              line-height: 19px;
              color: #FDBB2C;
              margin-bottom: 10px;

              &::placeholder {
                font-weight: 400;
                font-size: 14px;
                line-height: 19px;
                color: rgba(255, 255, 255, 0.4);
              }

              &:disabled {
                background: rgba(255, 255, 255, 0.13);
                border-color: transparent;
              }
            }

            .input-group {
              margin-bottom: 10px;
              border: 1px solid rgba(255, 255, 255, 0.13);
              border-radius: 4px;

              .form-control {
                margin-bottom: 0;

                &:disabled {
                  background: transparent;
                  border-color: transparent;
                }
              }

              &-text {
                background: transparent;
                border: none;
                padding-right: 20px;

                img {
                  width: 10px;
                }
              }
            }

            .form-select {
              &:invalid {
                font-weight: 400;
                font-size: 14px;
                line-height: 19px;
                color: rgba(255, 255, 255, 0.4);
              }
            }

            .form-suggest {
              display: flex;
              gap: 6px;
              place-content: flex-start;
              place-items: center;
              flex-wrap: wrap;

              .btn {
                min-width: 50px;
                min-height: 30px;
                background: rgba(255, 255, 255, 0.13);
                border-radius: 5px;
                font-weight: 400;
                font-size: 14px;
                line-height: 19px;
                text-align: center;
                color: #FFFFFF;
                border: none;

                &:focus {
                  box-shadow: none;
                  background: #FDBB2C;
                  color: #000000;
                }
              }
            }
          }
        }

        .deposit-content {
          #depositMainTab {
            background: rgba(255, 255, 255, 0.13);
            border-radius: 4px;
            border-bottom: none;
            place-content: space-between;
            place-items: center;
            padding: 5px;

            .nav-item {
              flex: 1 0 0%;

              .nav-link {
                width: 100%;
                font-weight: 600;
                font-size: 12px;
                line-height: 16px;
                text-align: center;

                color: rgba(255, 255, 255, 0.5);
                padding: 0px 1px;
                min-height: 34px;

                &.active {
                  background: #FDBB2C;
                  border-radius: 2px;
                  color: #000000;
                  border-color: transparent;
                }

                &:focus,
                &:hover {
                  border-color: transparent;
                }
              }
            }
          }

          #depositMainContent {
            padding: 20px 0;
          }
        }

        .main-wallet {
          background-image: url(../images/main-wallet-bg-1.png);
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;

          border-radius: 12px;
          position: relative;
          margin-bottom: 20px;
          overflow: hidden;

          &__top {
            padding: 20px 15px;
            display: flex;
            place-content: space-between;
            place-items: center;

            &__title {
              font-weight: 400;
              font-size: 12px;
              line-height: 16px;
              color: rgba(255, 255, 255, 0.6);
            }

            &__currency {
              font-weight: 700;
              font-size: 20px;
              line-height: 27px;
              color: #FFFFFF;
            }

            &__action {
              .btn {
                background: rgba(255, 255, 255, 0.3);
                border: none;
                border-radius: 4px;

                font-weight: 600;
                font-size: 12px;
                line-height: 16px;

                min-height: 30px;

                text-align: center;
                color: #FFFFFF;
              }
            }
          }

          &__footer {
            background: rgba(0, 0, 0, 0.5);
            padding: 8px 15px;
            display: flex;
            place-content: space-between;
            place-items: center;

            &__currency {
              font-weight: 400;
              font-size: 12px;
              line-height: 16px;
              color: #FFFFFF;
            }

            &__description {
              font-weight: 400;
              font-size: 12px;
              line-height: 16px;
              color: #FFFFFF;
            }

          }
        }

      }
    }
  }
}

#selectPromotionModal {
  .modal-dialog {
    .modal-content {
      padding: 0;
      padding-top: 15px;

      .close-button {}

      .modal-title {
        padding-top: 10px;
        padding-bottom: 25px;
        font-weight: 700;
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        color: #FDBB2C;
      }

      .modal-footer {
        border-top: none;
        background: rgba(16,55,83,0.9);
        box-shadow: 0px -7px 34px 10px rgba(16,55,83,1);
        -webkit-box-shadow: 0px -7px 34px 10px rgba(16,55,83,1);
        -moz-box-shadow: 0px -7px 34px 10px rgba(16,55,83,1);
        padding-top: 0;

        .btn {
          min-height: 50px;
          display: flex;
          place-content: center;
          place-items: center;
          width: 100%;
          background: #FDBB2C;
          border-radius: 4px;
          font-weight: 700;
          font-size: 16px;
          line-height: 22px;
          text-align: center;
          color: #000000;
        }
      }

      .modal-body {
        padding: 0 15px;

        .promotion-modal {
          .action {
            margin-top: 20px;

            .btn {
              min-height: 50px;
              display: flex;
              place-content: center;
              place-items: center;
              width: 100%;
              background: #FDBB2C;
              border-radius: 4px;
              font-weight: 700;
              font-size: 16px;
              line-height: 22px;
              text-align: center;
              color: #000000;
            }
          }

          &__items {
            &__item {
              border: 1px solid rgba(255, 255, 255, 0.13);
              border-radius: 4px;
              display: flex;
              place-content: space-between;
              place-items: center;
              padding: 10px 13px;
              margin-bottom: 15px;
              position: relative;

              .checkmark {
                height: 17px;
                width: 17px;
                min-height: 17px;
                min-width: 17px;
                background-color: transparent;
                border: 2px solid #FFFFFF;
                border-radius: 50%;
                position: relative;

                &::after {
                  content: "";
                  position: absolute;
                  left: 2px;
                  top: 2px;
                  right: 0;
                  bottom: 0;
                  width: 9px;
                  height: 9px;
                  background: #FDBB2C;
                  border-radius: 50%;
                  display: none;
                }
              }

              input:checked~.checkmark:after {
                display: block;
              }

              input:checked~.selected-bg {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                top: 0;
                background: rgba(255, 255, 255, 0.13);
              }

              &__content {
                font-weight: 400;
                font-size: 14px;
                line-height: 19px;
                color: #FDBB2C;
                width: 100%;

                .title {
                  font-weight: 700;
                  font-size: 14px;
                  line-height: 19px;
                  color: #FFFFFF;
                }

                .description {
                  margin-top: 12px;
                }
              }
            }
          }
        }
      }
    }
  }
}


#gameBalanceModal {
  .close-button {
    padding-bottom: 10px;
  }

  .game-balance-content {
    overflow-y: auto;

    &__item {
      display: flex;
      place-content: space-between;
      place-items: center;
      margin-bottom: 20px;

      .title {
        font-weight: 700;
        font-size: 14px;
        line-height: 19px;
        color: #FFFFFF;
        min-width: 40%;
      }

      .currency {
        min-width: 100px;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        text-align: center;
        color: #FFFFFF;
      }

      .action {
        min-width: 80px;

        .btn {
          background: #FDBB2C;
          border-radius: 4px;
          min-height: 30px;

          font-weight: 600;
          font-size: 12px;
          line-height: 16px;
          text-align: center;
          color: #000000;
        }
      }
    }
  }
}