.history-detail-page {
  .navbar {
    &.fixed-top {
      .title {
        text-transform: capitalize;
      }
    }
  }

  &__content {
    &__container {
      background: #000B26;
      margin-bottom: 15px;

      &__item {
        border: none;
        background: transparent;

        .card-header {
          background: #19264B;
          border-radius: 4px 4px 0px 0px;
          padding: 0;
          display: flex;
          place-content: space-between;
          place-items: center;
          height: 26px;

          .title {
            display: flex;
            place-content: flex-start;
            place-items: center;
            font-weight: 700;
            font-size: 12px;
            line-height: 16px;
            color: #FDBB2C;
            height: 100%;

            span {
              background: #FDBB2C;
              border-radius: 4px 0px 0px 0px;
              display: flex;
              place-content: center;
              place-items: center;
              padding: 0 8px;

              font-weight: 700;
              font-size: 12px;
              line-height: 16px;
              text-align: center;
              color: #000000;
              height: 100%;
              margin-right: 15px;
            }
          }

          .date {
            font-weight: 400;
            font-size: 10px;
            line-height: 14px;
            text-align: right;
            color: rgba(255, 255, 255, 0.5);
            padding-right: 20px;
          }
        }

        .card-body {
          border: 1px solid rgba(255, 255, 255, 0.13);
          border-top: 0;
          border-radius: 0 0 4px 4px;
          background: transparent;
          padding: 7px 15px;

          .content {
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            color: #FFFFFF;
            padding-bottom: 15px;
          }

          .btn-link {
            font-weight: 400;
            font-size: 10px;
            line-height: 14px;
            text-align: center;
            text-decoration-line: underline;
            color: rgba(255, 255, 255, 0.5);
            padding-top: 0;
            padding-bottom: 0;
          }

          .table {
            margin-bottom: 0;

            thead {
              tr {
                th {
                  background: #19264B;
                  font-weight: 400;
                  font-size: 10px;
                  line-height: 14px;
                  text-align: center;
                  color: rgba(255, 255, 255, 0.5);
                  padding-top: 5px;
                  padding-bottom: 5px;
                  vertical-align: middle;
                }
              }
            }

            tbody {
              border-color: transparent;

              tr {
                td {
                  font-weight: 400;
                  font-size: 10px;
                  line-height: 14px;
                  text-align: center;
                  color: #FFFFFF;
                  padding-top: 5px;
                  padding-bottom: 5px;
                  background: rgba(255, 255, 255, 0.1);

                  &.warning {
                    color: #FDBB2C;
                  }

                  &.danger {
                    color: #FF0000;
                  }

                  .show-detail {
                    font-weight: 700;
                    font-size: 12px;
                    line-height: 16px;
                    text-decoration-line: underline;

                    color: #FFFFFF;
                  }
                }

                &:first-child {
                  td {
                    background: rgba(255, 255, 255, 0.06);
                  }
                }

                &:nth-child(4n) {
                  td {
                    background: rgba(255, 255, 255, 0.06);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}