.home {
  &__content {
    padding-left: 0;
    padding-right: 0;

    .btn-newbie {
      position: fixed;
      right: 10px;
      bottom: 20%;
      padding: 0;
      min-width: auto;

      &:focus {
        box-shadow: none;
      }

      img {
        max-width: 50px;
      }
    }

    &__commitment {
      &__content {
        display: flex;
        place-content: center;
        place-items: center;
        gap: 10px;
        height: 100%;

        &__item {
          background: rgba(255, 255, 255, 0.15);
          background-image: url(../images/commitment/bg.png);
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          border-radius: 16px;
          min-height: 230px;
          position: relative;
          padding: 25px 10px;

          &__icon {
            position: absolute;
            top: 15px;
            right: 0;
            max-width: 45px;
            max-height: 70px;
          }

          &__title {
            font-weight: 600;
            font-size: 14px;
            line-height: 15px;
            color: #FFFFFF;
            margin-bottom: 20px;
            min-height: 45px;
          }

          &__description {
            font-weight: 400;
            font-size: 10px;
            line-height: 14px;
            color: rgba(255, 255, 255, 0.7);
          }
        }
      }
    }

    &__special_odds {
      &__content {
        display: flex;
        place-content: flex-start;
        gap: 10px;
        overflow-y: auto;
        padding-bottom: 10px;

        &__item {
          background: #131D39;
          border-radius: 8px;
          padding: 0;
          width: 120px;
          text-align: center;
          position: relative;
          overflow: hidden;

          &__label {
            font-style: normal;
            font-weight: 600;
            font-size: 10px;
            line-height: 14px;
            text-align: center;
            color: #FDBB2C;
            padding: 3px;
            background: rgba(253, 187, 44, 0.35);
            border-radius: 0px 0px 12px 12px;
          }

          &__img {
            margin: 0;
            max-width: 117px;
          }

          &__title {
            font-weight: 600;
            font-size: 12px;
            line-height: 13px;
            text-align: center;
            color: #FFFFFF;
            padding: 12px;
          }
        }
      }
    }

    &__hot_games {
      &__content {
        display: flex;
        place-content: flex-start;
        gap: 10px;
        overflow-y: auto;
        padding-bottom: 10px;

        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar {
          display: none;
        }

        &__item {
          background: #131D39;
          border-radius: 8px;
          padding: 0 15px;
          min-width: 100px;
          text-align: center;
          position: relative;

          &__label {
            font-weight: 600;
            font-size: 10px;
            line-height: 14px;
            text-align: center;
            border-radius: 0px 0px 6px 6px;
            padding: 3px;

            &.success {
              background: rgba(73, 185, 2, 0.3);
              color: #49B902;
            }

            &.danger {
              background: rgba(203, 19, 47, 0.3);
              color: #CB132F;
            }
          }

          &__img {
            margin: 8px 0;
            max-width: 56px;
          }

          &__title {
            font-weight: 600;
            font-size: 12px;
            line-height: 13px;
            text-align: center;
            color: #FFFFFF;
            padding-bottom: 10px;
          }

          .action {
            padding: 10px;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background: rgba(0, 0, 0, 0.7);
            border: 2px solid #FDBB2C;
            backdrop-filter: blur(4px);
            border-radius: 8px;
            display: flex;
            flex-direction: column;
            place-content: center;
            place-items: center;
            gap: 10px;
            transition: all 0.2s;
            opacity: 0;
            z-index: -1;

            .btn {
              width: 100%;
              height: 30px;
              font-weight: 700;
              font-size: 12px;
              line-height: 16px;
              text-align: center;
              display: flex;
              place-content: center;
              place-items: center;
              min-width: auto;
              padding: 0;
            }
          }

          &.active {
            .action {
              opacity: 1;
              z-index: 1;
            }
          }
        }
      }
    }

    &__gaming_licenses {
      min-height: 145px;
      background-image: url(../images/gaming-licenses/bg.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      display: flex;
      place-content: center;
      place-items: flex-start;
      flex-direction: column;
      padding-top: 0 !important;
      margin-top: 40px;
      padding: 15px;

      &__content {
        display: flex;
        place-content: space-between;
        place-items: center;
        gap: 15px;
        width: 100%;

        &__img {
          width: 30%;
          text-align: center;
          max-height: 70px;
        }
      }
    }

    &__luck_surprise {
      background-image: url(../images/luck-surprise-bg.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      min-height: 212px;
      display: flex;
      flex-direction: column;
      place-content: center;
      place-content: center;
      margin-top: 35px;

      &__title {
        display: flex;
        place-content: center;
        place-items: center;

        font-weight: 900;
        font-size: 34px;
        line-height: 46px;
        text-align: center;
        color: #FFFFFF;
        text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.35);

        &__left {
          padding-bottom: 30px;
          margin-right: -30px;
        }

        &__icon {
          max-width: 130px;
        }

        &__right {
          padding-top: 30px;
          margin-left: -30px;
        }
      }

      &__subtitle {
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        color: #FFFFFF;
        padding-top: 15px;
      }
    }

    &__exclusive_event {
      &__content {
        background: #131D39;
        border-radius: 18px;
        padding: 25px 15px;
        overflow: hidden;

        &__header {
          position: relative;
          padding-bottom: 20px;
          border-bottom: 1px solid rgba(255, 255, 255, 0.13);

          &__title {
            font-weight: 700;
            font-size: 26px;
            line-height: 35px;

            background: linear-gradient(90deg, #FCA20D 0%, #FFCD0C 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
            margin-bottom: 10px;
          }

          &__total-prize {
            background: #000B26;
            border-radius: 4px;
            font-weight: 500;
            font-size: 14px;
            line-height: 19px;
            text-align: center;
            color: #FFFFFF;
            display: inline-block;
            padding: 4px 10px;
          }

          &__icon {
            position: absolute;
            top: -50px;
            right: -30px;
          }
        }

        &__item {
          display: flex;
          place-content: space-between;
          place-items: center;
          padding: 8px 0;

          .username {
            font-weight: 700;
            font-size: 16px;
            line-height: 22px;
            color: #FFFFFF;
            margin-bottom: 2px;
          }

          .name {
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            color: rgba(255, 255, 255, 0.3);
          }

          .price {
            font-weight: 700;
            font-size: 16px;
            line-height: 22px;
            text-align: right;
            background: linear-gradient(89.95deg, #FCA20D 50%, #FFCD0C 99.96%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
            margin-bottom: 2px;
          }

          .date {
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            text-align: right;
            color: rgba(255, 255, 255, 0.3);
          }
        }

        &__action {
          a {
            width: 100%;
            min-height: 40px;
            font-weight: 700;
            font-size: 16px;
            line-height: 22px;
            text-align: center;
            color: #000000;
            display: flex;
            place-content: center;
            place-items: center;
          }
        }
      }
    }

    &__event {
      margin-top: 35px;
      margin-left: -5px;
      margin-right: -5px;

      &__container {
        padding-left: 5px;
        padding-right: 5px;

        &:first-child {
          &>div {
            background-image: url('../images/event-bg.png');
          }
        }

        &:last-child {
          &>div {
            background-image: url('../images/download-bg.png');
          }
        }

        &__item {
          background: #131D39;
          box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.65);
          border-radius: 8px;
          background-repeat: no-repeat;
          background-size: cover;
          padding: 10px 13px 13px;
          min-height: 100px;
          height: 100%;
          position: relative;

          &__icon {
            position: absolute;
            right: 13px;
            top: 13px;
          }

          &__img {
            height: 45px;
            display: flex;
            place-content: flex-start;
            place-items: flex-end;

            img {
              max-height: 40px;
              max-width: 50px;
              margin-bottom: 5px;
            }
          }

          &__sub {
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            color: rgba(255, 255, 255, 0.5);
            margin-bottom: 3px;
          }

          &__title {
            font-weight: 600;
            font-size: 16px;
            line-height: 22px;
            color: #FFFFFF;
            text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.5);
          }
        }
      }
    }

    &__category {
      display: flex;
      place-content: space-between;
      place-items: flex-start;
      margin-top: 33px;
      text-align: center;

      &__item {
        &__img {
          background: #131D39;
          box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.4);
          border-radius: 18px;
          width: 62px;
          height: 62px;
          border: 2px solid rgba(25, 66, 132, 0.3);

          display: flex;
          place-content: center;
          place-items: center;
        }

        &__text {
          font-weight: 400;
          font-size: 10px;
          line-height: 14px;
          text-align: center;
          color: #FFFFFF;
          margin-top: 5px;
        }
      }
    }

    &__feature {
      &__title {
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        color: rgba(255, 255, 255, 0.5);
        margin-bottom: 15px;
      }

      &__content {
        display: flex;
        place-content: space-between;
        place-items: center;

        img {
          max-height: 20px;
          max-width: 90px;
        }
      }
    }


    .top-slider {
      margin-bottom: 30px !important;
      padding: 20px 15px;
      min-height: 140px;

      .slick-slide {
        border-radius: 20px;
      }

      .slick-slide img {
        width: 100%;
      }

      .slick-dots {
        width: auto;
        display: flex;
        place-content: center;
        place-items: center;
        left: 0;
        right: 0;
        bottom: -15px;
      }

      .slick-dots li {
        margin: 0 2px;
        // transition: 0.2s;
        width: 15px;
      }

      .slick-dots li button {
        // transition: 0.2s;
        width: 15px;
      }

      .slick-dots li button::before {
        background-color: #707070;
        content: '';
        width: 10px;
        height: 10px;
        opacity: 1;
        border-radius: 50%;
      }

      .slick-dots li.slick-active,
      .slick-dots li.slick-active button {
        width: 40px;
      }

      .slick-dots li.slick-active button::before {
        width: 35px;
        border-radius: 10px;
        background-color: #fff;
      }

      .no-overflow {
        overflow: hidden;
      }

      .slick-slider {
        overflow: hidden;
      }
    }
  }


}


#newbieModal {
  .modal-dialog {
    max-width: 350px;

    .modal-content {
      .modal-header {
        border-bottom: none !important;

        .btn-close {
          opacity: 1;
          background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
        }
      }

      .modal-body {
        img {
          max-width: 180px;
        }

        .title {
          font-weight: 900;
          font-size: 20px;
          line-height: 27px;
          text-align: center;
          color: #FFFFFF;
          margin: 15px 0;
        }

        .subtitle {
          font-weight: 400;
          font-size: 14px;
          line-height: 19px;
          text-align: center;
          color: #FFFFFF;

          span {
            font-weight: 700;
            font-size: 18px;
            line-height: 25px;
            text-align: center;
            color: #FDBB2C;
          }
        }
      }

      .modal-footer {
        border-top: none;
        padding: 0;
        margin-top: 20px;

        .btn {
          width: 100%;
          min-height: 50px;
          font-weight: 700;
          font-size: 18px;
          line-height: 25px;
          text-align: center;
          color: #000000;
          margin: 0;
          border-radius: 0;
          display: flex;
          place-content: center;
          place-items: center;
        }
      }
    }
  }
}


.home-section {
  padding-top: 40px;

  .label {
    border: 1px solid #FDBB2C;
    border-radius: 4px;
    font-weight: 600;
    font-size: 10px;
    line-height: 14px;
    text-align: center;
    color: #FFFFFF;
    display: inline-block;
    min-width: 45px;
    padding: 2px 10px;
  }

  .title {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
    text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.6);
    margin: 10px 0 15px;
  }

  .subtitle {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    color: #FFFFFF;
  }
}