@import "./login.scss";
@import "./register.scss";
@import "./home.scss";
@import "./add-bank-account.scss";
@import "./manage-password.scss";
@import "./help.scss";
@import "./forget-password.scss";
@import "./footer.scss";
@import "./promotion.scss";
@import "./category.scss";
@import "./exclusive-event.scss";
@import "./play-now.scss";
@import "./voucher.scss";
@import "./download-app.scss";
@import "./thank-you.scss";
@import "./deposit.scss";
@import "./history-detail.scss";
@import "./my-account.scss";