@import "./login.scss";
@import "./register.scss";
@import "./home.scss";
@import "./add-bank-account.scss";
@import "./manage-password.scss";
@import "./help.scss";
@import "./forget-password.scss";
@import "./footer.scss";
@import "./promotion.scss";
@import "./category.scss";
@import "./exclusive-event.scss";
@import "./play-now.scss";
@import "./voucher.scss";
@import "./download-app.scss";
@import "./thank-you.scss";
@import "./deposit.scss";
@import "./history-detail.scss";
@import "./my-account.scss";
@import "./campaign-1_megajackpot.scss";
@import "./campaign-1_results.scss";
@import "./campaign-1_results-group-match.scss";
@import "./campaign-1_home.scss";
@import "./campaign-1_submission.scss";
@import "./campaign-2_home.scss";

@import "./campaign-desktop.scss";
@import "./campaign-1_home-desktop.scss";
@import "./campaign-1_submission-desktop.scss";
@import "./campaign-1_results-group-match-desktop.scss";
@import "./campaign-2_home-desktop.scss";