.manage-password {
  padding-top: 50px;

  .submit-btn {
    padding: 0 15px;

    .btn {
      min-height: 50px;
      width: 100%;
    }
  }

  .modal .modal-content {
    height: auto !important;
    padding: 30px 20px;

    .manage_password_success_modal_content {
      font-weight: 300;
      font-size: 18px;
      line-height: 20px;
      text-align: center;
      color: #000000;
    }

    .btn {
      padding-top: 8px;
      padding-bottom: 8px;
    }
  }
}