.voucher-page {
  margin-bottom: 0;
  min-height: auto;

  &__content {
    padding-top: 20px;

    .container-fluid {
      padding-left: 25px;
      padding-right: 25px;
    }

    &__empty {
      display: flex;
      place-content: center;
      place-items: center;
      flex-direction: column;
      gap: 10px;
      padding: 150px 0;

      font-weight: 400;
      font-size: 14px;
      line-height: 19px;
      text-align: center;
      color: rgba(255, 255, 255, 0.3);
    }

    &__container {

      &__title {
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        color: #FFFFFF;
        margin-top: 25px;
      }

      &__item {
        background: #19264B;
        border: 1px solid #19264B;
        border-radius: 4px;
        margin-top: 10px;
        padding: 10px 12px;

        &__price {
          font-weight: 700;
          font-size: 14px;
          line-height: 19px;
          color: #FDBB2C;
          margin-bottom: 4px;
        }

        &__title {
          font-weight: 700;
          font-size: 12px;
          line-height: 16px;
          color: #FFFFFF;
          margin-bottom: 15px;
        }

        &__description {
          font-weight: 400;
          font-size: 12px;
          line-height: 16px;
          color: rgba(255, 255, 255, 0.5);
        }

        .btn {
          background: #FDBB2C;
          border-radius: 4px;
          height: 25px;
          display: flex;
          place-content: center;
          place-items: center;

          font-weight: 700;
          font-size: 14px;
          line-height: 19px;
          text-align: center;
          color: #000000;
        }
      }
    }

    &__form {
      padding-bottom: 35px;
      border-bottom: 2px solid rgba(255, 255, 255, 0.13);

      &__input {
        .form-label {
          font-weight: 400;
          font-size: 14px;
          line-height: 19px;
          color: #FFFFFF;
          margin-bottom: 6px;
        }

        .form-control {
          border: 1px solid rgba(255, 255, 255, 0.13);
          border-radius: 4px;
          min-height: 50px;
          background: transparent;

          font-weight: 400;
          font-size: 14px;
          line-height: 19px;
          color: rgba(255, 255, 255, 1);

          padding-left: 13px;
          padding-right: 13px;

          &::placeholder {
            font-weight: 400;
            font-size: 14px;
            line-height: 19px;
            color: rgba(255, 255, 255, 0.4);
          }

          &:focus {
            box-shadow: none;
          }
        }

        .form-text {
          font-weight: 400;
          font-size: 12px;
          line-height: 16px;
          color: #FF1A1A;
        }

      }

      .btn {
        background: #FDBB2C;
        border-radius: 4px;
        min-height: 50px;
        display: flex;
        place-content: center;
        place-items: center;

        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        text-align: center;

        color: #000000;
        width: 100%;
        margin-top: 20px;
      }
    }
  }
}