@@include('../main-wallet.html')

<div data-aos="fade-up">
  <div class="deposit-content">
    <ul class="nav nav-tabs" id="depositMainTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="payment-gateway-tab" data-bs-toggle="tab" data-bs-target="#payment-gateway" type="button" role="tab" aria-controls="payment-gateway" aria-selected="true" data-i18n="deposit_page.Payment_Gateway"></button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="online-banking-tab" data-bs-toggle="tab" data-bs-target="#online-banking" type="button" role="tab" aria-controls="online-banking" aria-selected="false" data-i18n="deposit_page.Online_Banking_ATM"></button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="crypto-tab" data-bs-toggle="tab" data-bs-target="#crypto" type="button" role="tab" aria-controls="crypto" aria-selected="false" data-i18n="deposit_page.Crypto"></button>
      </li>
    </ul>
    <div class="tab-content" id="depositMainContent">
      <div class="tab-pane fade show active" id="payment-gateway" role="tabpanel" aria-labelledby="payment-gateway-tab">
        @@include('./payment-gateway-tab.html')
      </div>
      <div class="tab-pane fade" id="online-banking" role="tabpanel" aria-labelledby="online-banking-tab">
        @@include('./online-banking-tab.html')
      </div>
      <div class="tab-pane fade" id="crypto" role="tabpanel" aria-labelledby="crypto-tab">
        @@include('./crypto-tab.html')
      </div>
    </div>
  </div>
</div>

<!-- MODAL -->
@@include('../select-promotion-modal.html')
@@include('./deposit-success-modal.html')
@@include('./deposit-fail-modal.html')
<!-- @@include('../restore-modal.html') -->
<!-- MODAL -->