<form id="depositOnlineBankingForm" class="form">
  <div class="form__container">
    <label class="form-label" data-i18n="deposit_page.Amount_SGD"></label>
    <input type="number" class="form-control" name="amount_SGD" data-i18n="deposit_page.Enter_amount" data-i18n-attr="placeholder" />
    <div class="form-suggest">
      <button type="button" class="btn btn-secondary" data-value="50">50</button>
      <button type="button" class="btn btn-secondary" data-value="100">100</button>
      <button type="button" class="btn btn-secondary" data-value="300">300</button>
      <button type="button" class="btn btn-secondary" data-value="500">500</button>
      <button type="button" class="btn btn-secondary" data-value="1000">1000</button>
    </div>
  </div>
  <div class="form__container">
    <label class="form-label" data-i18n="deposit_page.Select_Bank"></label>
    <select class="form-select select-bank" name="select_bank">
      <option selected></option>
      <option value="POSB">POSB</option>
      <option value="DBS">DBS</option>
      <option value="UOB">UOB</option>
      <option value="CIMB SG">CIMB SG</option>
      <option value="OCBC">OCBC</option>
      <option value="Maybank Singapore Limited">Maybank Singapore Limited</option>
      <option value="HSBC">HSBC</option>
    </select>
    <!-- <select class="form-select select_bank" name="select_bank" required>
      <option value="" selected data-i18n="deposit_page.Please_select"></option>
      <option value="POSB">POSB</option>
      <option value="DBS">DBS</option>
      <option value="UOB">UOB</option>
      <option value="CIMB SG">CIMB SG</option>
      <option value="OCBC">OCBC</option>
      <option value="Maybank Singapore Limited">Maybank Singapore Limited</option>
      <option value="HSBC">HSBC</option>
    </select> -->
    <div id="selectBankDropdown"></div>
    <div class="select_bank_content d-none">
      <div class="select_bank_content__title" data-i18n="deposit_page.Maybank_Singapore_Limited"></div>
      <div class="row select_bank_content__content">
        <div class="col-4 px-0" data-i18n="deposit_page.Bank_Account_Name"></div>
        <div class="col d-flex justify-content-between align-items-center pe-0">
          <input type="text" class="copy-input" value="KF MAJU SETIA ENTER-PRISE" id="Bank_Account_Name_Value" disabled />
          <!-- <span id="Bank_Account_Name_Value">KF MAJU SETIA ENTER-PRISE</span> -->
          <img class="Bank_Account_Name_Copy" src="assets/icons/copy-yellow.svg" alt=""/>
        </div>
      </div>
      <div class="row select_bank_content__content">
        <div class="col-4 px-0" data-i18n="deposit_page.Bank_Account_Number"></div>
        <div class="col d-flex justify-content-between align-items-center pe-0">
          <input type="text" class="copy-input" value="5050548548594" id="Bank_Account_Number_Value" disabled />
          <img class="Bank_Account_Number_Copy" src="assets/icons/copy-yellow.svg" alt=""/>
        </div>
      </div>
      <div class="row select_bank_content__content">
        <div class="col-4 px-0" data-i18n="deposit_page.Min_Amount"></div>
        <div class="col">SGD 30.00</div>
      </div>
      <div class="row select_bank_content__content">
        <div class="col-4 px-0" data-i18n="deposit_page.Min_Amount"></div>
        <div class="col">SGD 50,000.00</div>
      </div>
    </div>
  </div>
  <div class="form__container">
    <label class="form-label" data-i18n="deposit_page.Welcome_Credit"></label>
    <input type="text" class="form-control" data-i18n="deposit_page.Enter_Welcome_Credit" data-i18n-attr="placeholder" value="Free SGD100" disabled />
  </div>
  <div class="form__container">
    <label class="form-label" data-i18n="deposit_page.Promotion"></label>
    <div class="input-group">
      <input type="text" class="form-control PromotionSelectValue" data-i18n="deposit_page.Please_select" data-i18n-attr="placeholder" data-bs-toggle="modal" data-bs-target="#selectPromotionModal" disabled />
      <span class="input-group-text">
        <img class="" src="assets/icons/down-white1.svg" alt="" data-bs-dismiss="modal" aria-label="Close"/>
      </span>
    </div>
  </div>
  <div class="form__container">
    <label class="form-choose">
      <img class="" src="assets/icons/add-plus.svg" alt="" data-bs-dismiss="modal" aria-label="Close"/>
      <div data-i18n="deposit_page.Please_upload_bank_deposit_slip"></div>
      <input type="file" class="d-none"/>
    </label>
  </div>

  <div class="form__action">
    <button type="submit" class="btn btn-warning" data-i18n="Submit"></button>
    <!-- <button type="button" class="btn btn-link" data-i18n="Reset" data-bs-toggle="modal" data-bs-target="#depositFailModal"></button> -->
    <button type="button" class="btn btn-link btn-reset-form" data-i18n="Reset" data-form="depositOnlineBankingForm"></button>
  </div>
</form>