:root {
  --primary-color: #4E7FFF;
  --max-with-mobile: 768px;
  --default-font-size: 14px;
  --default-small-font-size: 13px;
  --default-padding-content: 20px;
  --default-mobile-padding-content: 15px;
  --bs-gutter-x: 20px;
  --bs-gutter-y: 20px;
  --bs-gutter-x-mobile: 10px;
  --bs-gutter-y-mobile: 10px;
  --bs-danger-rgb: 255, 0, 0;
  --bs-body-color: #fff; }

html,
body {
  font-size: var(--default-font-size);
  line-height: 16px;
  font-weight: 300;
  max-width: var(--max-with-mobile);
  margin: auto;
  font-family: 'Noto Sans', sans-serif;
  min-height: 100vh;
  position: relative;
  background: #000B26;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: var(--bs-body-color); }

* {
  outline: none; }

img {
  max-width: 100%; }

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  padding-right: var(--bs-gutter-x-mobile, 0.75rem);
  padding-left: var(--bs-gutter-x-mobile, 0.75rem); }

.form-control {
  font-size: 14px;
  line-height: 16px; }

.btn {
  border-radius: 10px;
  min-width: 80px; }
  .btn-primary {
    background-color: #4E7FFF;
    border-color: #4E7FFF; }
    .btn-primary:disabled {
      background-color: #597EF7;
      border-color: #597EF7; }
  .btn-outline-primary {
    color: #4E7FFF;
    border-color: #4E7FFF; }

.text-primary {
  color: #597EF7; }

.text-title {
  background: linear-gradient(38.14deg, #C9AF92 47.15%, #E5D6C3 89.33%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center; }

.main {
  padding-top: 70px;
  padding-bottom: 80px;
  min-height: 100vh; }

a {
  color: #597EF7;
  text-decoration: none; }

.modal.slide-up {
  top: auto;
  bottom: 0;
  margin: 0; }
  .modal.slide-up.show .modal-dialog {
    transform: none !important; }
  .modal.slide-up.fade .modal-dialog {
    -webkit-transform: translate(0, 100vh);
    -ms-transform: translate(0, 100vh);
    -o-transform: translate(0, 100vh);
    transform: translate(0, 100vh);
    display: flex;
    align-items: flex-end;
    margin: auto;
    height: 100%; }
    .modal.slide-up.fade .modal-dialog .modal-content {
      border-radius: 20px 20px 0px 0px;
      height: 80vh; }
      .modal.slide-up.fade .modal-dialog .modal-content .modal-header {
        border-bottom: 10px solid #f2f2f2;
        display: flex;
        place-content: space-between;
        place-items: center;
        min-height: 70px; }
        .modal.slide-up.fade .modal-dialog .modal-content .modal-header a {
          font-weight: 300;
          font-size: 16px;
          line-height: 14px; }
        .modal.slide-up.fade .modal-dialog .modal-content .modal-header h5 {
          font-weight: 400;
          font-size: 16px;
          line-height: 19px;
          text-align: center;
          color: #000000;
          margin: 0; }

.modal.slide-up-notification {
  top: auto;
  bottom: 0;
  margin: 0;
  padding: 0; }
  .modal.slide-up-notification.show .modal-dialog {
    transform: none !important;
    max-width: initial !important; }
    .modal.slide-up-notification.show .modal-dialog .modal-content {
      height: initial !important;
      padding: 30px; }
  .modal.slide-up-notification.fade .modal-dialog {
    -webkit-transform: translate(0, 100vh);
    -ms-transform: translate(0, 100vh);
    -o-transform: translate(0, 100vh);
    transform: translate(0, 100vh);
    display: flex;
    align-items: flex-end;
    margin: auto;
    height: 100%; }
    .modal.slide-up-notification.fade .modal-dialog .modal-content {
      border-radius: 20px 20px 0px 0px;
      height: initial !important; }
      .modal.slide-up-notification.fade .modal-dialog .modal-content .modal-header {
        border-bottom: 10px solid #f2f2f2;
        display: flex;
        place-content: space-between;
        place-items: center;
        min-height: 70px; }
        .modal.slide-up-notification.fade .modal-dialog .modal-content .modal-header a {
          font-weight: 300;
          font-size: 16px;
          line-height: 14px; }
        .modal.slide-up-notification.fade .modal-dialog .modal-content .modal-header h5 {
          font-weight: 400;
          font-size: 16px;
          line-height: 19px;
          text-align: center;
          color: #000000;
          margin: 0; }
      .modal.slide-up-notification.fade .modal-dialog .modal-content .btn {
        width: 100%; }

.modal.alert .modal-dialog {
  max-width: 300px;
  margin: auto; }
  .modal.alert .modal-dialog .modal-content {
    border-radius: 20px; }
