
<!-- Modal -->
<div class="modal fade slide-up" id="gameBalanceModal" tabindex="-1" data-bs-keyboard="false" aria-labelledby="gameBalanceModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="close-button">
        <img class="" src="assets/icons/down-white1.svg" alt="" data-bs-dismiss="modal" aria-label="Close"/>
      </div>
      <div class="game-balance-content hide-scrollbar">
        <div class="game-balance-content__item">
          <div class="title" data-i18n="deposit_page.game_balance_title1"></div>
          <div class="currency">SGD 0.00</div>
          <div class="action">
            <button type="button" class="btn btn-warning" data-i18n="deposit_page.All_In" data-bs-toggle="modal" data-bs-target="#transferBalanceSuccessModal"></button>
          </div>
        </div>
        
        <div class="game-balance-content__item">
          <div class="title" data-i18n="deposit_page.game_balance_title2"></div>
          <div class="currency" data-i18n="deposit_page.Under_Maintenance"></div>
          <div class="action">
            <button type="button" class="btn btn-warning" data-i18n="deposit_page.All_In" data-bs-toggle="modal" data-bs-target="#transferBalanceFailModal"></button>
          </div>
        </div>
        
        <div class="game-balance-content__item">
          <div class="title" data-i18n="deposit_page.game_balance_title3"></div>
          <div class="currency">SGD 0.00</div>
          <div class="action">
            <button type="button" class="btn btn-warning" data-i18n="deposit_page.All_In" data-bs-toggle="modal" data-bs-target="#transferBalanceSuccessModal"></button>
          </div>
        </div>
        
        <div class="game-balance-content__item">
          <div class="title" data-i18n="deposit_page.game_balance_title4"></div>
          <div class="currency">SGD 0.00</div>
          <div class="action">
            <button type="button" class="btn btn-warning" data-i18n="deposit_page.All_In" data-bs-toggle="modal" data-bs-target="#transferBalanceSuccessModal"></button>
          </div>
        </div>
        
        <div class="game-balance-content__item">
          <div class="title" data-i18n="deposit_page.game_balance_title5"></div>
          <div class="currency">SGD 0.00</div>
          <div class="action">
            <button type="button" class="btn btn-warning" data-i18n="deposit_page.All_In" data-bs-toggle="modal" data-bs-target="#transferBalanceSuccessModal"></button>
          </div>
        </div>
        
        <div class="game-balance-content__item">
          <div class="title" data-i18n="deposit_page.game_balance_title6"></div>
          <div class="currency">SGD 0.00</div>
          <div class="action">
            <button type="button" class="btn btn-warning" data-i18n="deposit_page.All_In" data-bs-toggle="modal" data-bs-target="#transferBalanceSuccessModal"></button>
          </div>
        </div>
        
        <div class="game-balance-content__item">
          <div class="title" data-i18n="deposit_page.game_balance_title7"></div>
          <div class="currency">SGD 0.00</div>
          <div class="action">
            <button type="button" class="btn btn-warning" data-i18n="deposit_page.All_In" data-bs-toggle="modal" data-bs-target="#transferBalanceSuccessModal"></button>
          </div>
        </div>
        
        <div class="game-balance-content__item">
          <div class="title" data-i18n="deposit_page.game_balance_title8"></div>
          <div class="currency">SGD 0.00</div>
          <div class="action">
            <button type="button" class="btn btn-warning" data-i18n="deposit_page.All_In" data-bs-toggle="modal" data-bs-target="#transferBalanceSuccessModal"></button>
          </div>
        </div>
        
        <div class="game-balance-content__item">
          <div class="title" data-i18n="deposit_page.game_balance_title9"></div>
          <div class="currency">SGD 0.00</div>
          <div class="action">
            <button type="button" class="btn btn-warning" data-i18n="deposit_page.All_In" data-bs-toggle="modal" data-bs-target="#transferBalanceSuccessModal"></button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>