<div class="main-wallet" data-aos="fade-up">
  <div class="main-wallet__top">
    <div>
      <div class="main-wallet__top__title" data-i18n="deposit_page.Main_Wallet_Balance"></div>
      <div class="main-wallet__top__currency">
        SGD 5,000,000.00 <img src="assets/icons/refresh.svg" alt="" />
      </div>
    </div>
    <div class="main-wallet__top__action">
      <button class="btn btn-secondary" data-i18n="Restore" data-bs-toggle="modal" data-bs-target="#restoreModal"></button>
    </div>
  </div>
  <div class="main-wallet__footer">
    <div class="main-wallet__footer__currency">SGD 1000.00</div>
    <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#gameBalanceModal" class="main-wallet__footer__description" data-i18n="deposit_page.Show_Game_Balance"></a>
  </div>
</div>

<!-- Modal -->
@@include('./game-balance-modal.html')
@@include('./transfer-success-modal.html')
@@include('./transfer-fail-modal.html')
<!-- Modal -->