
<!-- Modal -->
<div class="modal fade slide-up" id="selectPromotionModal" tabindex="-1" aria-labelledby="selectPromotionModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <form class="promotion-modal modal-content">
      <div class="close-button">
        <img class="" src="assets/icons/down-white1.svg" alt="" data-bs-dismiss="modal" aria-label="Close"/>
      </div>
      <div class="modal-title" data-i18n="deposit_page.Select_Promotion"></div>
      <div class="modal-body hide-scrollbar">
        <div class="promotion-modal__items">
          <label class="promotion-modal__items__item">
            <input type="radio" name="promotion-modal-radio" class="d-none" value="deposit_page.select_promotion_content.title1"/>
            <div class="promotion-modal__items__item__content">
              <div class="title" data-i18n="deposit_page.select_promotion_content.title1"></div>
            </div>
            <div class="selected-bg"></div>
            <div class="checkmark"></div>
          </label>
          <label class="promotion-modal__items__item">
            <input type="radio" name="promotion-modal-radio" class="d-none" value="deposit_page.select_promotion_content.title2"/>
            <div class="promotion-modal__items__item__content">
              <div class="title" data-i18n="deposit_page.select_promotion_content.title2"></div>
              <div class="description">
                <div class="row">
                  <div class="col-3" data-i18n="Bonus"></div>
                  <div class="col">: <span class="ps-2">SGD 300.00</span></div>
                </div>
                <div class="row">
                  <div class="col-3" data-i18n="Turnover"></div>
                  <div class="col">: <span class="ps-2">x25</span></div>
                </div>
              </div>
            </div>
            <div class="selected-bg"></div>
            <div class="checkmark"></div>
          </label>
          <label class="promotion-modal__items__item">
            <input type="radio" name="promotion-modal-radio" class="d-none" value="deposit_page.select_promotion_content.title3"/>
            <div class="promotion-modal__items__item__content">
              <div class="title" data-i18n="deposit_page.select_promotion_content.title3"></div>
              <div class="description">
                <div class="row">
                  <div class="col-3" data-i18n="Bonus"></div>
                  <div class="col">: <span class="ps-2">SGD 300.00</span></div>
                </div>
                <div class="row">
                  <div class="col-3" data-i18n="Turnover"></div>
                  <div class="col">: <span class="ps-2">x15</span></div>
                </div>
              </div>
            </div>
            <div class="selected-bg"></div>
            <div class="checkmark"></div>
          </label>
          <label class="promotion-modal__items__item">
            <input type="radio" name="promotion-modal-radio" class="d-none" value="deposit_page.select_promotion_content.title4"/>
            <div class="promotion-modal__items__item__content">
              <div class="title" data-i18n="deposit_page.select_promotion_content.title4"></div>
              <div class="description">
                <div class="row">
                  <div class="col-3" data-i18n="Bonus"></div>
                  <div class="col">: <span class="ps-2">SGD 300.00</span></div>
                </div>
                <div class="row">
                  <div class="col-3" data-i18n="Turnover"></div>
                  <div class="col">: <span class="ps-2">x15</span></div>
                </div>
              </div>
            </div>
            <div class="selected-bg"></div>
            <div class="checkmark"></div>
          </label>
          <label class="promotion-modal__items__item">
            <input type="radio" name="promotion-modal-radio" class="d-none" value="deposit_page.select_promotion_content.title5"/>
            <div class="promotion-modal__items__item__content">
              <div class="title" data-i18n="deposit_page.select_promotion_content.title5"></div>
              <div class="description">
                <div class="row">
                  <div class="col-3" data-i18n="Bonus"></div>
                  <div class="col">: <span class="ps-2">SGD 300.00</span></div>
                </div>
                <div class="row">
                  <div class="col-3" data-i18n="Turnover"></div>
                  <div class="col">: <span class="ps-2">x5</span></div>
                </div>
              </div>
            </div>
            <div class="selected-bg"></div>
            <div class="checkmark"></div>
          </label>
        </div>
        <!-- <div class="action">
          <button type="submit" class="btn btn-warning" data-i18n="Submit"></button>
        </div> -->
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-warning" data-i18n="Submit"></button>
      </div>
    </form>
  </div>
</div>