<!-- Modal -->
<div
  class="modal fade alert"
  id="transferBalanceSuccessModal"
  tabindex="-1"
  aria-labelledby="transferBalanceSuccessModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-body text-center">
        <img src="assets/icons/success.svg" />
        <div class="text mb-3 mt-4" data-i18n="deposit_page.Transfer_Successful"></div>
        <div class="action">
          <button type="button" class="btn btn-warning btn-confirm w-50" data-bs-dismiss="modal" data-i18n="voucher_page.Ok"></button>
          <!-- <a href="/history.html" class="btn btn-warning btn-confirm w-50" data-i18n="voucher_page.Ok"></a> -->
        </div>
      </div>
    </div>
  </div>
</div>
