<form id="myAccountBankDetailForm" class="form">
  <div class="form__container">
    <label class="form-label" data-i18n="my_account_page.Account_Holder_Name"></label>
    <input type="text" class="form-control" name="Account_Holder_Name" data-i18n="my_account_page.Account_Holder_Name" data-i18n-attr="placeholder" value="Aaron Lee" disabled />
  </div>
  <div class="form__container">
    <label class="form-label" data-i18n="my_account_page.Saved_Bank"></label>
    <input type="text" class="form-control" name="Saved_Bank" data-i18n="my_account_page.Saved_Bank" data-i18n-attr="placeholder" value="POSB 11223344556677" disabled />
  </div>
  <div class="form__action">
    <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#addBankDetailModal">
      <img src="assets/icons/add-bank.svg" class="me-2" />
      <span data-i18n="my_account_page.Add_Bank"></span>
    </button>
  </div>
</form>