<form id="myAccountChangePasswordForm" class="form">
  <div class="form__container">
    <label class="form-label" data-i18n="my_account_page.Current_Password"></label>
    <input type="password" class="form-control" name="Current_Password" data-i18n="my_account_page.Enter_Current_Password" data-i18n-attr="placeholder" />
  </div>
  <div class="form__container">
    <label class="form-label" data-i18n="my_account_page.New_Password"></label>
    <input type="password" class="form-control" name="New_Password" data-i18n="my_account_page.Enter_New_Password" data-i18n-attr="placeholder" />
  </div>
  <div class="form__container">
    <label class="form-label" data-i18n="my_account_page.Confirm_Password"></label>
    <input type="password" class="form-control" name="Confirm_Password" data-i18n="my_account_page.Enter_Confirm_Password" data-i18n-attr="placeholder" />
  </div>
  <div class="form__action">
    <button type="submit" class="btn btn-warning" data-i18n="Save"></button>
  </div>
</form>