<form id="myAccountProfileForm" class="form">
  <div class="form__container">
    <label class="form-label" data-i18n="my_account_page.Username"></label>
    <input type="text" class="form-control" name="username" data-i18n="my_account_page.Enter_Username" data-i18n-attr="placeholder" value="Aaron Lee" disabled />
  </div>
  <div class="form__container">
    <label class="form-label" data-i18n="my_account_page.Full_Name"></label>
    <input type="text" class="form-control" name="full_name" data-i18n="my_account_page.Enter_Full_Name" data-i18n-attr="placeholder" value="Aaron Lee Li Yan" disabled />
  </div>
  <div class="form__container">
    <label class="form-label" data-i18n="my_account_page.Contact_Number"></label>
    <input type="text" class="form-control" name="contact_number" data-i18n="my_account_page.Enter_Contact_Number" data-i18n-attr="placeholder" value="012-3456789" disabled />
  </div>
  <div class="form__container">
    <label class="form-label" data-i18n="my_account_page.Email"></label>
    <input type="email" class="form-control" name="email" data-i18n="my_account_page.Enter_Email" data-i18n-attr="placeholder" value="Aaronlee@gmail.com" disabled />
  </div>
  <div class="form__container">
    <label class="form-label" data-i18n="my_account_page.Currency"></label>
    <input type="text" class="form-control" name="currency" data-i18n="my_account_page.Enter_Currency" data-i18n-attr="placeholder" value="SGD" disabled />
  </div>
  <!-- <div class="form__action">
    <button type="submit" class="btn btn-warning" data-i18n="Submit"></button>
  </div> -->
</form>