
<!-- Modal -->
<div class="modal fade slide-up" id="payoutTableModal" tabindex="-1" data-bs-keyboard="false" aria-labelledby="payoutTableModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="close-button">
        <img class="" src="assets/icons/down-white1.svg" alt="" data-bs-dismiss="modal" aria-label="Close"/>
      </div>
      <div class="content">
        <div class="content__title" data-i18n="payout_table_content.title1"></div>
        <p class="content__description" data-i18n="payout_table_content.description1"></p>
        <table class="table">
          <thead>
            <tr>
              <th scope="col" data-i18n="Small_Forecast"></th>
              <th scope="col" data-i18n="Prize_Amount"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td data-i18n="1st_Prize"></td>
              <td>$ 2,500.00</td>
            </tr>
            <tr>
              <td data-i18n="2nd_Prize"></td>
              <td>$ 1,000.00</td>
            </tr>
            <tr>
              <td data-i18n="3rd_Prize"></td>
              <td>$ 500.00</td>
            </tr>
            <tr>
              <td data-i18n="Special"></td>
              <td>$ 200.00</td>
            </tr>
            <tr>
              <td data-i18n="Consolation"></td>
              <td>$ 60.00</td>
            </tr>
          </tbody>
        </table>


        <div class="content__title" data-i18n="payout_table_content.title2"></div>
        <p class="content__description" data-i18n="payout_table_content.description2"></p>
        <table class="table">
          <thead>
            <tr>
              <th scope="col" data-i18n="payout_table_content.Big_Forecast"></th>
              <th scope="col" data-i18n="payout_table_content.Prize_Amount"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td data-i18n="1st_Prize"></td>
              <td>$ 2,500.00</td>
            </tr>
            <tr>
              <td data-i18n="2nd_Prize"></td>
              <td>$ 1,000.00</td>
            </tr>
            <tr>
              <td data-i18n="3rd_Prize"></td>
              <td>$ 500.00</td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>