<div class="category-page__content__top" data-aos="fade-in">

  <!-- start slider -->
  <div class="top-slider">
    <div class="columns">
        <img src="assets/images/slider/2.jpeg" alt="" />
    </div>
    <div class="columns">
        <img src="assets/images/slider/2.jpeg" alt="" />
    </div>
    <div class="columns">
        <img src="assets/images/slider/2.jpeg" alt="" />
    </div>
  </div>
  <!-- end slider -->

  <div class="nav nav-tabs category-page__content__top__navbar container-fluid" id="category-tab" role="tablist">
    <a href="/slot.html" class="category-page__content__top__navbar__item @@if (context.active === 1) {active}" id="nav-slot-tab" data-bs-toggle="tab" data-bs-target="#nav-slot" role="tab" aria-controls="nav-slot" aria-selected="true">
      <div class="category-page__content__top__navbar__item__img">
        <img src="assets/images/category/slot-blue.png" alt="" />
        <img class="active" src="assets/images/category/slot-blue-active.png" alt="" />
      </div>
      <div class="category-page__content__top__navbar__item__text" data-i18n="menu.Slot"></div>
    </a>
    <a href="/casino.html" class="category-page__content__top__navbar__item @@if (context.active === 2) {active}" id="nav-casino-tab" data-bs-toggle="tab" data-bs-target="#nav-casino" role="tab" aria-controls="nav-casino" aria-selected="false">
      <div class="category-page__content__top__navbar__item__img">
        <img src="assets/images/category/casino-blue.png" alt="" />
        <img class="active" src="assets/images/category/casino-blue-active.png" alt="" />
      </div>
      <div class="category-page__content__top__navbar__item__text" data-i18n="menu.Casino"></div>
    </a>
    <a href="/sport.html" class="category-page__content__top__navbar__item @@if (context.active === 3) {active}" id="nav-e-sport-tab" data-bs-toggle="tab" data-bs-target="#nav-e-sport" role="tab" aria-controls="nav-e-sport" aria-selected="false">
      <div class="category-page__content__top__navbar__item__img">
        <img src="assets/images/category/sport-blue.png" alt="" />
        <img class="active" src="assets/images/category/sport-blue-active.png" alt="" />
      </div>
      <div class="category-page__content__top__navbar__item__text" data-i18n="menu.Sport_E_sport"></div>
    </a>
    <a href="/arcade.html" class="category-page__content__top__navbar__item @@if (context.active === 4) {active}" id="nav-arcade-tab" data-bs-toggle="tab" data-bs-target="#nav-arcade" role="tab" aria-controls="nav-arcade" aria-selected="false">
      <div class="category-page__content__top__navbar__item__img">
        <img src="assets/images/category/arcade-blue.png" alt="" />
        <img class="active" src="assets/images/category/arcade-blue-active.png" alt="" />
      </div>
      <div class="category-page__content__top__navbar__item__text" data-i18n="menu.Arcade"></div>
    </a>
    <a href="/4d.html" class="category-page__content__top__navbar__item @@if (context.active === 5) {active}" id="nav-4d-tab" data-bs-toggle="tab" data-bs-target="#nav-4d" role="tab" aria-controls="nav-4d" aria-selected="false">
      <div class="category-page__content__top__navbar__item__img">
        <img src="assets/images/category/4d-blue.png" alt="" />
        <img class="active" src="assets/images/category/4d-blue-active.png" alt="" />
      </div>
      <div class="category-page__content__top__navbar__item__text" data-i18n="menu.4D"></div>
    </a>
  </div>

  <!-- <div class="category-page__content__top__navbar container-fluid">
    <a href="/slot.html" class="category-page__content__top__navbar__item @@if (context.active === 1) {active}" data-aos="fade-in">
      <div class="category-page__content__top__navbar__item__img">
        <img src="assets/images/category/slot-blue.png" alt="" />
        <img class="active" src="assets/images/category/slot-blue-active.png" alt="" />
      </div>
      <div class="category-page__content__top__navbar__item__text" data-i18n="menu.Slot"></div>
    </a>
    <a href="/casino.html" class="category-page__content__top__navbar__item @@if (context.active === 2) {active}" data-aos="fade-in">
      <div class="category-page__content__top__navbar__item__img">
        <img src="assets/images/category/casino-blue.png" alt="" />
        <img class="active" src="assets/images/category/casino-blue-active.png" alt="" />
      </div>
      <div class="category-page__content__top__navbar__item__text" data-i18n="menu.Casino"></div>
    </a>
    <a href="/sport.html" class="category-page__content__top__navbar__item @@if (context.active === 3) {active}" data-aos="fade-in">
      <div class="category-page__content__top__navbar__item__img">
        <img src="assets/images/category/sport-blue.png" alt="" />
        <img class="active" src="assets/images/category/sport-blue-active.png" alt="" />
      </div>
      <div class="category-page__content__top__navbar__item__text" data-i18n="menu.Sport_E_sport"></div>
    </a>
    <a href="/arcade.html" class="category-page__content__top__navbar__item @@if (context.active === 4) {active}" data-aos="fade-in">
      <div class="category-page__content__top__navbar__item__img">
        <img src="assets/images/category/arcade-blue.png" alt="" />
        <img class="active" src="assets/images/category/arcade-blue-active.png" alt="" />
      </div>
      <div class="category-page__content__top__navbar__item__text" data-i18n="menu.Arcade"></div>
    </a>
    <a href="/4d.html" class="category-page__content__top__navbar__item @@if (context.active === 5) {active}" data-aos="fade-in">
      <div class="category-page__content__top__navbar__item__img">
        <img src="assets/images/category/4d-blue.png" alt="" />
        <img class="active" src="assets/images/category/4d-blue-active.png" alt="" />
      </div>
      <div class="category-page__content__top__navbar__item__text" data-i18n="menu.4D"></div>
    </a>
  </div> -->

</div>