<div class="category-page__content__top">

  <!-- start slider -->
  <div class="top-slider">
    <div class="columns">
        <img src="assets/images/slider/1.png" alt="" />
    </div>
    <div class="columns">
        <img src="assets/images/slider/1.png" alt="" />
    </div>
    <div class="columns">
        <img src="assets/images/slider/1.png" alt="" />
    </div>
  </div>
  <!-- end slider -->

  <div class="category-page__content__top__navbar container-fluid">
    <a href="/slot.html" class="category-page__content__top__navbar__item @@if (context.active === 1) {active}">
      <div class="category-page__content__top__navbar__item__img">
        <img src="assets/images/category/slot-blue.svg" alt="" />
        <img class="active" src="assets/images/category/slot-blue-active.svg" alt="" />
      </div>
      <div class="category-page__content__top__navbar__item__text" data-i18n="menu.Slot"></div>
    </a>
    <a href="/casino.html" class="category-page__content__top__navbar__item @@if (context.active === 2) {active}">
      <div class="category-page__content__top__navbar__item__img">
        <img src="assets/images/category/casino-blue.svg" alt="" />
        <img class="active" src="assets/images/category/casino-blue-active.svg" alt="" />
      </div>
      <div class="category-page__content__top__navbar__item__text" data-i18n="menu.Casino"></div>
    </a>
    <a href="/sport.html" class="category-page__content__top__navbar__item @@if (context.active === 3) {active}">
      <div class="category-page__content__top__navbar__item__img">
        <img src="assets/images/category/sport-blue.svg" alt="" />
        <img class="active" src="assets/images/category/sport-blue-active.svg" alt="" />
      </div>
      <div class="category-page__content__top__navbar__item__text" data-i18n="menu.Sport_E_sport"></div>
    </a>
    <a href="/arcade.html" class="category-page__content__top__navbar__item @@if (context.active === 4) {active}">
      <div class="category-page__content__top__navbar__item__img">
        <img src="assets/images/category/arcade-blue.svg" alt="" />
        <img class="active" src="assets/images/category/arcade-blue-active.svg" alt="" />
      </div>
      <div class="category-page__content__top__navbar__item__text" data-i18n="menu.Arcade"></div>
    </a>
    <a href="/4d.html" class="category-page__content__top__navbar__item @@if (context.active === 5) {active}">
      <div class="category-page__content__top__navbar__item__img">
        <img src="assets/images/category/4d-blue.svg" alt="" />
        <img class="active" src="assets/images/category/4d-blue-active.svg" alt="" />
      </div>
      <div class="category-page__content__top__navbar__item__text" data-i18n="menu.4D"></div>
    </a>
  </div>

</div>