<div class="footer container-fluid">

  <img src="assets/icons/logo.svg" alt="" />
  <div class="footer__copy_right" data-i18n="footer_section.copy_right"></div>

  <div class="footer__items">
    <div class="footer__items__title" data-i18n="footer_section.Social_Media"></div>
    <div class="footer__items__item">
      <a href="#">
        <img src="assets/images/social/1.svg" alt="" />
      </a>
      <a href="#">
        <img src="assets/images/social/2.svg" alt="" />
      </a>
      <a href="#">
        <img src="assets/images/social/3.svg" alt="" />
      </a>
      <a href="#">
        <img src="assets/images/social/4.svg" alt="" />
      </a>
    </div>
  </div>

  <div class="footer__items">
    <div class="footer__items__title" data-i18n="footer_section.Have_any_question"></div>
    <div class="footer__items__item">
      <a href="#">
        <img src="assets/images/question/1.svg" alt="" />
      </a>
      <a href="#">
        <img src="assets/images/question/2.svg" alt="" />
      </a>
    </div>
  </div>
  
  <div class="d-flex gap-5">
    <div class="footer__items">
      <div class="footer__items__title" data-i18n="footer_section.Responsible_Gaming"></div>
      <div class="footer__items__item gap-3">
        <a href="#">
          <img src="assets/images/responsible-gaming/1.svg" alt="" />
        </a>
        <a href="#">
          <img src="assets/images/responsible-gaming/2.svg" alt="" />
        </a>
        <a href="#">
          <img src="assets/images/responsible-gaming/3.svg" alt="" />
        </a>
      </div>
    </div>
    <div class="footer__items">
      <div class="footer__items__title" data-i18n="footer_section.Security_Trust"></div>
      <div class="footer__items__item gap-3">
        <a href="#">
          <img src="assets/images/security-trust/1.svg" alt="" />
        </a>
        <a href="#">
          <img src="assets/images/security-trust/2.svg" alt="" />
        </a>
      </div>
    </div>
  </div>

  <div class="footer__items">
    <div class="footer__items__title" data-i18n="footer_section.Certification"></div>
    <div class="footer__items__item">
      <a href="#">
        <img src="assets/images/certification/1.svg" alt="" />
      </a>
    </div>
  </div>

  <div class="footer__items">
    <div class="footer__items__title" data-i18n="footer_section.Payment_Method"></div>
    <div class="footer__items__item">
      <a href="#">
        <img src="assets/images/payment-method.svg" alt="" />
      </a>
    </div>
  </div>

  
</div>