<!-- <nav class="navbar fixed-bottom navbar-light">
  <div class="container-fluid content">
    <a href="/home-without-login.html" class="nav-item @@if (context.active === 0) {active}">
      <div class="img" ><img src="assets/icons/footer-home.png" alt="" /></div>
      <div class="text" data-i18n="home">Home</div>
    </a>
    <a href="/login.html" class="nav-item @@if (context.active === 1) {active}">
      <div class="img"><img src="assets/icons/footer-wallet.png" alt="" /></div>
      <div class="text" data-i18n="wallet">Wallet</div>
    </a>
    <a href="/promotion-without-login.html" class="nav-item @@if (context.active === 2) {active}">
      <div class="img"><img src="assets/icons/footer-promotion.png" alt="" /></div>
      <div class="text" data-i18n="promotion">Promotion</div>
    </a>
    <a href="/sponsors/without-login.html" class="nav-item @@if (context.active === 3) {active}">
      <div class="img"><img src="assets/icons/footer-sponsors.png" alt="" /></div>
      <div class="text" data-i18n="sponsors">Sponsors</div>
    </a>
    <a href="/my-account-without-login.html" class="nav-item @@if (context.active === 4) {active}">
      <div class="img"><img src="assets/icons/footer-my-account.png" alt="" /></div>
      <div class="text" data-i18n="my_account">My Account</div>
    </a>
  </div>
</nav> -->

<nav class="navbar fixed-bottom navbar-light">
  <div class="container-fluid content">
    <a href="/home-without-login.html" class="nav-item @@if (context.active === 0) {active}">
      <div class="img" >
        <img src="assets/icons/footer-home.svg" alt="" />
        <img class="active" src="assets/icons/footer-home-active.svg" alt="" />
      </div>
      <div class="text" data-i18n="footer.HOME"></div>
    </a>
    <a href="/login.html" class="nav-item @@if (context.active === 1) {active}">
      <div class="img">
        <img src="assets/icons/footer-wallet.svg" alt="" />
        <img class="active" src="assets/icons/footer-wallet-active.svg" alt="" />
      </div>
      <div class="text" data-i18n="footer.WALLET"></div>
    </a>
    <a href="/promotion-without-login.html" class="nav-item @@if (context.active === 2) {active}">
      <div class="img">
        <img src="assets/icons/footer-promotion.svg" alt="" />
        <img class="active" src="assets/icons/footer-promotion-active.svg" alt="" />
      </div>
      <div class="text" data-i18n="footer.PROMOTION"></div>
    </a>
    <a href="/sponsors/without-login.html" class="nav-item @@if (context.active === 3) {active}">
      <div class="img">
        <img src="assets/icons/footer-livechat.svg" alt="" />
        <img class="active" src="assets/icons/footer-livechat-active.svg" alt="" />
      </div>
      <div class="text" data-i18n="footer.LIVE_CHAT"></div>
    </a>
    <!-- <a href="/my-account-without-login.html" class="nav-item @@if (context.active === 4) {active}">
      <div class="img">
        <img src="assets/icons/footer-my-account.svg" alt="" />
        <img class="active" src="assets/icons/footer-my-account-active.svg" alt="" />
      </div>
      <div class="text" data-i18n="my_account"></div>
    </a> -->
  </div>
</nav>