<nav class="navbar fixed-bottom navbar-light">
  <div class="container-fluid content">
    <a href="/home-without-login.html" class="nav-item @@if (context.active === 0) {active}">
      <div class="img" >
        <img src="assets/icons/footer-home.png" alt="" />
        <img class="active" src="assets/icons/footer-home-active.png" alt="" />
      </div>
      <div class="text" data-i18n="footer.HOME"></div>
    </a>
    <a href="/login.html" class="nav-item @@if (context.active === 1) {active}">
      <div class="img">
        <img src="assets/icons/footer-wallet.png" alt="" />
        <img class="active" src="assets/icons/footer-wallet-active.png" alt="" />
      </div>
      <div class="text" data-i18n="footer.WALLET"></div>
    </a>
    <a href="/promotion-without-login.html" class="nav-item @@if (context.active === 2) {active}">
      <div class="img">
        <img src="assets/icons/footer-promotion.png" alt="" />
        <img class="active" src="assets/icons/footer-promotion-active.png" alt="" />
      </div>
      <div class="text" data-i18n="footer.PROMOTION"></div>
    </a>
    <a href="/login.html" class="nav-item @@if (context.active === 3) {active}">
      <div class="img">
        <img src="assets/icons/footer-livechat.png" alt="" />
        <img class="active" src="assets/icons/footer-livechat-active.png" alt="" />
      </div>
      <div class="text" data-i18n="footer.LIVE_CHAT"></div>
    </a>
    <!-- <a href="/my-account-without-login.html" class="nav-item @@if (context.active === 4) {active}">
      <div class="img">
        <img src="assets/icons/footer-my-account.png" alt="" />
        <img class="active" src="assets/icons/footer-my-account-active.png" alt="" />
      </div>
      <div class="text" data-i18n="my_account"></div>
    </a> -->
  </div>
</nav>