<!-- Modal -->
<div class="modal fade" id="selectLanguage" tabindex="-1" aria-labelledby="selectLanguageLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="selectLanguageLabel" data-i18n="Choose_Region">Choose Region & Language</h5>
      </div>
      <div class="modal-body">

        <div class="row mb-4" role="button">
          <div class="col-4 text-center">
            <img src="assets/images/language/1.png" />
            <div class="title" data-i18n="universal_page.Malaysia"></div>
          </div>
          <div class="col-8 subtitle justify-content-start gap-2">
            <span class="choose-language" data-language="EN" data-region="Malaysia">English</span> |
            <span class="choose-language" data-language="ZH" data-region="Malaysia">中文</span> |
            <span class="choose-language" data-language="" data-region="Malaysia">Bahasa Malaysia</span>
          </div>
        </div>

        <div class="row mb-4" role="button">
          <div class="col-4 text-center">
            <img src="assets/images/language/2.png" />
            <div class="title" data-i18n="universal_page.Singapore"></div>
          </div>
          <div class="col-8 subtitle justify-content-start gap-2">
            <span class="choose-language" data-language="EN" data-region="Singapore">English</span> |
            <span class="choose-language" data-language="ZH" data-region="Singapore">中文</span>
          </div>
        </div>

        <div class="row mb-4" role="button">
          <div class="col-4 text-center">
            <img src="assets/images/language/3.png" />
            <div class="title" data-i18n="universal_page.Thailand"></div>
          </div>
          <div class="col-8 subtitle justify-content-start gap-2">
            <span class="choose-language" data-language="" data-region="Thailand">ไทย</span> |
            <span class="choose-language" data-language="EN" data-region="Thailand">English</span>
          </div>
        </div>

        <div class="row mb-4" role="button">
          <div class="col-4 text-center">
            <img src="assets/images/language/4.png" />
            <div class="title" data-i18n="universal_page.Vietnam"></div>
          </div>
          <div class="col-8 subtitle justify-content-start gap-2">
            <span class="choose-language" data-language="" data-region="Vietnam">Tiếng Việt</span> |
            <span class="choose-language" data-language="EN" data-region="Vietnam">English</span>
          </div>
        </div>

        <div class="row mb-2" role="button">
          <div class="col-4 text-center">
            <img src="assets/images/language/5.png" />
            <div class="title" data-i18n="universal_page.Indonesia"></div>
          </div>
          <div class="col-8 subtitle justify-content-start gap-2">
            <span class="choose-language" data-language="" data-region="Indonesia">Bahasa Indonesia</span> |
            <span class="choose-language" data-language="EN" data-region="Indonesia">English</span>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>