<div id="mySidenav" class="sidenav">
  <div class="left-nav">
    <div class="left-nav__container">
      <div class="left-nav__container__menu">
        <div class="left-nav__container__menu__nav">
          <div data-i18n="menu.Menu"></div>
          <img class="close-nav" src="assets/icons/close-white.svg" alt="" />
        </div>
        <div class="left-nav__container__menu__content row">
          <div class="col-6 left-nav__container__menu__content__item">
            <div>
              <img src="assets/images/menu/slot.svg" alt="" />
              <span data-i18n="menu.Slot"></span>
            </div>
          </div>
          <div class="col-6 left-nav__container__menu__content__item">
            <div>
              <img src="assets/images/menu/casino.svg" alt="" />
              <span data-i18n="menu.Casino"></span>
            </div>
          </div>
          <div class="col-6 left-nav__container__menu__content__item">
            <div>
              <img src="assets/images/menu/arcade.svg" alt="" />
              <span data-i18n="menu.Arcade"></span>
            </div>
          </div>
          <div class="col-6 left-nav__container__menu__content__item">
            <div>
              <img src="assets/images/menu/sport.svg" alt="" />
              <span data-i18n="menu.Sport_E_sport"></span>
            </div>
          </div>
          <div class="col-6 left-nav__container__menu__content__item">
            <div>
              <img src="assets/images/menu/4d.svg" alt="" />
              <span data-i18n="menu.4D"></span>
            </div>
          </div>
          <div class="col-6 left-nav__container__menu__content__item">
            <div>
              <img src="assets/images/menu/voucher.svg" alt="" />
              <span data-i18n="menu.Redeem_Voucher"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="backdrop"></div>
</div>
@@include('./select-language-modal.html')