<div id="mySidenav" class="sidenav">
  <div class="left-nav">
    <div class="left-nav__top">
      <div class="left-nav__top__info">
        <div class="left-nav__top__info__avatar">
          <img src="assets/icons/defaultProfile.png" />
        </div>
        <a href="/login.html" class="left-nav__top__info__user-info">
          <div data-i18n="Login_Register"></div>
        </a>
      </div>
      <ul class="left-nav__top__nav">
        <li class="left-nav__top__nav__item">
          <a href="/" class="left-nav__top__nav__item__link">
            <div>
              <img src="assets/icons/menu/home.png" />
            </div>
            <span data-i18n="menu.home">Home</span>
          </a>
        </li>
        <li class="left-nav__top__nav__item">
          <a href="/my-account-without-login.html" class="left-nav__top__nav__item__link">
            <div>
              <img src="assets/icons/menu/my-account.png" />
            </div>
            <span data-i18n="menu.my_account">My Account</span>
          </a>
        </li>
        <li class="left-nav__top__nav__item">
          <a href="/login.html" class="left-nav__top__nav__item__link">
            <div>
              <img src="assets/icons/menu/vip.png" />
            </div>
            <span data-i18n="menu.vip" class="text-uppercase">Vip</span>
          </a>
        </li>
        <li class="left-nav__top__nav__item">
          <a href="/promotion.html" class="left-nav__top__nav__item__link">
            <div>
              <img src="assets/icons/menu/promotion.png" />
            </div>
            <span data-i18n="Promotion">Promotion</span>
          </a>
        </li>
        <li class="left-nav__top__nav__item">
          <a href="/sponsors/" class="left-nav__top__nav__item__link">
            <div>
              <img src="assets/icons/menu/sponsor.png" />
            </div>
            <span data-i18n="menu.sponsor">Sponsor</span>
          </a>
        </li>
        <!-- <li class="left-nav__top__nav__item">
          <a href="#" class="left-nav__top__nav__item__link">
            <div>
              <img src="assets/icons/menu/faq.png" />
            </div>
            <span data-i18n="menu.faq">FAQ</span>
          </a>
        </li> -->
        <li class="left-nav__top__nav__item">
          <a href="/help/" class="left-nav__top__nav__item__link">
            <div>
              <img src="assets/icons/menu/help-center.png" />
            </div>
            <span data-i18n="menu.Help_Center">Help Center</span>
          </a>
        </li>
        <li class="left-nav__top__nav__item">
          <a href="/about-us.html" class="left-nav__top__nav__item__link">
            <div>
              <img src="assets/icons/menu/about.png" />
            </div>
            <span data-i18n="menu.about_us">About Us</span>
          </a>
        </li>
        <li class="left-nav__top__nav__item">
          <a href="/contact-us.html" class="left-nav__top__nav__item__link">
            <div>
              <img src="assets/icons/menu/contact.png" />
            </div>
            <span data-i18n="menu.contact_us">Contact Us</span>
          </a>
        </li>
        <li class="left-nav__top__nav__item">
          <a href="/login.html" class="left-nav__top__nav__item__link">
            <div>
              <img src="assets/icons/menu/info.png" />
            </div>
            <span data-i18n="inbox"></span>
            <div class="badge rounded-pill bg-danger text-white">99+</div>
          </a>
        </li>
        <li class="left-nav__top__nav__item">
          <a href="#" data-bs-toggle="modal" data-bs-target="#selectLanguage">
            <div>
              <img src="assets/icons/menu/language.png" />
            </div>
            <span data-i18n="menu.region_language">Region & Language</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="left-nav__bottom">
      <div class="left-nav__bottom__follow-us">
        <span data-i18n="menu.follow_us">Follow Us:</span>
        <div>
          <a href="https://web.facebook.com/ob9entertainment" target="_blank"><img src="assets/icons/menu/follow/facebook.png" /></a>
          <a href="https://www.instagram.com/ob9entertainment/" target="_blank"><img src="assets/icons/menu/follow/instagram.png" /></a>
          <a href="https://twitter.com/OB9ENTERTAINME1" target="_blank"><img src="assets/icons/menu/follow/twiter.png" /></a>
          <a href="https://www.youtube.com/channel/UCJl6SBeStFyGy5COdQA1nog" target="_blank"><img src="assets/icons/menu/follow/youtube.png" /></a>
        </div>
      </div>
      <div class="left-nav__bottom__logout">
        <a href="/login.html">
          <span data-i18n="Login_Register" class="text-uppercase"></span>
        </a>
      </div>
    </div>
  </div>
  <div class="backdrop"></div>
</div>
@@include('./select-language-modal.html')