<div id="mySidenav" class="sidenav">
  <div class="left-nav">
    <div class="left-nav__container">
      <div class="left-nav__container__menu">

        <div class="left-nav__container__menu__nav">
          <div data-i18n="menu.Menu"></div>
          <img class="close-nav" src="assets/icons/close-white.svg" alt="" />
        </div>

        <!-- <div class="left-nav__container__menu__welcome">
          <div class="d-flex align-items-center gap-2">
            <img class="close-nav" src="assets/icons/user-white.svg" alt="" />
            <span data-i18n="menu.Welcome"></span>
          </div>
          <a href="#" data-i18n="menu.View_my_account"></a>
        </div> -->
        
        <div class="left-nav__container__menu__content row">
          <div class="col-6 left-nav__container__menu__content__item">
            <a href="/slot-without-login.html" class="category">
              <img src="assets/images/menu/slot1.png" alt="" />
              <span data-i18n="menu.Slot"></span>
            </a>
          </div>
          <div class="col-6 left-nav__container__menu__content__item">
            <a href="/casino-without-login.html" class="category">
              <img src="assets/images/menu/casino.png" alt="" />
              <span data-i18n="menu.Casino"></span>
            </a>
          </div>
          <div class="col-6 left-nav__container__menu__content__item">
            <a href="/arcade-without-login.html" class="category">
              <img src="assets/images/menu/arcade.png" alt="" />
              <span data-i18n="menu.Arcade"></span>
            </a>
          </div>
          <div class="col-6 left-nav__container__menu__content__item">
            <a href="/sport-without-login.html" class="category">
              <img src="assets/images/menu/sport.png" alt="" />
              <span data-i18n="menu.Sport_E_sport"></span>
            </a>
          </div>
          <div class="col-6 left-nav__container__menu__content__item">
            <a href="/4d-without-login.html" class="category">
              <img src="assets/images/menu/4d.png" alt="" />
              <span data-i18n="menu.4D"></span>
            </a>
          </div>
          <div class="col-6 left-nav__container__menu__content__item">
            <a href="/voucher.html" class="category btn-please-login">
              <img src="assets/images/menu/voucher.svg" alt="" />
              <span data-i18n="menu.Redeem_Voucher"></span>
            </a>
          </div>
        </div>

        <div class="left-nav__container__menu__info">
          <a href="#">
            <img src="assets/icons/infomation.svg" alt="" />
            <span data-i18n="menu.Information"></span>
          </a>
        </div>

        <div class="left-nav__container__menu__country">
          <div>
            <img src="assets/icons/country.svg" alt="" />
            <span data-i18n="menu.Country"></span>
          </div>
          <div>
            <a class="country-name" data-bs-toggle="collapse" href="#collapseCountry" role="button" aria-expanded="false" aria-controls="collapseCountry">
              <span class="current-country" data-i18n="menu.Uwin33_Singapore"></span>
              <img src="assets/icons/down-white.svg" alt="" />
            </a>
            </div>
        </div>

        <div class="collapse" id="collapseCountry">
          <div class="collapse__item" data-region="Singapore" role="button">
            <img src="assets/images/Uwin33_Singapore.svg" alt="" />
            <span data-i18n="menu.Uwin33_Singapore"></span>
          </div>
          <div class="collapse__item" data-region="Malaysia" role="button">
            <img src="assets/images/Uwin33_Malaysia.svg" alt="" />
            <span data-i18n="menu.Uwin33_Malaysia"></span>
          </div>
        </div>

        <div class="left-nav__container__menu__action">
          <a href="/login.html" class="btn btn-warning" data-i18n="menu.Login_Register"></a>
        </div>

        <div class="left-nav__container__menu__footer">
          <a href="#" data-i18n="menu.Responsible_Gaming"></a>
          <a href="#" data-i18n="menu.Privacy_Policy"></a>
          <a href="#" data-i18n="menu.About_Us"></a>
          <a href="#" data-i18n="menu.TermsConditions"></a>
        </div>

      </div>
    </div>
  </div>
  <div class="backdrop"></div>
</div>
<!-- @@include('./select-language-modal.html') -->
