<!-- start slider -->
<div class="top-slider" data-aos="fade-in">
  <div class="columns">
      <img src="assets/images/slider/2.jpeg" alt="" />
  </div>
  <div class="columns">
      <img src="assets/images/slider/2.jpeg" alt="" />
  </div>
  <div class="columns">
      <img src="assets/images/slider/2.jpeg" alt="" />
  </div>
</div>
<!-- end slider -->

<div class="home__content__feature container-fluid" data-aos="fade-up"> 
  <div class="home__content__feature__title" data-i18n="As_feature_in"></div>
  <div class="home__content__feature__content">
    <img class="mh-13px" src="assets/images/feature/1.png" alt="" />
    <img src="assets/images/feature/2.png" alt="" />
    <img src="assets/images/feature/3.png" alt="" />
    <img src="assets/images/feature/4.png" alt="" />
    <img src="assets/images/feature/5.png" alt="" />
  </div>
</div>

<div class="home__content__category container-fluid" data-aos="fade-up">
  <a href="/slot@@if (!!context.without_login) {-without-login}.html" class="home__content__category__item">
    <div class="home__content__category__item__img">
      <img src="assets/images/category/slot-blue.png" alt="" />
    </div>
    <div class="home__content__category__item__text" data-i18n="menu.Slot"></div>
  </a>
  <a href="/casino@@if (!!context.without_login) {-without-login}.html" class="home__content__category__item">
    <div class="home__content__category__item__img">
      <img src="assets/images/category/casino-blue.png" alt="" />
    </div>
    <div class="home__content__category__item__text" data-i18n="menu.Casino"></div>
  </a>
  <a href="/sport@@if (!!context.without_login) {-without-login}.html" class="home__content__category__item">
    <div class="home__content__category__item__img">
      <img src="assets/images/category/sport-blue.png" alt="" />
    </div>
    <div class="home__content__category__item__text" data-i18n="menu.Sport_E_sport"></div>
  </a>
  <a href="/arcade@@if (!!context.without_login) {-without-login}.html" class="home__content__category__item">
    <div class="home__content__category__item__img">
      <img src="assets/images/category/arcade-blue.png" alt="" />
    </div>
    <div class="home__content__category__item__text" data-i18n="menu.Arcade"></div>
  </a>
  <a href="/4d@@if (!!context.without_login) {-without-login}.html" class="home__content__category__item">
    <div class="home__content__category__item__img">
      <img src="assets/images/category/4d-blue.png" alt="" />
    </div>
    <div class="home__content__category__item__text" data-i18n="menu.4D"></div>
  </a>
</div>

<div class="container-fluid" data-aos="fade-up">
  <div class="home__content__event row">
    <a href="/exclusive-event.html" class="home__content__event__container col-6">
      <div class="home__content__event__container__item">
        <img class="home__content__event__container__item__icon" src="assets/icons/right-white.svg" alt="" />
        <div class="home__content__event__container__item__img">
          <img src="assets/images/event-icon.png" alt="" />
        </div>
        <div class="home__content__event__container__item__sub" data-i18n="Exclusive_Event"></div>
        <div class="home__content__event__container__item__title" data-i18n="Millions_Subsidy"></div>
      </div>
    </a>
    <a href="/download-app.html" class="home__content__event__container col-6">
      <div class="home__content__event__container__item">
        <img class="home__content__event__container__item__icon" src="assets/icons/right-white.svg" alt="" />
        <div class="home__content__event__container__item__img">
          <img src="assets/images/download-icon.png" alt="" />
        </div>
        <div class="home__content__event__container__item__sub" data-i18n="Uwin33"></div>
        <div class="home__content__event__container__item__title" data-i18n="Download_App"></div>
      </div>
    </a>
  </div>
</div>


<div class="home__content__exclusive_event home-section container-fluid" data-aos="fade-up">
  <span data-i18n="home_page.Hot" class="label"></span>
  <div data-i18n="home_page.Exclusive_Event" class="title"></div>
  <div class="home__content__exclusive_event__content">
    <div class="home__content__exclusive_event__content__header">
      <div class="home__content__exclusive_event__content__header__title" data-i18n="home_page.Millions_Subsidy"></div>
      <span class="home__content__exclusive_event__content__header__total-prize">
        <span data-i18n="home_page.Total_prize"></span>: SGD 345,000
      </span>
      <img class="home__content__exclusive_event__content__header__icon" src="assets/images/exclusive-event-icon.png" alt="" />
    </div>
    <div class="home__content__exclusive_event__content__item pt-4">
      <div class="d-flex align-items-center gap-2">
        <img src="assets/icons/user-blue.svg" alt="" />
        <div class="">
          <div class="username">**ng89</div>
          <div class="name">Cai Shen 888</div>
        </div>
      </div>
      <div>
        <div class="price">SGD 932</div>
        <div class="date">14/5/2022</div>
      </div>
    </div>
    <div class="home__content__exclusive_event__content__item">
      <div class="d-flex align-items-center gap-2">
        <img src="assets/icons/user-blue.svg" alt="" />
        <div class="">
          <div class="username">**ng89</div>
          <div class="name">Cai Shen 888</div>
        </div>
      </div>
      <div>
        <div class="price">SGD 932</div>
        <div class="date">14/5/2022</div>
      </div>
    </div>
    <div class="home__content__exclusive_event__content__item">
      <div class="d-flex align-items-center gap-2">
        <img src="assets/icons/user-blue.svg" alt="" />
        <div class="">
          <div class="username">**ng89</div>
          <div class="name">Cai Shen 888</div>
        </div>
      </div>
      <div>
        <div class="price">SGD 932</div>
        <div class="date">14/5/2022</div>
      </div>
    </div>
    <div class="home__content__exclusive_event__content__item">
      <div class="d-flex align-items-center gap-2">
        <img src="assets/icons/user-blue.svg" alt="" />
        <div class="">
          <div class="username">**ng89</div>
          <div class="name">Cai Shen 888</div>
        </div>
      </div>
      <div>
        <div class="price">SGD 932</div>
        <div class="date">14/5/2022</div>
      </div>
    </div>
    <div class="home__content__exclusive_event__content__item pb-4">
      <div class="d-flex align-items-center gap-2">
        <img src="assets/icons/user-blue.svg" alt="" />
        <div class="">
          <div class="username">**ng89</div>
          <div class="name">Cai Shen 888</div>
        </div>
      </div>
      <div>
        <div class="price">SGD 932</div>
        <div class="date">14/5/2022</div>
      </div>
    </div>
    <div class="home__content__exclusive_event__content__action">
      <a href="/exclusive-event.html" class="btn btn-warning" data-i18n="home_page.Learn_More"></a>
    </div>
  </div>
</div>


<div class="home__content__gaming_licenses home-section" data-aos="fade-up">
  <div data-i18n="home_page.Gaming_Licenses" class="title"></div>
  <div class="home__content__gaming_licenses__content">
    <img class="home__content__gaming_licenses__content__img" src="assets/images/gaming-licenses/1.png" alt="" />
    <img class="home__content__gaming_licenses__content__img" src="assets/images/gaming-licenses/2.png" alt="" />
    <img class="home__content__gaming_licenses__content__img" src="assets/images/gaming-licenses/3.png" alt="" />
    <!-- <div class="home__content__gaming_licenses__content__img">
      <img src="assets/images/gaming-licenses/1.png" alt="" />
    </div>
    <div class="home__content__gaming_licenses__content__img">
      <img src="assets/images/gaming-licenses/2.png" alt="" />
    </div>
    <div class="home__content__gaming_licenses__content__img">
      <img src="assets/images/gaming-licenses/3.png" alt="" />
    </div> -->
  </div>
</div>

<div class="home__content__luck_surprise" data-aos="fade-up">
  <div class="home__content__luck_surprise__title">
    <div class="home__content__luck_surprise__title__left" data-i18n="home_page.LUCK"></div>
    <img class="home__content__luck_surprise__title__icon" src="assets/images/luck-surprise-icon.png" alt="" />
    <div class="home__content__luck_surprise__title__right" data-i18n="home_page.SURPRISE"></div>  
  </div>
  <div class="home__content__luck_surprise__subtitle" data-i18n="home_page.Uwin33_Mascot"></div>
</div>

<div class="home__content__hot_games home-section container-fluid" data-aos="fade-up">
  <span data-i18n="home_page.Slot" class="label"></span>
  <div class="d-flex justify-content-between align-items-baseline">
    <div data-i18n="home_page.Hot_Games" class="title"></div>
    <a href="/slot.html" class="subtitle" data-i18n="home_page.See_More"></a>
  </div>

  <div class="home__content__hot_games__content">
    <div class="home__content__hot_games__content__item show-action">
      <div class="home__content__hot_games__content__item__label success" data-i18n="home_page.FREE_TRIAL"></div>
      <img class="home__content__hot_games__content__item__img" src="assets/images/hot-games/1.png" alt="" />
      <div class="home__content__hot_games__content__item__title" data-i18n="home_page.5_Fortune_Dragon"></div>
      <div class="action">
        <a href="#" class="btn btn-warning btn-demo" data-i18n="home_page.Demo"></a>
        <a href="#" class="btn btn-light btn-play-real" data-i18n="home_page.Demo"></a>
      </div>
    </div>
    <div class="home__content__hot_games__content__item show-action">
      <div class="home__content__hot_games__content__item__label success" data-i18n="home_page.FREE_TRIAL"></div>
      <img class="home__content__hot_games__content__item__img" src="assets/images/hot-games/2.png" alt="" />
      <div class="home__content__hot_games__content__item__title" data-i18n="home_page.Cai_Shen_888"></div>
      <div class="action">
        <a href="#" class="btn btn-warning btn-demo" data-i18n="home_page.Demo"></a>
        <a href="#" class="btn btn-light btn-play-real" data-i18n="home_page.Demo"></a>
      </div>
    </div>
    <div class="home__content__hot_games__content__item show-action">
      <div class="home__content__hot_games__content__item__label success" data-i18n="home_page.FREE_TRIAL"></div>
      <img class="home__content__hot_games__content__item__img" src="assets/images/hot-games/3.png" alt="" />
      <div class="home__content__hot_games__content__item__title" data-i18n="home_page.Golden_Lotus"></div>
      <div class="action">
        <a href="#" class="btn btn-warning btn-demo" data-i18n="home_page.Demo"></a>
        <a href="#" class="btn btn-light btn-play-real" data-i18n="home_page.Demo"></a>
      </div>
    </div>
    <div class="home__content__hot_games__content__item show-action">
      <div class="home__content__hot_games__content__item__label danger" data-i18n="home_page.HOT"></div>
      <img class="home__content__hot_games__content__item__img" src="assets/images/hot-games/4.png" alt="" />
      <div class="home__content__hot_games__content__item__title" data-i18n="home_page.Hot_Spin"></div>
      <div class="action">
        <a href="#" class="btn btn-warning btn-demo" data-i18n="home_page.Demo"></a>
        <a href="#" class="btn btn-light btn-play-real" data-i18n="home_page.Demo"></a>
      </div>
    </div>
    <div class="home__content__hot_games__content__item show-action">
      <div class="home__content__hot_games__content__item__label danger" data-i18n="home_page.HOT"></div>
      <img class="home__content__hot_games__content__item__img" src="assets/images/hot-games/5.png" alt="" />
      <div class="home__content__hot_games__content__item__title" data-i18n="home_page.Great_Blue"></div>
      <div class="action">
        <a href="#" class="btn btn-warning btn-demo" data-i18n="home_page.Demo"></a>
        <a href="#" class="btn btn-light btn-play-real" data-i18n="home_page.Demo"></a>
      </div>
    </div>
    <div class="home__content__hot_games__content__item show-action">
      <div class="home__content__hot_games__content__item__label danger" data-i18n="home_page.HOT"></div>
      <img class="home__content__hot_games__content__item__img" src="assets/images/hot-games/6.png" alt="" />
      <div class="home__content__hot_games__content__item__title" data-i18n="home_page.Iceland"></div>
      <div class="action">
        <a href="#" class="btn btn-warning btn-demo" data-i18n="home_page.Demo"></a>
        <a href="#" class="btn btn-light btn-play-real" data-i18n="home_page.Demo"></a>
      </div>
    </div>
  </div>
</div>

<div class="home__content__special_odds home-section container-fluid" data-aos="fade-up">
  <span data-i18n="home_page.Casino" class="label"></span>
  <div class="d-flex justify-content-between align-items-baseline">
    <div data-i18n="home_page.Special_Odds" class="title"></div>
    <a href="/casino.html" class="subtitle" data-i18n="home_page.See_More"></a>
  </div>

  <div class="home__content__special_odds__content">
    <div class="home__content__special_odds__content__item">
      <img class="home__content__special_odds__content__item__img" src="assets/images/special-odds/1.png" alt="" />
      <div class="home__content__special_odds__content__item__title" data-i18n="home_page.Lightning_Roulette"></div>
      <div class="home__content__special_odds__content__item__label">
        <span data-i18n="home_page.Special_odds_label"></span>: x500
      </div>
    </div>
    <div class="home__content__special_odds__content__item">
      <img class="home__content__special_odds__content__item__img" src="assets/images/special-odds/2.png" alt="" />
      <div class="home__content__special_odds__content__item__title" data-i18n="home_page.Lightning_Baccarat"></div>
      <div class="home__content__special_odds__content__item__label">
        <span data-i18n="home_page.Special_odds_label"></span>: x500
      </div>
    </div>
  </div>
</div>

<div class="home__content__commitment home-section container-fluid" data-aos="fade-up">
  <div data-i18n="home_page.Uwin33_Commitment" class="title"></div>

  <div class="home__content__commitment__content">
    <div class="home__content__commitment__content__item">
      <img class="home__content__commitment__content__item__icon" src="assets/images/commitment/1.png" alt="" />
      <div class="home__content__commitment__content__item__title" data-i18n="home_page.commitment_title1"></div>
      <div class="home__content__commitment__content__item__description" data-i18n="home_page.commitment_description1"></div>
    </div>
    <div class="home__content__commitment__content__item">
      <img class="home__content__commitment__content__item__icon" src="assets/images/commitment/2.png" alt="" />
      <div class="home__content__commitment__content__item__title" data-i18n="home_page.commitment_title2"></div>
      <div class="home__content__commitment__content__item__description" data-i18n="home_page.commitment_description2"></div>
    </div>
  </div>
</div>


<button type="button" class="btn btn-newbie" data-bs-toggle="modal" data-bs-target="#newbieModal">
  <img src="assets/images/newbie-icon.png" alt="" />
</button>

<!-- NEWBIE MODAL -->
@@include('../newbie-modal.html')
<!-- NEWBIE MODAL -->