<!-- start slider -->
<div class="top-slider" data-aos="fade-in">
  <div class="columns">
      <img src="assets/images/slider/2.jpeg" alt="" />
  </div>
  <div class="columns">
      <img src="assets/images/slider/2.jpeg" alt="" />
  </div>
  <div class="columns">
      <img src="assets/images/slider/2.jpeg" alt="" />
  </div>
</div>
<!-- end slider -->

<div class="home__content__feature container-fluid" data-aos="fade-up"> 
  <div class="home__content__feature__title" data-i18n="As_feature_in"></div>
  <div class="home__content__feature__content">
    <img class="mh-13px" src="assets/images/feature/1.png" alt="" />
    <img src="assets/images/feature/2.png" alt="" />
    <img src="assets/images/feature/3.png" alt="" />
    <img src="assets/images/feature/4.png" alt="" />
    <img src="assets/images/feature/5.png" alt="" />
  </div>
</div>

<!-- <div class="home__content__category container-fluid" data-aos="fade-up">
  <a href="/slot@@if (!!context.without_login) {-without-login}.html" class="home__content__category__item">
    <div class="home__content__category__item__img">
      <img src="assets/images/category/slot-blue.png" alt="" />
    </div>
    <div class="home__content__category__item__text" data-i18n="menu.Slot"></div>
  </a>
  <a href="/casino@@if (!!context.without_login) {-without-login}.html" class="home__content__category__item">
    <div class="home__content__category__item__img">
      <img src="assets/images/category/casino-blue.png" alt="" />
    </div>
    <div class="home__content__category__item__text" data-i18n="menu.Casino"></div>
  </a>
  <a href="/sport@@if (!!context.without_login) {-without-login}.html" class="home__content__category__item">
    <div class="home__content__category__item__img">
      <img src="assets/images/category/sport-blue.png" alt="" />
    </div>
    <div class="home__content__category__item__text" data-i18n="menu.Sport_E_sport"></div>
  </a>
  <a href="/arcade@@if (!!context.without_login) {-without-login}.html" class="home__content__category__item">
    <div class="home__content__category__item__img">
      <img src="assets/images/category/arcade-blue.png" alt="" />
    </div>
    <div class="home__content__category__item__text" data-i18n="menu.Arcade"></div>
  </a>
  <a href="/4d@@if (!!context.without_login) {-without-login}.html" class="home__content__category__item">
    <div class="home__content__category__item__img">
      <img src="assets/images/category/4d-blue.png" alt="" />
    </div>
    <div class="home__content__category__item__text" data-i18n="menu.4D"></div>
  </a>
</div> -->

<div class="category-page__content" data-aos="fade-up">
  @@include('./tab-nav.html', {active: 0})

  @@include('./tab-content.html', {active: 0})
</div>


@@include('../first-time-revamp-modal.html')
