<div class="home-item">
  <img class="home-item__bg" src="assets/images/home/items/Esport/1.jpg" />
  <div class="home-item__official">
    <span  data-i18n="official"></span>
  </div>
  <div class="home-item__content">
    <h3 class="home-item__content__title"  data-i18n="home_items.e_sports.title1"></h3>
    <div class="home-item__content__subtitle" data-i18n="home_items.e_sports.description1"></div>
    <span class="home-item__content__highest_return"><span data-i18n="index.highest_return"></span> <strong>0.80%</strong></span>
    <button class="btn home-item__content__play_now" data-i18n="play_now"></button>
  </div>
</div>


<div class="home-item">
  <img class="home-item__bg" src="assets/images/home/items/Esport/2.jpg" />
  <div class="home-item__content">
    <h3 class="home-item__content__title"  data-i18n="home_items.e_sports.title2"></h3>
    <div class="home-item__content__subtitle" data-i18n="home_items.e_sports.description2"></div>
    <button class="btn home-item__content__play_now" data-i18n="play_now"></button>
  </div>
</div>

<div class="home-item">
  <img class="home-item__bg" src="assets/images/home/items/Esport/3.jpg" />
  <div class="home-item__content">
    <h3 class="home-item__content__title"  data-i18n="home_items.e_sports.title3"></h3>
    <div class="home-item__content__subtitle" data-i18n="home_items.e_sports.description3"></div>
    <button class="btn home-item__content__play_now" data-i18n="play_now"></button>
  </div>
</div>

<div class="home-item">
  <img class="home-item__bg" src="assets/images/home/items/Esport/4.jpg" />
  <div class="home-item__content">
    <h3 class="home-item__content__title"  data-i18n="home_items.e_sports.title4"></h3>
    <div class="home-item__content__subtitle" data-i18n="home_items.e_sports.description4"></div>
    <button class="btn home-item__content__play_now" data-i18n="play_now"></button>
  </div>
</div>

<!-- <div class="home-item">
  <img class="home-item__bg" src="assets//images/home/e-sports-2.png" />
  <div class="home-item__content">
    <h3 class="home-item__content__title" data-i18n="home_page.ESPORTS"></h3>
    <div class="home-item__content__subtitle" data-i18n="home_page.Full_complete_Tournament"></div>
    <button class="btn home-item__content__play_now" data-i18n="play_now"></button>
  </div>
</div>

<div class="home-item">
  <img class="home-item__bg" src="assets//images/home/e-sports-3.png" />
  <div class="home-item__content">
    <h3 class="home-item__content__title" data-i18n="home_page.TF_GAMING"></h3>
    <div class="home-item__content__subtitle" data-i18n="home_page.Industry_leading"></div>
    <button class="btn home-item__content__play_now" data-i18n="play_now"></button>
  </div>
</div> -->