<div class="home-item">
  <img class="home-item__bg" src="assets/images/home/items/Fish/1.jpg" />
  <div class="home-item__official">
    <span  data-i18n="official">official</span>
  </div>
  <div class="home-item__content">
    <h3 class="home-item__content__title"  data-i18n="home_items.firshing_game.title1"></h3>
    <div class="home-item__content__subtitle" data-i18n="home_items.firshing_game.description1"></div>
    <button class="btn home-item__content__play_now" data-i18n="play_now"></button>
  </div>
</div>


<div class="home-item">
  <img class="home-item__bg" src="assets/images/home/items/Fish/2.jpg" />
  <div class="home-item__content">
    <h3 class="home-item__content__title"  data-i18n="home_items.firshing_game.title2"></h3>
    <div class="home-item__content__subtitle" data-i18n="home_items.firshing_game.description2"></div>
    <button class="btn home-item__content__play_now" data-i18n="play_now"></button>
  </div>
</div>