<!-- Modal -->
<div
  class="modal fade"
  id="hotMatchModal"
  tabindex="-1"
  aria-labelledby="hotMatchModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <div class="hot-match-close-btn">
          <button type="button" data-bs-dismiss="modal">
            <img src="assets/images/hot-matcher/close.png" />
          </button>
        </div>
        <div class="hot-match-top">
          <img src="assets/images/hot-matcher/sport-header.png" />
          <div class="hot-match-top__content" data-i18n="hot_match_modal.title"></div>
        </div>

        <div class="hot-match-content">
          <div class="hot-match-items">
            <div class="hot-match-items__label">
              <div data-i18n="hot_match_modal.IGKBET"></div>
            </div>
            <div class="hot-match-items__title" data-i18n="hot_match_modal.Australian"></div>
            <div class="hot-match-items__subtitle">15/03 19:05</div>
            <div class="hot-match-items__vs row">
              <div class="col-4">
                <img src="assets/images/hot-matcher/1.png" />
                <div data-i18n="hot_match_modal.Perth_Glory"></div>
              </div>
              <div class="col-4 vs" data-i18n="hot_match_modal.vs"></div>
              <div class="col-4">
                <img src="assets/images/hot-matcher/2.png" />
                <div data-i18n="hot_match_modal.Central_Coast_Mariners"></div>
              </div>
            </div>
            <div class="hot-match-items__btn">
              <button class="btn btn-primary" data-i18n="hot_match_modal.BET_NOW"></button>
            </div>
          </div>

          <div class="hot-match-items">
            <div class="hot-match-items__label">
              <div data-i18n="hot_match_modal.IGKBET"></div>
            </div>
            <div class="hot-match-items__title" data-i18n="hot_match_modal.UEFA"></div>
            <div class="hot-match-items__subtitle">16/03 04:00</div>
            <div class="hot-match-items__vs row">
              <div class="col-4">
                <img src="assets/images/hot-matcher/3.png" />
                <div data-i18n="hot_match_modal.Manchester_United"></div>
              </div>
              <div class="col-4 vs" data-i18n="hot_match_modal.vs"></div>
              <div class="col-4">
                <img src="assets/images/hot-matcher/4.png" />
                <div data-i18n="hot_match_modal.Atlético_Madrid"></div>
              </div>
            </div>
            <div class="hot-match-items__btn">
              <button class="btn btn-primary" data-i18n="hot_match_modal.BET_NOW"></button>
            </div>
          </div>

          <div class="hot-match-items">
            <div class="hot-match-items__label">
              <div data-i18n="hot_match_modal.IGKBET"></div>
            </div>
            <div class="hot-match-items__title" data-i18n="hot_match_modal.UEFA"></div>
            <div class="hot-match-items__subtitle">16/03 04:00</div>
            <div class="hot-match-items__vs row">
              <div class="col-4">
                <img src="assets/images/hot-matcher/5.png" />
                <div data-i18n="hot_match_modal.AFC_Ajax"></div>
              </div>
              <div class="col-4 vs" data-i18n="hot_match_modal.vs"></div>
              <div class="col-4">
                <img src="assets/images/hot-matcher/6.png" />
                <div data-i18n="hot_match_modal.Benfica"></div>
              </div>
            </div>
            <div class="hot-match-items__btn">
              <button class="btn btn-primary" data-i18n="hot_match_modal.BET_NOW"></button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
