<div class="home-item">
  <img class="home-item__bg" src="assets/images/home/items/Live-Casino/1.jpg" />
  <div class="home-item__official">
    <span  data-i18n="official">official</span>
  </div>
  <div class="home-item__content">
    <h3 class="home-item__content__title"  data-i18n="home_items.live_casino.title1"></h3>
    <div class="home-item__content__subtitle" data-i18n="home_items.live_casino.description1"></div>
    <span class="home-item__content__highest_return" ><span data-i18n="index.highest_return"></span> <strong>1.00%</strong></span>
    <button class="btn home-item__content__play_now" data-i18n="play_now">Play now</button>
  </div>
</div>


<div class="home-item">
  <img class="home-item__bg" src="assets/images/home/items/Live-Casino/2.jpg" />
  <div class="home-item__content">
    <h3 class="home-item__content__title" data-i18n="home_items.live_casino.title2"></h3>
    <div class="home-item__content__subtitle" data-i18n="home_items.live_casino.description2"></div>
    <button class="btn home-item__content__play_now" data-i18n="play_now"></button>
  </div>
</div>

<div class="home-item">
  <img class="home-item__bg" src="assets/images/home/items/Live-Casino/3.jpg" />
  <div class="home-item__content">
    <h3 class="home-item__content__title" data-i18n="home_items.live_casino.title3"></h3>
    <div class="home-item__content__subtitle" data-i18n="home_items.live_casino.description3"></div>
    <button class="btn home-item__content__play_now" data-i18n="play_now"></button>
  </div>
</div>

<div class="home-item">
  <img class="home-item__bg" src="assets/images/home/items/Live-Casino/4.jpg" />
  <div class="home-item__content">
    <h3 class="home-item__content__title" data-i18n="home_items.live_casino.title4"></h3>
    <div class="home-item__content__subtitle" data-i18n="home_items.live_casino.description4"></div>
    <button class="btn home-item__content__play_now" data-i18n="play_now"></button>
  </div>
</div>

<div class="home-item">
  <img class="home-item__bg" src="assets/images/home/items/Live-Casino/5.jpg" />
  <div class="home-item__content">
    <h3 class="home-item__content__title" data-i18n="home_items.live_casino.title5"></h3>
    <div class="home-item__content__subtitle" data-i18n="home_items.live_casino.description5"></div>
    <button class="btn home-item__content__play_now" data-i18n="play_now"></button>
  </div>
</div>

<div class="home-item">
  <img class="home-item__bg" src="assets/images/home/items/Live-Casino/6.jpg" />
  <div class="home-item__content">
    <h3 class="home-item__content__title" data-i18n="home_items.live_casino.title6"></h3>
    <div class="home-item__content__subtitle" data-i18n="home_items.live_casino.description6"></div>
    <button class="btn home-item__content__play_now" data-i18n="play_now"></button>
  </div>
</div>

<div class="home-item">
  <img class="home-item__bg" src="assets/images/home/items/Live-Casino/7.jpg" />
  <div class="home-item__content">
    <h3 class="home-item__content__title" data-i18n="home_items.live_casino.title7"></h3>
    <div class="home-item__content__subtitle" data-i18n="home_items.live_casino.description7"></div>
    <button class="btn home-item__content__play_now" data-i18n="play_now"></button>
  </div>
</div>

<div class="home-item">
  <img class="home-item__bg" src="assets/images/home/items/Live-Casino/8.jpg" />
  <div class="home-item__content">
    <h3 class="home-item__content__title" data-i18n="home_items.live_casino.title8"></h3>
    <div class="home-item__content__subtitle" data-i18n="home_items.live_casino.description8"></div>
    <button class="btn home-item__content__play_now" data-i18n="play_now"></button>
  </div>
</div>
<!-- 
<div class="home-item">
  <img class="home-item__bg" src="assets//images/home/Live-Casino-3.png" />
  <div class="home-item__content">
    <h3 class="home-item__content__title" data-i18n="home_page.SEXY_CLUB"></h3>
    <div class="home-item__content__subtitle" data-i18n="home_page.Beautiful_Live_Dealers"></div>
    <button class="btn home-item__content__play_now" data-i18n="play_now"></button>
  </div>
</div>

<div class="home-item">
  <img class="home-item__bg" src="assets//images/home/Live-Casino-4.png" />
  <div class="home-item__content">
    <h3 class="home-item__content__title" data-i18n="home_page.DG_CLUB"></h3>
    <div class="home-item__content__subtitle" data-i18n="home_page.Never_the_same"></div>
    <button class="btn home-item__content__play_now" data-i18n="play_now"></button>
  </div>
</div> -->