<div class="card">
  <div class="card-header">
    <h3>@@title</h3>
    <div>15/02/2020 (Tuesday)</div>
  </div>
  <div class="card-body">
    <div class="card-body__items">
      <div class="card-body__items__item">
        <h4 class="">1st Prize</h4>
        <h4 class="">3359</h4>
      </div>
      <div class="card-body__items__item">
        <h4 class="">2nd Prize</h4>
        <h4 class="">9696</h4>
      </div>
      <div class="card-body__items__item">
        <h4 class="">3nd Prize</h4>
        <h4 class="">2929</h4>
      </div>
    </div>
   
    <div class="card-body__items">
      <div class="card-body__items__title" data-i18n="SPECIAL">SPECIAL</div>
      <div class="card-body__items__item">
        <div class="">0912</div>
        <div class="">1815</div>
        <div class="">4380</div>
      </div>
      <div class="card-body__items__item">
        <div class="">8662</div>
        <div class="">8378</div>
        <div class="">6992</div>
      </div>
      <div class="card-body__items__item">
        <div class="">8897</div>
        <div class="">9814</div>
        <div class="">9004</div>
      </div>
      <div class="card-body__items__item">
        <div class="">1103</div>
      </div>
    </div>
   
    <div class="card-body__items">
      <div class="card-body__items__title" data-i18n="CONSOLATION">CONSOLATION</div>
      <div class="card-body__items__item">
        <div class="">0912</div>
        <div class="">1815</div>
        <div class="">4380</div>
      </div>
      <div class="card-body__items__item">
        <div class="">8662</div>
        <div class="">8378</div>
        <div class="">6992</div>
      </div>
      <div class="card-body__items__item">
        <div class="">8897</div>
        <div class="">9814</div>
        <div class="">9004</div>
      </div>
      <div class="card-body__items__item">
        <div class="">1103</div>
      </div>
    </div>
   
  </div>
  <div class="card-footer">
    <button class="btn btn-primary" data-i18n="BET_NOW"></button>
    <button class="btn btn-outline-primary" data-i18n="RESULT"></button>
  </div>
</div>