<ul class="nav nav-pills slot-page-nav" id="pills-tab" role="tablist">
  <li class="nav-item" role="presentation">
    <button
      class="nav-link active"
      id="slot-page-all-tab"
      data-bs-toggle="pill"
      data-bs-target="#slot-page-all"
      type="button"
      role="tab"
      aria-controls="slot-page-all"
      aria-selected="true"
      data-i18n="slot_page.ALL"
    >
      ALL
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button
      class="nav-link"
      id="slot-page-hot-tab"
      data-bs-toggle="pill"
      data-bs-target="#slot-page-hot"
      type="button"
      role="tab"
      aria-controls="slot-page-hot"
      aria-selected="false"
      data-i18n="slot_page.HOT"
    >
      HOT
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button
      class="nav-link"
      id="slot-page-latest-tab"
      data-bs-toggle="pill"
      data-bs-target="#slot-page-latest"
      type="button"
      role="tab"
      aria-controls="slot-page-latest"
      aria-selected="false"
      data-i18n="slot_page.LATEST"
    >
      LATEST
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button
      class="nav-link"
      id="slot-page-classic-tab"
      data-bs-toggle="pill"
      data-bs-target="#slot-page-classic"
      type="button"
      role="tab"
      aria-controls="slot-page-classic"
      aria-selected="false"
      data-i18n="slot_page.CLASSIC"
    >
      CLASSIC
    </button>
  </li>
</ul>
