<div class="home-item">
  <img class="home-item__bg" src="assets/images/home/items/Slots/1.jpg" />
  <div class="home-item__official">
    <span  data-i18n="official">official</span>
  </div>
  <div class="home-item__content">
    <h3 class="home-item__content__title"  data-i18n="home_items.slot_machines.title1"></h3>
    <div class="home-item__content__subtitle" data-i18n="home_items.slot_machines.description1"></div>
    <span class="home-item__content__highest_return" ><span data-i18n="index.highest_return"></span> <strong>0.90%</strong></span>
    <a href="/slot-page.html" class="btn home-item__content__play_now" data-i18n="play_now"></a>
  </div>
</div>


<div class="home-item">
  <img class="home-item__bg" src="assets/images/home/items/Slots/2.jpg" />
  <div class="home-item__content">
    <h3 class="home-item__content__title"  data-i18n="home_items.slot_machines.title2"></h3>
    <div class="home-item__content__subtitle" data-i18n="home_items.slot_machines.description2"></div>
    <a href="/slot-page.html" class="btn home-item__content__play_now" data-i18n="play_now"></a>
  </div>
</div>

<div class="home-item">
  <img class="home-item__bg" src="assets/images/home/items/Slots/3.jpg" />
  <div class="home-item__content">
    <h3 class="home-item__content__title"  data-i18n="home_items.slot_machines.title3"></h3>
    <div class="home-item__content__subtitle" data-i18n="home_items.slot_machines.description3"></div>
    <a href="/slot-page.html" class="btn home-item__content__play_now" data-i18n="play_now"></a>
  </div>
</div>

<div class="home-item">
  <img class="home-item__bg" src="assets/images/home/items/Slots/4.jpg" />
  <div class="home-item__content">
    <h3 class="home-item__content__title"  data-i18n="home_items.slot_machines.title4"></h3>
    <div class="home-item__content__subtitle" data-i18n="home_items.slot_machines.description4"></div>
    <a href="/slot-page.html" class="btn home-item__content__play_now" data-i18n="play_now"></a>
  </div>
</div>

<div class="home-item">
  <img class="home-item__bg" src="assets/images/home/items/Slots/5.jpg" />
  <div class="home-item__content">
    <h3 class="home-item__content__title"  data-i18n="home_items.slot_machines.title5"></h3>
    <div class="home-item__content__subtitle" data-i18n="home_items.slot_machines.description5"></div>
    <a href="/slot-page.html" class="btn home-item__content__play_now" data-i18n="play_now"></a>
  </div>
</div>

<div class="home-item">
  <img class="home-item__bg" src="assets/images/home/items/Slots/6.jpg" />
  <div class="home-item__content">
    <h3 class="home-item__content__title"  data-i18n="home_items.slot_machines.title6"></h3>
    <div class="home-item__content__subtitle" data-i18n="home_items.slot_machines.description6"></div>
    <a href="/slot-page.html" class="btn home-item__content__play_now" data-i18n="play_now"></a>
  </div>
</div>

<div class="home-item">
  <img class="home-item__bg" src="assets/images/home/items/Slots/7.jpg" />
  <div class="home-item__content">
    <h3 class="home-item__content__title"  data-i18n="home_items.slot_machines.title7"></h3>
    <div class="home-item__content__subtitle" data-i18n="home_items.slot_machines.description7"></div>
    <a href="/slot-page.html" class="btn home-item__content__play_now" data-i18n="play_now"></a>
  </div>
</div>

<div class="home-item">
  <img class="home-item__bg" src="assets/images/home/items/Slots/8.jpg" />
  <div class="home-item__content">
    <h3 class="home-item__content__title"  data-i18n="home_items.slot_machines.title8"></h3>
    <div class="home-item__content__subtitle" data-i18n="home_items.slot_machines.description8"></div>
    <a href="/slot-page.html" class="btn home-item__content__play_now" data-i18n="play_now"></a>
  </div>
</div>

<!-- <div class="home-item">
  <img class="home-item__bg" src="assets//images/home/Slot-2.png" />
  <div class="home-item__content">
    <h3 class="home-item__content__title" data-i18n="home_page.QTECH_SLOTS"></h3>
    <div class="home-item__content__subtitle" data-i18n="home_page.Different_Experience"></div>
    <a href="/slot-page.html" class="btn home-item__content__play_now" data-i18n="play_now"></a>
  </div>
</div>

<div class="home-item">
  <img class="home-item__bg" src="assets//images/home/Slot-3.png" />
  <div class="home-item__content">
    <h3 class="home-item__content__title" data-i18n="home_page.CQ_SLOTS"></h3>
    <div class="home-item__content__subtitle" data-i18n="home_page.New_Trending_Games"></div>
    <a href="/slot-page.html" class="btn home-item__content__play_now" data-i18n="play_now"></a>
  </div>
</div> -->