<div class="home-item">
  <img class="home-item__bg" src="assets/images/home/items/SPORT/1.jpg" />
  <div class="home-item__official">
    <span  data-i18n="official">official</span>
  </div>
  <div class="home-item__title-head">
    <span data-i18n="popular_sports"></span>
  </div>
  <div class="home-item__content">
    <h3 class="home-item__content__title" data-i18n="home_items.sport_events.title1"></h3>
    <div class="home-item__content__subtitle" data-i18n="home_items.sport_events.description1"></div>
    <span class="home-item__content__highest_return" ><span data-i18n="index.highest_return"></span> <strong>0.80%</strong></span>
    <a href="/product-under-maintenance.html" class="btn home-item__content__play_now" data-i18n="play_now"></a>
  </div>
</div>


<div class="home-item">
  <img class="home-item__bg" src="assets/images/home/items/SPORT/2.jpg" />
  <div class="home-item__content">
    <h3 class="home-item__content__title" data-i18n="home_items.sport_events.title2"></h3>
    <div class="home-item__content__subtitle" data-i18n="home_items.sport_events.description2"></div>
    <!-- <span class="home-item__content__highest_return" ><span data-i18n="index.highest_return"></span> <strong>1.18%</strong></span> -->
    <a href="/product-under-maintenance.html" class="btn home-item__content__play_now" data-i18n="play_now"></a>
  </div>
</div>

<div class="home-item">
  <img class="home-item__bg" src="assets/images/home/items/SPORT/3.jpg" />
  <div class="home-item__content">
    <h3 class="home-item__content__title" data-i18n="home_items.sport_events.title3"></h3>
    <div class="home-item__content__subtitle" data-i18n="home_items.sport_events.description3"></div>
    <!-- <span class="home-item__content__highest_return" ><span data-i18n="index.highest_return"></span> <strong>1.18%</strong></span> -->
    <a href="/product-under-maintenance.html" class="btn home-item__content__play_now" data-i18n="play_now"></a>
  </div>
</div>