<div class="category-page__content__container">

  <div class="category-page__content__container__games_lobby home-section container-fluid">
    <span data-i18n="Arcade" class="label" data-aos="fade-up" data-aos-delay="0"></span>
    <div data-i18n="Games_Lobby" class="title" data-aos="fade-up" data-aos-delay="50"></div>
  
    <div class="category-page__content__container__games_lobby__content row" data-aos="fade-up" data-aos-delay="100">
      <div class="category-page__content__container__games_lobby__content__item col-4">
        <a class="category-page__content__container__games_lobby__content__item__content" href="#">
          <img class="category-page__content__container__games_lobby__content__item__content__icon" src="assets/images/games-lobby/arcade/1.png" alt="" />
          <div class="category-page__content__container__games_lobby__content__item__content__title" data-i18n="Fishing_God"></div>
        </a>
      </div>
      <div class="category-page__content__container__games_lobby__content__item col-4">
        <a class="category-page__content__container__games_lobby__content__item__content" href="#">
          <img class="category-page__content__container__games_lobby__content__item__content__icon" src="assets/images/games-lobby/arcade/2.png" alt="" />
          <div class="category-page__content__container__games_lobby__content__item__content__title" data-i18n="Tokyo_Kombat"></div>
        </a>
      </div>
      <div class="category-page__content__container__games_lobby__content__item col-4">
        <a class="category-page__content__container__games_lobby__content__item__content" href="#">
          <img class="category-page__content__container__games_lobby__content__item__content__icon" src="assets/images/games-lobby/arcade/3.png" alt="" />
          <div class="category-page__content__container__games_lobby__content__item__content__title" data-i18n="American_Kombat"></div>
        </a>
      </div>
    </div>
  </div>


</div>