<div class="category-page__content__container">

  <div class="category-page__content__container__special_odds home-section container-fluid">
    <span data-i18n="home_page.Casino" class="label" data-aos="fade-up" data-aos-delay="0"></span>
    <div data-i18n="home_page.Special_Odds" class="title" data-aos="fade-up" data-aos-delay="50"></div>
  
    <div class="category-page__content__container__special_odds__content" data-aos="fade-up" data-aos-delay="100">
      <div class="category-page__content__container__special_odds__content__item">
        <img class="category-page__content__container__special_odds__content__item__img" src="assets/images/special-odds/1.png" alt="" />
        <div class="category-page__content__container__special_odds__content__item__title" data-i18n="home_page.Lightning_Roulette"></div>
        <div class="category-page__content__container__special_odds__content__item__label">
          <span data-i18n="home_page.Special_odds_label"></span>: x500
        </div>
      </div>
      <div class="category-page__content__container__special_odds__content__item">
        <img class="category-page__content__container__special_odds__content__item__img" src="assets/images/special-odds/2.png" alt="" />
        <div class="category-page__content__container__special_odds__content__item__title" data-i18n="home_page.Lightning_Baccarat"></div>
        <div class="category-page__content__container__special_odds__content__item__label">
          <span data-i18n="home_page.Special_odds_label"></span>: x500
        </div>
      </div>
    </div>
  </div>
  

  <div class="category-page__content__container__games_lobby home-section container-fluid">
    <span data-i18n="home_page.Casino" class="label" data-aos="fade-up" data-aos-delay="0"></span>
    <div data-i18n="Games_Lobby" class="title" data-aos="fade-up" data-aos-delay="50"></div>
  
    <div class="category-page__content__container__games_lobby__content row" data-aos="fade-up" data-aos-delay="100">
      <div class="category-page__content__container__games_lobby__content__item col-4">
        <a class="category-page__content__container__games_lobby__content__item__img" href="#">
          <img class="category-page__content__container__games_lobby__content__item__img__icon" src="assets/images/games-lobby/casino/1.png" alt="" />
          <img class="category-page__content__container__games_lobby__content__item__img__logo" src="assets/images/games-lobby/casino/11.png" alt="" />
        </a>
      </div>
      <div class="category-page__content__container__games_lobby__content__item col-4">
        <a class="category-page__content__container__games_lobby__content__item__img" href="#">
          <img class="category-page__content__container__games_lobby__content__item__img__icon" src="assets/images/games-lobby/casino/2.png" alt="" />
          <img class="category-page__content__container__games_lobby__content__item__img__logo" src="assets/images/games-lobby/casino/21.png" alt="" />
        </a>
      </div>
      <div class="category-page__content__container__games_lobby__content__item col-4">
        <a class="category-page__content__container__games_lobby__content__item__img" href="#">
          <img class="category-page__content__container__games_lobby__content__item__img__icon" src="assets/images/games-lobby/casino/3.png" alt="" />
          <img class="category-page__content__container__games_lobby__content__item__img__logo" src="assets/images/games-lobby/casino/31.png" alt="" />
        </a>
      </div>
      <div class="category-page__content__container__games_lobby__content__item col-4">
        <a class="category-page__content__container__games_lobby__content__item__img" href="#">
          <img class="category-page__content__container__games_lobby__content__item__img__icon" src="assets/images/games-lobby/casino/4.png" alt="" />
          <img class="category-page__content__container__games_lobby__content__item__img__logo" src="assets/images/games-lobby/casino/41.png" alt="" />
        </a>
      </div>
      <div class="category-page__content__container__games_lobby__content__item col-4">
        <a class="category-page__content__container__games_lobby__content__item__img" href="#">
          <img class="category-page__content__container__games_lobby__content__item__img__icon" src="assets/images/games-lobby/casino/5.png" alt="" />
          <img class="category-page__content__container__games_lobby__content__item__img__logo" src="assets/images/games-lobby/casino/51.png" alt="" />
        </a>
      </div>
      <div class="category-page__content__container__games_lobby__content__item col-4">
        <a class="category-page__content__container__games_lobby__content__item__img" href="#">
          <img class="category-page__content__container__games_lobby__content__item__img__icon" src="assets/images/games-lobby/casino/6.png" alt="" />
          <img class="category-page__content__container__games_lobby__content__item__img__logo" src="assets/images/games-lobby/casino/61.png" alt="" />
        </a>
      </div>
    </div>
  </div>


</div>