<div class="category-page__content__container">

  <div class="category-page__content__container__hot_games home-section">
    <div class="container-fluid">
      <span data-i18n="home_page.Slot" class="label" data-aos="fade-up" data-aos-delay="0"></span>
      <div data-i18n="home_page.Hot_Games" class="title" data-aos="fade-up" data-aos-delay="50"></div>
    </div>
  
    <div class="category-page__content__container__hot_games__content" data-aos="fade-up" data-aos-delay="100">
      <div class="category-page__content__container__hot_games__content__item show-action">
        <div class="category-page__content__container__hot_games__content__item__label success" data-i18n="home_page.FREE_TRIAL"></div>
        <img class="category-page__content__container__hot_games__content__item__img" src="assets/images/hot-games/1.png" alt="" />
        <div class="category-page__content__container__hot_games__content__item__title" data-i18n="home_page.5_Fortune_Dragon"></div>
        <div class="action">
          <a href="#" class="btn btn-warning btn-demo" data-i18n="home_page.Demo"></a>
          <a href="#" class="btn btn-light btn-play-real" data-i18n="home_page.Demo"></a>
        </div>
      </div>
      <div class="category-page__content__container__hot_games__content__item show-action">
        <div class="category-page__content__container__hot_games__content__item__label success" data-i18n="home_page.FREE_TRIAL"></div>
        <img class="category-page__content__container__hot_games__content__item__img" src="assets/images/hot-games/2.png" alt="" />
        <div class="category-page__content__container__hot_games__content__item__title" data-i18n="home_page.Cai_Shen_888"></div>
        <div class="action">
          <a href="#" class="btn btn-warning btn-demo" data-i18n="home_page.Demo"></a>
          <a href="#" class="btn btn-light btn-play-real" data-i18n="home_page.Demo"></a>
        </div>
      </div>
      <div class="category-page__content__container__hot_games__content__item show-action">
        <div class="category-page__content__container__hot_games__content__item__label success" data-i18n="home_page.FREE_TRIAL"></div>
        <img class="category-page__content__container__hot_games__content__item__img" src="assets/images/hot-games/3.png" alt="" />
        <div class="category-page__content__container__hot_games__content__item__title" data-i18n="home_page.Golden_Lotus"></div>
        <div class="action">
          <a href="#" class="btn btn-warning btn-demo" data-i18n="home_page.Demo"></a>
          <a href="#" class="btn btn-light btn-play-real" data-i18n="home_page.Demo"></a>
        </div>
      </div>
      <div class="category-page__content__container__hot_games__content__item show-action">
        <div class="category-page__content__container__hot_games__content__item__label danger" data-i18n="home_page.HOT"></div>
        <img class="category-page__content__container__hot_games__content__item__img" src="assets/images/hot-games/4.png" alt="" />
        <div class="category-page__content__container__hot_games__content__item__title" data-i18n="home_page.Hot_Spin"></div>
        <div class="action">
          <a href="#" class="btn btn-warning btn-demo" data-i18n="home_page.Demo"></a>
          <a href="#" class="btn btn-light btn-play-real" data-i18n="home_page.Demo"></a>
        </div>
      </div>
      <div class="category-page__content__container__hot_games__content__item show-action">
        <div class="category-page__content__container__hot_games__content__item__label danger" data-i18n="home_page.HOT"></div>
        <img class="category-page__content__container__hot_games__content__item__img" src="assets/images/hot-games/5.png" alt="" />
        <div class="category-page__content__container__hot_games__content__item__title" data-i18n="home_page.Great_Blue"></div>
        <div class="action">
          <a href="#" class="btn btn-warning btn-demo" data-i18n="home_page.Demo"></a>
          <a href="#" class="btn btn-light btn-play-real" data-i18n="home_page.Demo"></a>
        </div>
      </div>
      <div class="category-page__content__container__hot_games__content__item show-action">
        <div class="category-page__content__container__hot_games__content__item__label danger" data-i18n="home_page.HOT"></div>
        <img class="category-page__content__container__hot_games__content__item__img" src="assets/images/hot-games/6.png" alt="" />
        <div class="category-page__content__container__hot_games__content__item__title" data-i18n="home_page.Iceland"></div>
        <div class="action">
          <a href="#" class="btn btn-warning btn-demo" data-i18n="home_page.Demo"></a>
          <a href="#" class="btn btn-light btn-play-real" data-i18n="home_page.Demo"></a>
        </div>
      </div>
    </div>
  </div>

  <div class="category-page__content__container__games_lobby home-section container-fluid">
    <span data-i18n="home_page.Slot" class="label" data-aos="fade-up" data-aos-delay="0"></span>
    <div data-i18n="Games_Lobby" class="title" data-aos="fade-up" data-aos-delay="50"></div>
  
    <div class="category-page__content__container__games_lobby__content row" data-aos="fade-up" data-aos-delay="100">
      <div class="category-page__content__container__games_lobby__content__item col-4">
        <a class="category-page__content__container__games_lobby__content__item__img" href="/play-now.html">
          <img class="category-page__content__container__games_lobby__content__item__img__icon" src="assets/images/games-lobby/slot/1.png" alt="" />
          <img class="category-page__content__container__games_lobby__content__item__img__logo" src="assets/images/games-lobby/slot/11.png" alt="" />
        </a>
      </div>
      <div class="category-page__content__container__games_lobby__content__item col-4">
        <a class="category-page__content__container__games_lobby__content__item__img" href="/play-now.html">
          <img class="category-page__content__container__games_lobby__content__item__img__icon" src="assets/images/games-lobby/slot/2.png" alt="" />
          <img class="category-page__content__container__games_lobby__content__item__img__logo" src="assets/images/games-lobby/slot/21.png" alt="" />
        </a>
      </div>
      <div class="category-page__content__container__games_lobby__content__item col-4">
        <a class="category-page__content__container__games_lobby__content__item__img" href="/play-now.html">
          <img class="category-page__content__container__games_lobby__content__item__img__icon" src="assets/images/games-lobby/slot/3.png" alt="" />
          <img class="category-page__content__container__games_lobby__content__item__img__logo" src="assets/images/games-lobby/slot/31.png" alt="" />
        </a>
      </div>
      <div class="category-page__content__container__games_lobby__content__item col-4">
        <a class="category-page__content__container__games_lobby__content__item__img" href="/play-now.html">
          <img class="category-page__content__container__games_lobby__content__item__img__icon" src="assets/images/games-lobby/slot/4.png" alt="" />
          <img class="category-page__content__container__games_lobby__content__item__img__logo" src="assets/images/games-lobby/slot/41.png" alt="" />
        </a>
      </div>
      <div class="category-page__content__container__games_lobby__content__item col-4">
        <a class="category-page__content__container__games_lobby__content__item__img" href="/play-now.html">
          <img class="category-page__content__container__games_lobby__content__item__img__icon" src="assets/images/games-lobby/slot/5.png" alt="" />
          <img class="category-page__content__container__games_lobby__content__item__img__logo" src="assets/images/games-lobby/slot/51.png" alt="" />
        </a>
      </div>
      <div class="category-page__content__container__games_lobby__content__item col-4">
        <a class="category-page__content__container__games_lobby__content__item__img" href="/play-now.html">
          <img class="category-page__content__container__games_lobby__content__item__img__icon" src="assets/images/games-lobby/slot/6.png" alt="" />
          <img class="category-page__content__container__games_lobby__content__item__img__logo" src="assets/images/games-lobby/slot/61.png" alt="" />
        </a>
      </div>
      <div class="category-page__content__container__games_lobby__content__item col-4">
        <a class="category-page__content__container__games_lobby__content__item__img" href="/play-now.html">
          <img class="category-page__content__container__games_lobby__content__item__img__icon" src="assets/images/games-lobby/slot/7.png" alt="" />
          <img class="category-page__content__container__games_lobby__content__item__img__logo" src="assets/images/games-lobby/slot/71.png" alt="" />
        </a>
      </div>
      <div class="category-page__content__container__games_lobby__content__item col-4">
        <a class="category-page__content__container__games_lobby__content__item__img" href="/play-now.html">
          <img class="category-page__content__container__games_lobby__content__item__img__icon" src="assets/images/games-lobby/slot/8.png" alt="" />
          <img class="category-page__content__container__games_lobby__content__item__img__logo" src="assets/images/games-lobby/slot/81.png" alt="" />
        </a>
      </div>
    </div>
  </div>


</div>