
<!-- Modal -->
<div class="modal fade slide-up" id="exclusiveEventTCModal" tabindex="-1" data-bs-keyboard="false" aria-labelledby="exclusiveEventTCModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="close-button">
        <img class="" src="assets/icons/down-white1.svg" alt="" data-bs-dismiss="modal" aria-label="Close"/>
      </div>
      <div class="content hide-scrollbar">
        <div class="content__title" data-i18n="exclusive_event_page.tc_popup.title1"></div>

        <p class="content__description" data-i18n="exclusive_event_page.tc_popup.description1"></p>
        <ul class="content__subdescription ps-4">
          <li data-i18n="exclusive_event_page.tc_popup.description11"></li>
          <li data-i18n="exclusive_event_page.tc_popup.description12"></li>
        </ul>

        <p class="content__description" data-i18n="exclusive_event_page.tc_popup.description2"></p>
        <ul class="content__subdescription ps-4">
          <li data-i18n="exclusive_event_page.tc_popup.description21"></li>
          <li data-i18n="exclusive_event_page.tc_popup.description22"></li>
        </ul>

        <p class="content__description" data-i18n="exclusive_event_page.tc_popup.description3"></p>
        <ul class="content__subdescription ps-4">
          <li data-i18n="exclusive_event_page.tc_popup.description31"></li>
          <li data-i18n="exclusive_event_page.tc_popup.description32"></li>
          <li data-i18n="exclusive_event_page.tc_popup.description33"></li>
          <li data-i18n="exclusive_event_page.tc_popup.description34"></li>
          <li data-i18n="exclusive_event_page.tc_popup.description35"></li>
          <li data-i18n="exclusive_event_page.tc_popup.description36"></li>
          <li data-i18n="exclusive_event_page.tc_popup.description37"></li>
          <li>
            <span data-i18n="exclusive_event_page.tc_popup.description38"></span>
            <div data-i18n="exclusive_event_page.tc_popup.description39" class="text-light my-2"></div>
          </li>
          <li>
            <span data-i18n="exclusive_event_page.tc_popup.description310"></span>
            <ul class="text-light my-2">
              <li data-i18n="exclusive_event_page.tc_popup.description311"></li>
              <li data-i18n="exclusive_event_page.tc_popup.description312"></li>
              <li data-i18n="exclusive_event_page.tc_popup.description313"></li>
              <li data-i18n="exclusive_event_page.tc_popup.description314"></li>
              <li data-i18n="exclusive_event_page.tc_popup.description315"></li>
              <li data-i18n="exclusive_event_page.tc_popup.description316"></li>
              <li data-i18n="exclusive_event_page.tc_popup.description317"></li>
              <li data-i18n="exclusive_event_page.tc_popup.description318"></li>
              <li data-i18n="exclusive_event_page.tc_popup.description319"></li>
            </ul>
          </li>
          <li data-i18n="exclusive_event_page.tc_popup.description320"></li>
        </ul>

        <p class="content__description" data-i18n="exclusive_event_page.tc_popup.description4"></p>

        <p class="content__description" data-i18n="exclusive_event_page.tc_popup.description5"></p>
      </div>
    </div>
  </div>
</div>