<!-- Modal -->
<div
  class="modal fade alert"
  id="firstTimeRevampModal"
  tabindex="-1"
  aria-labelledby="firstTimeRevampModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <img src="assets/images/firstTimeRevampModal.png" alt="" />
        <div class="title" data-i18n="firstTimeRevampModal.title"></div>
        <div class="subtitle" data-i18n="firstTimeRevampModal.description"></div>
      </div>
      <div class="modal-footer">
        <a href="/deposit.html" data-bs-dismiss="modal" class="btn btn-warning" data-i18n="firstTimeRevampModal.action"></a>
      </div>
    </div>
  </div>
</div>
