<!-- Modal -->
<div
  class="modal fade alert"
  id="forgetPasswordModal"
  tabindex="-1"
  aria-labelledby="forgetPasswordModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="forgotPasswordModalForm" class="login__form">
          <div class="title" data-i18n="login_page.Forget_Password"></div>
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              name="username"
              data-i18n="login_page.Username"
              data-i18n-attr="placeholder"
            />
          </div>
          <div class="input-group">
            <input
              type="email"
              name="email"
              class="form-control"
              data-i18n="login_page.e-mail"
              data-i18n-attr="placeholder"
            />
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-warning btn-login" data-i18n="login_page.Submit"></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
