<!-- Modal -->
<div
  class="modal fade alert"
  id="forgetPasswordSuccessModal"
  tabindex="-1"
  aria-labelledby="forgetPasswordSuccessModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-body text-center">
        <img src="assets/icons/success.svg" />
        <div class="text mb-3 mt-4" data-i18n="login_page.forgot_password_success_1"></div>
        <div class="text mb-3 mt-4" data-i18n="login_page.forgot_password_success_2"></div>
        <div class="action">
          <!-- <button type="button" class="btn btn-warning btn-confirm w-50" data-bs-dismiss="modal" data-i18n="voucher_page.Ok"></button> -->
          <a href="/login.html" class="btn btn-warning btn-confirm w-50" data-i18n="voucher_page.Ok"></a>
        </div>
      </div>
    </div>
  </div>
</div>
