<!-- Modal -->
<div
  class="modal fade alert"
  id="managePasswordSuccessModal"
  tabindex="-1"
  aria-labelledby="managePasswordSuccessModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-body text-center">
        <div class="text-center mb-4 manage_password_success_modal_content" data-i18n="manage_password_success_modal_content"></div>
        <a class="btn btn-primary" href="/login.html" data-i18n="LOGIN_NOW"></a>
      </div>
    </div>
  </div>
</div>
