<!-- Modal -->
<div
  class="modal fade alert"
  id="newbieModal"
  tabindex="-1"
  aria-labelledby="newbieModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <img src="assets/images/newbie.png" alt="" />
        <div class="title" data-i18n="home_page.Congratulation"></div>
        <div class="subtitle" data-i18n="home_page.Congratulation_des"></div>
      </div>
      <div class="modal-footer">
        <a href="/deposit.html" class="btn btn-warning" data-i18n="home_page.Deposit_Claim"></a>
      </div>
    </div>
  </div>
</div>
