<div class="register__form">
  <div class="register__form__left-button">
    <span class="btn btn-primary register_link" role="button" data-bs-target="#carouselLoginRegisterForm" data-bs-slide="prev">
      <span data-i18n="back_to_login_page"></span>
      <img src="assets//icons/user-fill.png" />
    </span>
  </div>
  <form>
    <h2 data-i18n="register">REGISTER</h2>
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1">
        <img src="assets//icons/user.png" />
      </span>
      <input
        type="text"
        class="form-control"
        data-i18n="username"
        data-i18n-attr="placeholder"
        placeholder="Username"
      />
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1">
        <img src="assets//icons/password.png" />
      </span>
      <input
        type="password"
        class="form-control"
        data-i18n="password"
        data-i18n-attr="placeholder"
        placeholder="Password"
      />
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1">
        <img src="assets//icons/password.png" />
      </span>
      <input
        type="password"
        class="form-control"
        data-i18n="confirm_password"
        data-i18n-attr="placeholder"
        placeholder="Confirm Password"
      />
    </div>
    <div class="input-group mb-3 captcha_code">
      <span class="input-group-text" id="basic-addon1">
        <img src="assets//icons/captcha.png" />
      </span>
      <input
        type="text"
        class="form-control"
        data-i18n="captcha_code"
        data-i18n-attr="placeholder"
        placeholder="Captcha Code"
      />
      <span class="input-group-text">
        <img src="assets//icons/captcha-code.png" />
      </span>
    </div>
    <div class="mt-5">
      <p class="font-small" data-i18n="register_long_text"></p>
      <a href="/register-second.html" class="btn btn-primary btn-login" data-i18n="register">REGISTER</a>
    </div>
  </form>
</div>