<form id="signUpForm" class="login__form">
  <div class="input-group">
    <input
      type="text"
      class="form-control"
      name="username"
      data-i18n="login_page.Username"
      data-i18n-attr="placeholder"
    />
    <div id="Username__help" class="form-text danger d-none" data-i18n="login_page.Username__help" ></div>
  </div>
  <div class="input-group">
    <input
      type="text"
      class="form-control"
      name="full_name"
      data-i18n="login_page.Full_Name"
      data-i18n-attr="placeholder"
    />
    <div class="form-text warning"data-i18n="login_page.Full_Name__help" ></div>
  </div>
  <div class="input-group">
    <input
      type="password"
      name="password"
      class="form-control"
      data-i18n="login_page.Password"
      data-i18n-attr="placeholder"
    />
  </div>
  <div class="input-group">
    <input
      type="password"
      name="confirm_password"
      class="form-control"
      data-i18n="login_page.Confirm_Password"
      data-i18n-attr="placeholder"
    />
  </div>
  <div class="input-group">
    <input
      type="text"
      name="contact_number"
      class="form-control"
      data-i18n="login_page.Contact_Number"
      data-i18n-attr="placeholder"
    />
  </div>
  <div class="input-group">
    <input
      type="email"
      name="email"
      class="form-control"
      data-i18n="login_page.Email"
      data-i18n-attr="placeholder"
    />
  </div>
  <div class="">
    <button type="submit" class="btn btn-warning btn-login" data-i18n="login_page.Register"></button>
  </div>
</form>