
<!-- Modal -->
<div class="modal fade slide-up" id="selectProfilePictureModal" tabindex="-1" aria-labelledby="selectProfilePictureModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-body select-profile-picture-modal">
        <div class="select-profile-picture-modal__items">
          <label class="select-profile-picture-modal__items__item">
            <input type="radio" name="select-profile-picture-modal-radio" class="d-none" data-src="assets/images/profile/1.png"/>
            <img src="assets/images/profile/1.png" />
            <span class="checkmark"></span>
          </label>
          <label class="select-profile-picture-modal__items__item">
            <input type="radio" name="select-profile-picture-modal-radio" class="d-none" data-src="assets/images/profile/2.png"/>
            <img src="assets/images/profile/2.png" />
            <span class="checkmark"></span>
          </label>
          <label class="select-profile-picture-modal__items__item">
            <input type="radio" name="select-profile-picture-modal-radio" class="d-none" data-src="assets/images/profile/3.png"/>
            <img src="assets/images/profile/3.png" />
            <span class="checkmark"></span>
          </label>
          <label class="select-profile-picture-modal__items__item">
            <input type="radio" name="select-profile-picture-modal-radio" class="d-none" data-src="assets/images/profile/4.png"/>
            <img src="assets/images/profile/4.png" />
            <span class="checkmark"></span>
          </label>
          <label class="select-profile-picture-modal__items__item">
            <input type="radio" name="select-profile-picture-modal-radio" checked class="d-none" data-src="assets/images/profile/5.png"/>
            <img src="assets/images/profile/5.png" />
            <span class="checkmark"></span>
          </label>
          <label class="select-profile-picture-modal__items__item">
            <input type="radio" name="select-profile-picture-modal-radio" class="d-none" data-src="assets/images/profile/6.png"/>
            <img src="assets/images/profile/6.png" />
            <span class="checkmark"></span>
          </label>
          <label class="select-profile-picture-modal__items__item">
            <input type="radio" name="select-profile-picture-modal-radio" class="d-none" data-src="assets/images/profile/7.png"/>
            <img src="assets/images/profile/7.png" />
            <span class="checkmark"></span>
          </label>
          <label class="select-profile-picture-modal__items__item">
            <input type="radio" name="select-profile-picture-modal-radio" class="d-none" data-src="assets/images/profile/8.png"/>
            <img src="assets/images/profile/8.png" />
            <span class="checkmark"></span>
          </label>
        </div>
        <div class="action">
          <label class="btn btn-select">
            <span data-i18n="profile.Please_select_from_album">Please select from album</span>
            <input type="file" class="d-none" />
          </label>
          <button class="btn btn-cancel" data-i18n="Cancel" data-bs-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>