<!-- Modal -->
<div
  class="modal fade alert"
  id="vpnModal"
  tabindex="-1"
  aria-labelledby="vpnModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <img class="mx-auto my-3" src="assets/images/vpn-icon.svg" alt="" />
        <div class="title text-white" data-i18n="vpn_modal_title"></div>
        <div class="text mb-3 mt-4 text-muted" data-i18n="vpn_modal_title_description"></div>
        <div class="action">
          <a href="" class="btn btn-warning btn-confirm px-4" data-i18n="Open_Chat"></a>
        </div>
      </div>
    </div>
  </div>
</div>
