<div class="promotion__content__title" data-i18n="promotion_page.Promotion"></div>

<div class="promotion__content__container">
  <div class="promotion__content__container__item" data-bannerimg="1" data-bs-toggle="modal" data-bs-target="#promotionDetail1Modal" data-aos="fade-in">
    <img class="promotion__content__container__item__img" src="assets/images/promotion/1.png" alt="" />
    <div class="promotion__content__container__item__title" data-i18n="promotion_page.title1"></div>
  </div>
  <div class="promotion__content__container__item" data-bannerimg="2" data-bs-toggle="modal" data-bs-target="#promotionDetail2Modal" data-aos="fade-up">
    <img class="promotion__content__container__item__img" src="assets/images/promotion/2.png" alt="" />
    <div class="promotion__content__container__item__title" data-i18n="promotion_page.title2"></div>
  </div>
  <div class="promotion__content__container__item" data-bannerimg="3" data-bs-toggle="modal" data-bs-target="#promotionDetail3Modal" data-aos="fade-up">
    <img class="promotion__content__container__item__img" src="assets/images/promotion/3.png" alt="" />
    <div class="promotion__content__container__item__title" data-i18n="promotion_page.title3"></div>
  </div>
  <div class="promotion__content__container__item" data-bannerimg="4" data-bs-toggle="modal" data-bs-target="#promotionDetail4Modal" data-aos="fade-up">
    <img class="promotion__content__container__item__img" src="assets/images/promotion/4.png" alt="" />
    <div class="promotion__content__container__item__title" data-i18n="promotion_page.title4"></div>
  </div>
  <div class="promotion__content__container__item" data-bannerimg="5" data-bs-toggle="modal" data-bs-target="#promotionDetail5Modal" data-aos="fade-up">
    <img class="promotion__content__container__item__img" src="assets/images/promotion/5.png" alt="" />
    <div class="promotion__content__container__item__title" data-i18n="promotion_page.title5"></div>
  </div>
  <div class="promotion__content__container__item" data-bannerimg="6" data-bs-toggle="modal" data-bs-target="#promotionDetail6Modal" data-aos="fade-up">
    <img class="promotion__content__container__item__img" src="assets/images/promotion/6.png" alt="" />
    <div class="promotion__content__container__item__title" data-i18n="promotion_page.title6"></div>
  </div>
  <div class="promotion__content__container__item" data-bannerimg="7" data-bs-toggle="modal" data-bs-target="#promotionDetail7Modal" data-aos="fade-up">
    <img class="promotion__content__container__item__img" src="assets/images/promotion/7.png" alt="" />
    <div class="promotion__content__container__item__title" data-i18n="promotion_page.title7"></div>
  </div>
</div>