
<!-- Modal -->
<div class="modal fade slide-up promotionDetailModal" id="promotionDetail5Modal" tabindex="-1" data-bs-keyboard="false" aria-labelledby="promotionDetailModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="close-button">
        <img class="" src="assets/icons/down-white1.svg" alt="" data-bs-dismiss="modal" aria-label="Close"/>
      </div>
      <img class="mb-3 mt-2 bannerimg" src="assets/images/promotion/5.png" alt="" />
      <div class="promotion-content">
        <div class="promotion-content__title" data-i18n="promotion_page.title5"></div>
        <div class="promotion-content__subtitle" data-i18n="promotion_detail_page.subtitle1"></div>
        <p class="promotion-content__description" data-i18n="promotion_detail_page.detail5modal.description11"></p>
        <p class="promotion-content__description" data-i18n="promotion_detail_page.detail5modal.description12"></p>
        <p class="promotion-content__description" data-i18n="promotion_detail_page.detail5modal.description13"></p>
        <table class="table">
          <thead>
            <tr>
              <th scope="col" data-i18n="promotion_detail_page.detail5modal.table.Min_Per_Bet"></th>
              <th scope="col" data-i18n="promotion_detail_page.detail5modal.table.Merchant"></th>
              <th scope="col" data-i18n="promotion_detail_page.detail5modal.table.Bonus"></th>
              <th scope="col" data-i18n="promotion_detail_page.detail5modal.table.Requirement"></th>
              <th scope="col" data-i18n="promotion_detail_page.detail5modal.table.Turnover"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>SGD100</td>
              <td data-i18n="promotion_detail_page.detail5modal.table.Lose_7_consecutive_games"></td>
              <td>SGD350</td>
              <td data-i18n="promotion_detail_page.detail5modal.table.Daily_ONCE"></td>
              <td>x4</td>
            </tr>
            <tr>
              <td>SGD500</td>
              <td data-i18n="promotion_detail_page.detail5modal.table.Lose_7_consecutive_games"></td>
              <td>SGD1750</td>
              <td data-i18n="promotion_detail_page.detail5modal.table.Daily_ONCE"></td>
              <td>x4</td>
            </tr>
          </tbody>
        </table>

        <div class="promotion-content__subtitle" data-i18n="promotion_detail_page.subtitle2"></div>
        <p class="promotion-content__description" data-i18n="promotion_detail_page.detail5modal.description21"></p>
        <p class="promotion-content__description" data-i18n="promotion_detail_page.detail5modal.description22"></p>
        <p class="promotion-content__description" data-i18n="promotion_detail_page.detail5modal.description23"></p>
        <p class="promotion-content__description" data-i18n="promotion_detail_page.detail5modal.description24"></p>
        <p class="promotion-content__subdescription" data-i18n="promotion_detail_page.detail5modal.description241"></p>
        <p class="promotion-content__description" data-i18n="promotion_detail_page.detail5modal.description25"></p>
        <p class="promotion-content__description" data-i18n="promotion_detail_page.detail5modal.description251"></p>
        <p class="promotion-content__description" data-i18n="promotion_detail_page.detail5modal.description26"></p>
        <p class="promotion-content__description" data-i18n="promotion_detail_page.detail5modal.description27"></p>
        <p class="promotion-content__description" data-i18n="promotion_detail_page.detail5modal.description28"></p>
      </div>
    </div>
  </div>
</div>