
<!-- Modal -->
<div class="modal fade slide-up promotionDetailModal" id="promotionDetail4Modal" tabindex="-1" data-bs-keyboard="false" aria-labelledby="promotionDetailModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="close-button">
        <img class="" src="assets/icons/down-white1.svg" alt="" data-bs-dismiss="modal" aria-label="Close"/>
      </div>
      <img class="mb-3 mt-2 bannerimg" src="assets/images/promotion/4.png" alt="" />
      <div class="promotion-content">
        <div class="promotion-content__title" data-i18n="promotion_page.title4"></div>
        <div class="promotion-content__subtitle" data-i18n="promotion_detail_page.subtitle1"></div>
        <p class="promotion-content__description" data-i18n="promotion_detail_page.detail4modal.description1"></p>
        <p class="promotion-content__description" data-i18n="promotion_detail_page.detail4modal.description11"></p>
        <table class="table">
          <thead>
            <tr>
              <th scope="col" data-i18n="promotion_detail_page.detail4modal.table.DEPOSIT"></th>
              <th scope="col" data-i18n="promotion_detail_page.detail4modal.table.PERCENTAGE"></th>
              <th scope="col" data-i18n="promotion_detail_page.detail4modal.table.MAX_BONUS_AMOUNT"></th>
              <th scope="col" data-i18n="promotion_detail_page.detail4modal.table.ROLLOVER_REQ"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td data-i18n="promotion_detail_page.detail4modal.table.1st_Deposit"></td>
              <td>100% <span data-i18n="promotion_detail_page.detail4modal.table.Bonus"></span></td>
              <td>SGD188</td>
              <td>x25</td>
            </tr>
          </tbody>
        </table>

        <div class="promotion-content__subtitle" data-i18n="promotion_detail_page.subtitle2"></div>
        <p class="promotion-content__description" data-i18n="promotion_detail_page.detail4modal.description21"></p>
        <p class="promotion-content__description" data-i18n="promotion_detail_page.detail4modal.description22"></p>
        <p class="promotion-content__subdescription" data-i18n="promotion_detail_page.detail4modal.description221"></p>
        <p class="promotion-content__description" data-i18n="promotion_detail_page.detail4modal.description23"></p>
        <p class="promotion-content__description" data-i18n="promotion_detail_page.detail4modal.description24"></p>
        <p class="promotion-content__description" data-i18n="promotion_detail_page.detail4modal.description25"></p>
        <p class="promotion-content__description" data-i18n="promotion_detail_page.detail4modal.description251"></p>
        <p class="promotion-content__description" data-i18n="promotion_detail_page.detail4modal.description26"></p>
        <p class="promotion-content__description" data-i18n="promotion_detail_page.detail4modal.description27"></p>
        <p class="promotion-content__description" data-i18n="promotion_detail_page.detail4modal.description28"></p>
        <p class="promotion-content__description" data-i18n="promotion_detail_page.detail4modal.description29"></p>
      </div>
    </div>
  </div>
</div>