
<!-- Modal -->
<div class="modal fade slide-up" id="promotionDetailModal" tabindex="-1" data-bs-keyboard="false" aria-labelledby="promotionDetailModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="close-button">
        <img class="" src="assets/icons/down-white1.svg" alt="" data-bs-dismiss="modal" aria-label="Close"/>
      </div>
      <img class="mb-3 mt-2 bannerimg" src="assets/images/promotion/1.png" alt="" />
      <div class="promotion-content">
        <div class="promotion-content__title" data-i18n="promotion_detail_page.title"></div>
        <div class="promotion-content__subtitle" data-i18n="promotion_detail_page.subtitle1"></div>
        <p class="promotion-content__description" data-i18n="promotion_detail_page.description1"></p>
        <p class="promotion-content__description" data-i18n="promotion_detail_page.description2"></p>
        <p class="promotion-content__description" data-i18n="promotion_detail_page.description3"></p>
        <table class="table">
          <thead>
            <tr>
              <th scope="col" data-i18n="promotion_detail_page.Product"></th>
              <th scope="col" data-i18n="promotion_detail_page.Weekly_Cash_Back"></th>
              <th scope="col" data-i18n="promotion_detail_page.Max_Bonus"></th>
              <th scope="col" data-i18n="promotion_detail_page.Turnover"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td data-i18n="promotion_detail_page.All_Slots_Live_Casino"></td>
              <td>6%</td>
              <td>SGD1,688</td>
              <td>x10</td>
            </tr>
          </tbody>
        </table>

        <div class="promotion-content__subtitle" data-i18n="promotion_detail_page.subtitle2"></div>
        <p class="promotion-content__description" data-i18n="promotion_detail_page.description21"></p>
        <p class="promotion-content__description" data-i18n="promotion_detail_page.description22"></p>
        <p class="promotion-content__subdescription" data-i18n="promotion_detail_page.description221"></p>
        <p class="promotion-content__description" data-i18n="promotion_detail_page.description23"></p>
        <p class="promotion-content__description" data-i18n="promotion_detail_page.description24"></p>
        <p class="promotion-content__description" data-i18n="promotion_detail_page.description25"></p>
        <p class="promotion-content__description" data-i18n="promotion_detail_page.description26"></p>
        <p class="promotion-content__description" data-i18n="promotion_detail_page.description27"></p>
        <p class="promotion-content__subdescription" data-i18n="promotion_detail_page.description271"></p>
        <p class="promotion-content__description" data-i18n="promotion_detail_page.description28"></p>
        <p class="promotion-content__description" data-i18n="promotion_detail_page.description29"></p>
        <p class="promotion-content__description" data-i18n="promotion_detail_page.description210"></p>
      </div>
    </div>
  </div>
</div>