
<!-- Modal -->
<div class="modal fade slide-up promotionDetailModal" id="promotionDetail7Modal" tabindex="-1" data-bs-keyboard="false" aria-labelledby="promotionDetailModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="close-button">
        <img class="" src="assets/icons/down-white1.svg" alt="" data-bs-dismiss="modal" aria-label="Close"/>
      </div>
      <img class="mb-3 mt-2 bannerimg" src="assets/images/promotion/7.png" alt="" />
      <div class="promotion-content">
        <div class="promotion-content__title" data-i18n="promotion_page.title7"></div>
        <div class="promotion-content__subtitle" data-i18n="promotion_detail_page.subtitle1"></div>
        <p class="promotion-content__description" data-i18n="promotion_detail_page.detail7modal.description1"></p>
        <p class="promotion-content__description" data-i18n="promotion_detail_page.detail7modal.description11"></p>
        <table class="table">
          <thead>
            <tr>
              <th scope="col" data-i18n="promotion_detail_page.detail7modal.table.Product"></th>
              <th scope="col" data-i18n="promotion_detail_page.detail7modal.table.Weekly_Cash_Back"></th>
              <th scope="col" data-i18n="promotion_detail_page.detail7modal.table.Max_Bonus"></th>
              <th scope="col" data-i18n="promotion_detail_page.detail7modal.table.Turnover"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td data-i18n="promotion_detail_page.detail7modal.table.Sports_E_Sports"></td>
              <td>6%</td>
              <td data-i18n="promotion_detail_page.detail7modal.table.Unlimited"></td>
              <td data-i18n="promotion_detail_page.detail7modal.table.NO_TURNOVER"></td>
            </tr>
          </tbody>
        </table>

        <div class="promotion-content__subtitle" data-i18n="promotion_detail_page.subtitle2"></div>
        <p class="promotion-content__description" data-i18n="promotion_detail_page.detail7modal.description21"></p>
        <p class="promotion-content__description" data-i18n="promotion_detail_page.detail7modal.description22"></p>
        <p class="promotion-content__description" data-i18n="promotion_detail_page.detail7modal.description23"></p>
        <p class="promotion-content__description" data-i18n="promotion_detail_page.detail7modal.description24"></p>
        <p class="promotion-content__description" data-i18n="promotion_detail_page.detail7modal.description25"></p>
        <p class="promotion-content__description" data-i18n="promotion_detail_page.detail7modal.description26"></p>
        <p class="promotion-content__description" data-i18n="promotion_detail_page.detail7modal.description27"></p>
        <p class="promotion-content__description" data-i18n="promotion_detail_page.detail7modal.description28"></p>
      </div>
    </div>
  </div>
</div>