<div class="betting-record-table-collapse">
  <div class="card betting-record-table-collapse__content">
    <div class="card-header">
      <div class="title">
        <span>1</span>
        <div>SG Slots</div>
      </div>
      <div class="date">26-05-2022,14:57:08</div>
    </div>
    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col" data-i18n="deposit_page.Transaction_Court"></th>
            <th scope="col" data-i18n="deposit_page.Turnover"></th>
            <th scope="col" data-i18n="deposit_page.Win_Lose"></th>
            <th scope="col" data-i18n="deposit_page.Realbet"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>5</td>
            <td>13.00</td>
            <td class="danger">-13.00</td>
            <td>13.00</td>
          </tr>
        </tbody>
      </table>
      <a href="/history-detail.html" class="btn btn-link" data-i18n="deposit_page.More_Details"></a>
    </div>
  </div>
</div>