<form class="filter">
  <div class="filter__container">
    <select class="form-select" required>
      <option value="" data-i18n="deposit_page.Type_Selection" selected></option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
  </div>
  <div class="filter__container">
    <div class="input-group">
      <input type="text" class="form-control" data-i18n="deposit_page.Date_Range" data-i18n-attr="placeholder" />
      <span class="input-group-text" data-i18n="deposit_page.To"></span>
      <input type="text" class="form-control" data-i18n="deposit_page.Date_Range" data-i18n-attr="placeholder"/>
    </div>
  </div>
  <div class="filter__container">
    <button type="button" class="btn btn-warning" data-i18n="deposit_page.Search"></button>
  </div>
</form>

<div class="history-transaction-container">

  <div class="history-transaction-container__item">
    <div class="history-transaction-container__item__left">
      <div class="title" data-i18n="deposit_page.Transfer"></div>
      <div class="currency">SGD 5,000.00</div>
    </div>
    <div class="history-transaction-container__item__right">
      <div class="status danger" data-i18n="deposit_page.Rejected"></div>
      <div class="date">11-02-2022, 12:12</div>
    </div>
  </div>

  <div class="history-transaction-container__item">
    <div class="history-transaction-container__item__left">
      <div class="title" data-i18n="deposit_page.Deposit"></div>
      <div class="currency">SGD 5,000.00</div>
    </div>
    <div class="history-transaction-container__item__right">
      <div class="status warning" data-i18n="deposit_page.Pending"></div>
      <div class="date">11-02-2022, 12:12</div>
    </div>
  </div>

  <div class="history-transaction-container__item">
    <div class="history-transaction-container__item__left">
      <div class="title" data-i18n="deposit_page.Promotion"></div>
      <div class="currency">SGD 5,000.00</div>
    </div>
    <div class="history-transaction-container__item__right">
      <div class="status success" data-i18n="deposit_page.Approved"></div>
      <div class="date">11-02-2022, 12:12</div>
    </div>
  </div>

  <div class="history-transaction-container__item">
    <div class="history-transaction-container__item__left">
      <div class="title" data-i18n="deposit_page.Withdraw"></div>
      <div class="currency">SGD 5,000.00</div>
    </div>
    <div class="history-transaction-container__item__right">
      <div class="status success" data-i18n="deposit_page.Approved"></div>
      <div class="date">11-02-2022, 12:12</div>
    </div>
  </div>

  <div class="history-transaction-container__item">
    <div class="history-transaction-container__item__left">
      <div class="title" data-i18n="deposit_page.Transfer"></div>
      <div class="currency">SGD 5,000.00</div>
    </div>
    <div class="history-transaction-container__item__right">
      <div class="status danger" data-i18n="deposit_page.Rejected"></div>
      <div class="date">11-02-2022, 12:12</div>
    </div>
  </div>

  <div class="history-transaction-container__item">
    <div class="history-transaction-container__item__left">
      <div class="title" data-i18n="deposit_page.Promotion"></div>
      <div class="currency">SGD 5,000.00</div>
    </div>
    <div class="history-transaction-container__item__right">
      <div class="status warning" data-i18n="deposit_page.Pending"></div>
      <div class="date">11-02-2022, 12:12</div>
    </div>
  </div>

  <div class="history-transaction-container__item">
    <div class="history-transaction-container__item__left">
      <div class="title" data-i18n="deposit_page.Withdraw"></div>
      <div class="currency">SGD 5,000.00</div>
    </div>
    <div class="history-transaction-container__item__right">
      <div class="status success" data-i18n="deposit_page.Approved"></div>
      <div class="date">11-02-2022, 12:12</div>
    </div>
  </div>

  <div class="history-transaction-container__item">
    <div class="history-transaction-container__item__left">
      <div class="title" data-i18n="deposit_page.Deposit"></div>
      <div class="currency">SGD 5,000.00</div>
    </div>
    <div class="history-transaction-container__item__right">
      <div class="status warning" data-i18n="deposit_page.Pending"></div>
      <div class="date">11-02-2022, 12:12</div>
    </div>
  </div>

  <div class="history-transaction-container__item">
    <div class="history-transaction-container__item__left">
      <div class="title" data-i18n="deposit_page.Transfer"></div>
      <div class="currency">SGD 5,000.00</div>
    </div>
    <div class="history-transaction-container__item__right">
      <div class="status warning" data-i18n="deposit_page.Pending"></div>
      <div class="date">11-02-2022, 12:12</div>
    </div>
  </div>

  <div class="history-transaction-container__item">
    <div class="history-transaction-container__item__left">
      <div class="title" data-i18n="deposit_page.Deposit"></div>
      <div class="currency">SGD 5,000.00</div>
    </div>
    <div class="history-transaction-container__item__right">
      <div class="status warning" data-i18n="deposit_page.Pending"></div>
      <div class="date">11-02-2022, 12:12</div>
    </div>
  </div>

</div>

<div class="history-transaction-pagination">
  <a class="btn btn-sm btn-secondary" href="#">
    <img src="assets/icons/pagination-left.svg" alt="" />
  </a>
  <a class="btn btn-sm btn-link active" href="#">1</a>
  <a class="btn btn-sm btn-link" href="#">2</a>
  <a class="btn btn-sm btn-link" href="#">3</a>
  <a class="btn btn-sm btn-link disabled" href="#">...</a>
  <a class="btn btn-sm btn-secondary" href="#">
    <img src="assets/icons/pagination-right.svg" alt="" />
  </a>
</div>