<form class="filter">
  <div class="filter__container">
    <div class="input-group">
      <input type="text" class="form-control" data-i18n="deposit_page.Date_Range" data-i18n-attr="placeholder" />
      <span class="input-group-text" data-i18n="deposit_page.To"></span>
      <input type="text" class="form-control" data-i18n="deposit_page.Date_Range" data-i18n-attr="placeholder"/>
    </div>
  </div>
  <div class="filter__container">
    <button type="button" class="btn btn-warning" data-i18n="deposit_page.Search"></button>
  </div>
</form>

<div class="table-responsive betting-record-table">
  <table id="accordionParent" class="table table-striped">
    <thead>
      <tr>
        <th scope="col" data-i18n="deposit_page.Date" class="text-start"></th>
        <th scope="col" data-i18n="deposit_page.Transaction_Court"></th>
        <th scope="col" data-i18n="deposit_page.Turnover"></th>
        <th scope="col" data-i18n="deposit_page.Win_Lose"></th>
        <th scope="col" data-i18n="deposit_page.Realbet"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td data-i18n="deposit_page.Total" class="text-start"></td>
        <td class="warning">72</td>
        <td class="warning">281.64</td>
        <td class="danger">-49.93</td>
        <td class="warning">279.04</td>
      </tr>

      <tr>
        <td class="text-start">
          <a href="#" class="show-detail" data-bs-toggle="collapse" data-bs-target="#collapse1">2022/05/04</a>
        </td>
        <td>5</td>
        <td>13.00</td>
        <td>-13.00</td>
        <td>13.00</td>
      </tr>

      <tr>
        <td colspan="5" class="p-0">
          <div id="collapse1" class="accordion-collapse collapse" aria-labelledby="heading1" data-bs-parent="#accordionParent">
            @@include('./betting-record-table-collapse.html')
          </div>
        </td>
      </tr>

      <tr>
        <td class="text-start">
          <a href="#" class="show-detail" data-bs-toggle="collapse" data-bs-target="#collapse2">2022/05/09</a>
        </td>
        <td>4</td>
        <td>40.00</td>
        <td>0.00</td>
        <td>40.00</td>
      </tr>

      <tr>
        <td colspan="5" class="p-0">
          <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="heading2" data-bs-parent="#accordionParent">
            @@include('./betting-record-table-collapse.html')
          </div>
        </td>
      </tr>

      <tr>
        <td class="text-start">
          <a href="#" class="show-detail" data-bs-toggle="collapse" data-bs-target="#collapse3">2022/05/17</a>
        </td>
        <td>13</td>
        <td>47.30</td>
        <td>-36.35</td>
        <td>45.30</td>
      </tr>

      <tr>
        <td colspan="5" class="p-0">
          <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="heading3" data-bs-parent="#accordionParent">
            @@include('./betting-record-table-collapse.html')
          </div>
        </td>
      </tr>

      <tr>
        <td class="text-start">
          <a href="#" class="show-detail" data-bs-toggle="collapse" data-bs-target="#collapse4">2022/05/18</a>
        </td>
        <td>2</td>
        <td>4.00</td>
        <td>-0.10</td>
        <td>4.00</td>
      </tr>

      <tr>
        <td colspan="5" class="p-0">
          <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="heading4" data-bs-parent="#accordionParent">
            @@include('./betting-record-table-collapse.html')
          </div>
        </td>
      </tr>

      <tr>
        <td class="text-start">
          <a href="#" class="show-detail" data-bs-toggle="collapse" data-bs-target="#collapse5">2022/05/19</a>
        </td>
        <td>37</td>
        <td>18.34</td>
        <td>-5.48</td>
        <td>17.74</td>
      </tr>

      <tr>
        <td colspan="5" class="p-0">
          <div id="collapse5" class="accordion-collapse collapse" aria-labelledby="heading5" data-bs-parent="#accordionParent">
            @@include('./betting-record-table-collapse.html')
          </div>
        </td>
      </tr>


      <tr>
        <td class="text-start">
          <a href="#" class="show-detail" data-bs-toggle="collapse" data-bs-target="#collapse6">2022/05/21</a>
        </td>
        <td>1</td>
        <td>85.00</td>
        <td>35.00</td>
        <td>85.00</td>
      </tr>

      <tr>
        <td colspan="5" class="p-0">
          <div id="collapse6" class="accordion-collapse collapse" aria-labelledby="heading6" data-bs-parent="#accordionParent">
            @@include('./betting-record-table-collapse.html')
          </div>
        </td>
      </tr>

      <tr>
        <td class="text-start">
          <a href="#" class="show-detail" data-bs-toggle="collapse" data-bs-target="#collapse7">2022/05/24</a>
        </td>
        <td>9</td>
        <td>72.00</td>
        <td>-22.00</td>
        <td>72.00</td>
      </tr>

      <tr>
        <td colspan="5" class="p-0">
          <div id="collapse7" class="accordion-collapse collapse" aria-labelledby="heading7" data-bs-parent="#accordionParent">
            @@include('./betting-record-table-collapse.html')
          </div>
        </td>
      </tr>


      <tr>
        <td class="text-start">
          <a href="#" class="show-detail" data-bs-toggle="collapse" data-bs-target="#collapse8">2022/05/31</a>
        </td>
        <td>1</td>
        <td>2.00</td>
        <td>-2.00</td>
        <td>2.00</td>
      </tr>

      <tr>
        <td colspan="5" class="p-0">
          <div id="collapse8" class="accordion-collapse collapse" aria-labelledby="heading8" data-bs-parent="#accordionParent">
            @@include('./betting-record-table-collapse.html')
          </div>
        </td>
      </tr>


    </tbody>
  </table>
</div>

<div class="history-transaction-pagination">
  <a class="btn btn-sm btn-secondary" href="#">
    <img src="assets/icons/pagination-left.svg" alt="" />
  </a>
  <a class="btn btn-sm btn-link active" href="#">1</a>
  <a class="btn btn-sm btn-link" href="#">2</a>
  <a class="btn btn-sm btn-link" href="#">3</a>
  <a class="btn btn-sm btn-link disabled" href="#">...</a>
  <a class="btn btn-sm btn-secondary" href="#">
    <img src="assets/icons/pagination-right.svg" alt="" />
  </a>
</div>